include ../../single-product/single-product__review.pug
include parts



mixin product-review-on-store--moderate
    .product-review(data-tab="moderate")
        .product-review__wrp
            .product-review__content
                .review-content
                    .review-content__top
                        .review-content__h3 На модерации (12)
                        .review-content__action
                            .review-content__mobile
                                button(data-filter="open" data-elem="review-store--moderate") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры

                    .review-content__list(data-review="list")

                        .review-content__item: +card-review--moderate
                        .review-content__item: +card-review-reply--moderate
                        .review-content__item: +card-review--moderate
                        .review-content__item: +card-review--moderate
                        .review-content__item: +card-review-reply--moderate
                        .review-content__item: +card-review--moderate
                        .review-content__item: +card-review--moderate

                    .review-content__more
                        button(data-review="load" data-id="289")
                            +icons('#ic_more', 14)
                            span Показать ещё

            .product-review__aside
                .review-filter(data-filter-container="review-store--moderate") 
                    .review-filter__head
                        .review-filter__head-title Фильтры и сортировка
                        .review-filter__head-close: span.icon-cross(data-filter="open" data-elem="review-store--moderate")

                    .review-filter__wrp
                        
                        .review-filter__form
                            form(action='#' method='POST')
                                .review-filter__props
                                    .review-filter__item: +prop-checkbox({
                                        title: 'Оценка покупателей',
                                        checkbox: [
                                            'Отлично (72)',
                                            'Хорошо (5)',
                                            'Средне (3)',
                                            'Плохо (1)',
                                            'Ужасно (1)',
                                        ]
                                    })

                                .review-filter__submit
                                    .review-filter__send(data-filter="submit")
                                        button.btn
                                            span Показать
                                            small 72 отзыва
                                    .review-filter__clear(data-filter="clear")
                                        span.icon-cross 
                                        small Очистить <span>все фильтры</span>


mixin product-review-on-store--public
    .product-review(data-tab="public")
        .product-review__wrp
            .product-review__content
                .review-content
                    .review-content__top
                        .review-content__h3 Опубликованные (625)
                        .review-content__action
                            .review-content__mobile
                                button(data-filter="open" data-elem="review-store--public") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры
                            

                    .review-content__list(data-review="list")

                        .review-content__item: +card-review--store
                        .review-content__item: +card-review-reply--store
                        .review-content__item: +card-review--store
                        .review-content__item: +card-review--store
                        .review-content__item: +card-review-reply--store
                        .review-content__item: +card-review--store
                        .review-content__item: +card-review--store

                    .review-content__more
                        button(data-review="load" data-id="289")
                            +icons('#ic_more', 14)
                            span Показать ещё

            .product-review__aside
                .review-filter(data-filter-container="review-store--public") 
                    .review-filter__head
                        .review-filter__head-title Фильтры и сортировка
                        .review-filter__head-close: span.icon-cross(data-filter="open" data-elem="review-store--public")

                    .review-filter__wrp
                        
                        .review-filter__form
                            form(action='#' method='POST')
                                .review-filter__props
                                    .review-filter__item: +prop-checkbox({
                                        title: 'Оценка покупателей',
                                        checkbox: [
                                            'Отлично (72)',
                                            'Хорошо (5)',
                                            'Средне (3)',
                                            'Плохо (1)',
                                            'Ужасно (1)',
                                            'Без ответа магазина (12)',
                                        ]
                                    })

                                .review-filter__submit
                                    .review-filter__send(data-filter="submit")
                                        button.btn
                                            span Показать
                                            small 72 отзыва
                                    .review-filter__clear(data-filter="clear")
                                        span.icon-cross 
                                        small Очистить <span>все фильтры</span>
