@mixin img-contain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 90%;
    width: auto !important;
    height: auto;
    margin: auto;
}

@mixin layer($z) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z;
}

@mixin picture($h, $fit) {

    position: relative;
    display: block;
    padding-top: $h;

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: $fit;
    }

}

@mixin box-square {
    padding-top: 100%;
    position: relative;
    display: flex;
}

@mixin line-clamp($number) {
    letter-spacing: normal;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@mixin bgimage_cover {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transition: 0.3s ease;

}

@mixin modal-gray {
    font-size: 14px
        /*14*/
    ;
    line-height: 140%;
    color: #666666;
}


@mixin bgimage_cover-scale {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

@mixin bgimage_contain {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

@mixin h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    @media screen and (max-width: $w1376) {
        font-size: 22px;
    }
}

@mixin rating {
    display: flex;
    align-items: center;

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    & li {
        margin-right: rem(5);
    }
}

@mixin size-full($n) {
    $val: 100% / $columns * $n;
    width: #{calc(#{$val})
}
}

@mixin padd-top($px) {
    padding-top: rem($px);

    @media screen and (max-width: $w1440) {
        $val: (1440 * $px) / 1920;
        padding-top: rem($val);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-top: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-top: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;
        padding-top: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin padd-bottom($px) {
    padding-bottom: rem($px);

    @media screen and (max-width: $w1440) {
        $val: (1440 * $px) / 1920;
        padding-bottom: rem($val);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-bottom: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-bottom: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;
        padding-bottom: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin padd-left($px) {
    padding-left: rem($px);

    @media screen and (max-width: $w1440) {
        $val: (1440 * $px) / 1920;
        padding-left: rem($val);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-left: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-left: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;
        padding-left: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin padd-right($px) {
    padding-right: rem($px);

    @media screen and (max-width: $w1440) {
        $val: (1440 * $px) / 1920;
        padding-right: rem($val);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-right: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-right: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;
        padding-right: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin padd-x($px) {
    padding-top: rem($px);
    padding-bottom: rem($px);

    @media screen and (max-width: $w1440) {
        $val: (1440 * $px) / 1920;
        padding-bottom: rem($val);
        padding-top: rem($val);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-bottom: rem($val2);
        padding-top: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-bottom: rem($val2);
        padding-top: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;

        padding-bottom: if($val2 > 50, rem($val2), rem(50));
        padding-top: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin padd-y($px) {
    padding-left: rem($px);
    padding-right: rem($px);

    @media screen and (max-width: $w1440) {
        $val2: (1440 * $px) / 1920;
        padding-left: rem($val2);
        padding-right: rem($val2);
    }

    @media screen and (max-width: $w1376) {
        $val2: (1376 * $px) / 1920;
        padding-left: rem($val2);
        padding-right: rem($val2);
    }

    @media screen and (max-width: $w1100) {
        $val2: (1600 * $px) / 1920;
        padding-left: rem($val2);
        padding-right: rem($val2);
    }

    @media screen and (max-width: $w992) {
        $val2: (940 * $px) / 1920;
        padding-left: if($val2 > 50, rem($val2), rem(50));
        padding-right: if($val2 > 50, rem($val2), rem(50));
    }
}

@mixin font-size-40 {
    font-size: 40px;

    @media screen and (max-width: $w1200) {
        font-size: 38px;
    }

    @media screen and (max-width: $w992) {
        font-size: 36px;
    }

    @media screen and (max-width: $w576) {
        font-size: 30px;
    }

    @media screen and (max-width: $w480) {
        font-size: 26px;
    }
}

@mixin font-size-22 {
    font-size: 22px;

    @media screen and (max-width: $w760) {
        font-size: 20px;
    }

    @media screen and (max-width: $w576) {
        font-size: 19px;
    }

    @media screen and (max-width: $w480) {
        font-size: 16px;
    }
}

@mixin font-size-18 {
    font-size: 18px;
}

@mixin font-size-16 {
    font-size: 16px;

    @media screen and (max-width: $w992) {
        font-size: 14px;
    }
}

@mixin font-size-15 {
    font-size: 15px;
}

@mixin font-size-14 {
    font-size: 14px;
}

@mixin font-size-13 {
    font-size: 13px;
}

@mixin font-size-12 {
    font-size: 12px;
}