$main: #DF1F26;

$accent-1-1: #DF1F26;
$accent-1-2: #B81A1F;

$accent-2-1: #7B61FF;
$accent-2-2: #8870FF;
$accent-2-3: #000;
$accent-2-4: #000;

$accent-3-1: #FFCC00;
$accent-4-1: #409483;

$violet-1-1: #2D2148;
//$violet-1-2: #735baa;
$violet-1-2: #352A4F;
$violet-2-1: #887CA3;

$main-dark: #111111;
$main-dark-1: #292833;
$main-dark-2: #424152;
$main-dark-3: #5A5970;

$gray-85: #d9d9d9;
$gray-48: #7A7A7A;
$gray-74: #ABA9BC;


$gray-96: #f5f5f5;
$gray-92: #ebebeb;
$gray-80: #ccc;
$gray-56: #8f8f8f;
$gray-13: #222222;
$gray-22: #222222;



$main1-2: #6B6985;
$main2: #92919F;
$main-gray: #E7E6F5;
$black: #222B32;
$white: #fff;
$darkViolet: #161b37;
$violet: #A83BB1;
$blue: #367fbd;
$grayBlue: #86A5C1;
//$red: #BF3232;
$pink: #fe3e77;
$dark: #222B32;
$gray: #D6D6D6;
$lgray: #ccc;
$mgray: #b8b8b8;
$yellow: #ffd223;
$green: #37A735;
$red: #DF1F26;
$orange: #EB7D00;

$lightGray: #f3f3f3;

/* media breakpoints */

$w1660: 1660px;
$w1440: 1440px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w992: 992.98px;
$w760: 768.98px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;

$cubick: transform .3s cubic-bezier(.1, .82, .25, 1),
opacity .3s cubic-bezier(.1, .82, .25, 1),
height .3s cubic-bezier(.1, .82, .25, 1);

/*  */