$main: #93C227;

$accent-2-1: #93C227;
$accent-2-2: #B0E03F;
$accent-2-3: #86B21E;
$accent-2-4: #709320;

$main-dark: #111111;
$main-dark-1: #292833;
$main-dark-2: #424152;
$main-dark-3: #5A5970;

$gray-85: #d9d9d9;
$gray-48: #7A7A7A;
$gray-74: #ABA9BC;

$main1-2: #6B6985;

$main2: #92919F;
$main-gray: #E7E6F5;
$black: #222B32;
$white: #fff;
$darkViolet: #161b37;
$violet: #A83BB1;
$blue: #367fbd;
$grayBlue: #86A5C1;
//$red: #BF3232;
$pink: #fe3e77;
$dark: #222B32;
$gray: #D6D6D6;
$lgray: #ccc;
$mgray: #b8b8b8;
$yellow: #ffd223;
$green: #2FA81A;
$red: #cf1c5d;
$orange: #EB7D00;

$lightGray: #f3f3f3;

/* media breakpoints */

$w1660: 1660px;
$w1440: 1440px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w992: 992px;
$w760: 767px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;

$cubick: transform .3s cubic-bezier(.1, .82, .25, 1),
opacity .3s cubic-bezier(.1, .82, .25, 1),
height .3s cubic-bezier(.1, .82, .25, 1);

/*  */