mixin collections-block
    section.section-collections-block
        .container
            .collections-block
                .collections-block__tags
                    ul
                        li: a(href='tag.html') Смартфоны Apple
                        li: a(href='tag.html') Телевизоры Hisense
                        li: a(href='tag.html') Смартфоны Samsung
                        li: a(href='tag.html') Смартфоны Xiaomi
                        li: a(href='tag.html') Ноутбуки Apple
                        li: a(href='tag.html') Ноутбуки Asus
                        li: a(href='tag.html') Ноутбуки Xiaomi
                        li: a(href='tag.html') MacBook Pro
                        li: a(href='tag.html') MacBook Air
                        li: a(href='tag.html') Телевизоры LG
                        li: a(href='tag.html') Телевизоры Samsung
                        li: a(href='tag.html') Телевизоры Sony
                        li: a(href='tag.html') Планшеты Apple
                        li: a(href='tag.html') Планшеты Xiaomi
                        li: a(href='tag.html') Смарт-часы Apple 
                        li: a(href='tag.html') Умные часы Garmin

                .collections-block__more: span Показать все