mixin collections-block
    section.section-collections-block
        .container
            .collections-block
                .collections-block__tags
                    ul
                        li: a(href='catalog.html') Смартфоны Apple
                        li: a(href='catalog.html') Телевизоры Hisense
                        li: a(href='catalog.html') Смартфоны Samsung
                        li: a(href='catalog.html') Смартфоны Xiaomi
                        li: a(href='catalog.html') Ноутбуки Apple
                        li: a(href='catalog.html') Ноутбуки Asus
                        li: a(href='catalog.html') Ноутбуки Xiaomi
                        li: a(href='catalog.html') MacBook Pro
                        li: a(href='catalog.html') MacBook Air
                        li: a(href='catalog.html') Телевизоры LG
                        li: a(href='catalog.html') Телевизоры Samsung
                        li: a(href='catalog.html') Телевизоры Sony
                        li: a(href='catalog.html') Планшеты Apple
                        li: a(href='catalog.html') Планшеты Xiaomi
                        li: a(href='catalog.html') Смарт-часы Apple 
                        li: a(href='catalog.html') Умные часы Garmin
                        li: a(href='catalog.html') Телевизоры Sony
                        li: a(href='catalog.html') Планшеты Apple
                        li: a(href='catalog.html') Планшеты Xiaomi
                        li: a(href='catalog.html') Смарт-часы Apple 
                        li: a(href='catalog.html') Умные часы Garmin

                .collections-block__more: span Показать все

mixin collections-block--single
    .collections-block
        .collections-block__title Полезные подборки
        .collections-block__tags
            ul
                li: a(href='catalog.html') Все ноутбуки
                li: a(href='catalog.html') Ультрабуки
                li: a(href='catalog.html') Ноутбуки HP
                li: a(href='catalog.html') Ноутбуки 2023
                li: a(href='catalog.html') Смартфоны Samsung
                li: a(href='catalog.html') Смартфоны Xiaomi
                li: a(href='catalog.html') Ноутбуки Apple
                li: a(href='catalog.html') Ноутбуки Asus
                li: a(href='catalog.html') Ноутбуки Xiaomi
                li: a(href='catalog.html') MacBook Pro
                li: a(href='catalog.html') MacBook Air
                li: a(href='catalog.html') Телевизоры LG
                li: a(href='catalog.html') Телевизоры Samsung
                li: a(href='catalog.html') Телевизоры Sony
                li: a(href='catalog.html') Планшеты Apple
                li: a(href='catalog.html') Планшеты Xiaomi
                li: a(href='catalog.html') MacBook Pro
                li: a(href='catalog.html') MacBook Air
                li: a(href='catalog.html') Телевизоры LG
                li: a(href='catalog.html') Телевизоры Samsung
                li: a(href='catalog.html') Телевизоры Sony
                li: a(href='catalog.html') Планшеты Apple
                li: a(href='catalog.html') Планшеты Xiaomi
                li: a(href='catalog.html') Смарт-часы Apple 
                li: a(href='catalog.html') Умные часы Garmin
            
        .collections-block__more: span Показать все