include  ../../components/breadcrumb/breadcrumb.pug

mixin banner-min
    .min-banner(style="background-color: #409483")
        .min-banner__wrp
            .min-banner__title Лучшие ноутбуки и планшеты 2022
            .min-banner__subtitle Самые популярные модели и производительные <br> модели этого года!
            .min-banner__image
                +picture('/img/other/image34')

mixin banner-image()
    .image-banner 
       .image-banner__image
            a(href='#banner2')
                picture 
                        source(srcset="/img/other/Banner2.webp" type="image/webp" media="(min-width: 576px)")
                        source(srcset="/img/other/Banner2.jpg" type="image/jpeg" media="(min-width: 576px)")
                        source(srcset="/img/other/Banner2_760.jpg" type="image/webp" )
                        img(src="/img/other/Banner2_760.jpg" alt="Image")
        

mixin catalog-category
    section.section-catalog-category
        .container
            .catalog-category
                .catalog-category__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Компьютеры',
                    ])
                .catalog-category__h1: h1 Компьютеры 

                .catalog-category__content
                    .catalog-category__asise(data-catalog="nav")
                        nav
                            ul
                                each sub1 in catalog[0].sub
                                    li
                                        a(href='#')= sub1.title 
                                        if(sub1.sub)
                                            ul.sub-menu
                                                each sub2 in sub1.sub
                                                    li
                                                        a(href='#')= sub2.title 
                        .catalog-category__all.sub-menu-toggle(data-all-catid="show") Показать все категории


                    .catalog-category__main
                        .catalog-category__banner: +banner-image()
                        .catalog-category__h2 Купить компьютерную технику на Vako
                        .catalog-category__list
                            each item in products
                                .catalog-category__item: +card-category(item)

mixin card-category(data)
    .card-category
        .card-category__name
            a(href='#')= data.title
        .card-category__picture
            a(href='#')
                +picture(data.image)