.catalog-category {

    &__h1 {

        padding-top: 5px;
        padding-bottom: 35px;

        @media screen and (min-width: $w760) {
            padding-top: 5px;
        }

        & h1 {
            @include font-h1-inners;
            margin: 0;
        }
    }

    &__tags {

        padding-bottom: 24px;

        @media screen and (min-width: 1260px) {
            margin-left: -50px;
            margin-right: -50px;
            width: auto;
        }





        @media screen and (min-width: $w576) {
            width: calc(100%);
            padding-right: 4px;
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: $w480) {
            margin-right: -16px;

            & li:last-child {
                padding-right: 16px;
            }
        }


        &-next,
        &-prev {

            min-width: 36px;
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: none;
            border-radius: 6px;

            @media screen and (min-width: $w576) {
                display: flex;
            }

            &[disabled="true"] {
                opacity: 0.5;
                pointer-events: none;
            }

            & svg {
                width: 16px;
                height: 16px;
                fill: $accent-2-1;
            }

            &:hover {
                background-color: #faf8ff;
            }
        }


        & ul {
            display: flex;
            flex-wrap: nowrap;
            margin: -4px 4px;
            overflow-x: auto;
            overflow-y: hidden;
            flex-grow: 1;

            scrollbar-color: transparent transparent;
            scrollbar-width: none !important;


            &::-webkit-scrollbar {
                width: 0;
                border-radius: 0;
                height: 0;
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 0;
            }

            & li {

                padding: 4px;
                position: relative;
                font-size: 15px;
                line-height: 125%;
                color: $accent-2-1;

                &.is-active {
                    & a {
                        background-color: $accent-2-1;
                        color: #F9F7FF;
                    }
                }

                & a {
                    color: inherit;
                    display: flex;

                    height: 36px;
                    border-radius: 4px;
                    background-color: $gray-96;
                    color: $gray-13;
                    padding: 7px 0.9em;
                    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    white-space: nowrap;


                    @media screen and (min-width: $w576) {
                        padding: 7px 1.2em;
                    }

                    &:hover {
                        background-color: #F9F7FF;
                        color: $accent-2-1;
                    }


                }
            }
        }

        &--brands {
            padding-bottom: 65px;
        }
    }

    &__aside {

        display: none;

        @media screen and (min-width: $w1440) {
            min-width: 320px;
        }

        @media screen and (min-width: $w992) {
            min-width: 270px;
            width: 270px;
            display: block;
        }



        & nav {
            &>ul {
                &>li {
                    padding-bottom: 36px;
                    display: none;

                    &:nth-child(-n+5) {
                        display: block;
                    }


                    &>a {
                        font-weight: 600;
                        font-size: 17px;
                        margin-bottom: 15px;
                        display: inline-block;

                        &:hover {
                            color: $accent-2-1;
                        }
                    }
                }
            }

            & .sub-menu {

                &.is-open {
                    & li {
                        display: block;

                    }
                }


                & li {
                    padding: 5px 0 5px 0;


                    display: none;


                    &:nth-child(-n+5) {
                        display: block;
                    }


                    & a {
                        font-size: 15px;
                        color: #222;

                        &:hover {
                            color: $accent-2-1;
                        }
                    }
                }
            }
        }

        &.is-open {
            &>nav {
                &>ul {
                    &>li {
                        display: block;
                    }
                }
            }
        }
    }

    &__breadcrumbs {
        padding: 20px 0 0 0;
    }

    &__content {

        padding-bottom: 65px;

        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__main {
        @media screen and (min-width: $w1440) {
            min-width: calc(100% - 320px);
            width: calc(100% - 320px);
        }

        @media screen and (min-width: $w992) {
            min-width: calc(100% - 270px);
            width: calc(100% - 270px);
            padding-left: 33px;
        }

    }

    .shop-category {
        padding: 0;
    }

    &__banner {
        padding-bottom: 30px;

        @media screen and (min-width: $w760) {
            padding-bottom: 40px;
        }
    }

    &__h2 {
        @include font-h2;
        padding-bottom: 30px;
    }

    &__h3 {
        font-size: 20px;
        font-weight: 800;
        padding-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    &__selected-filter {
        padding-bottom: 24px;
        margin-right: -20px;

        @media screen and (min-width: $w576) {
            margin-right: 0;
        }

        & ul {
            display: flex;
            flex-wrap: nowrap;
            margin: -4px -4px;
            overflow-x: auto;
            overflow-y: hidden;
            flex-grow: 1;

            scrollbar-color: transparent transparent;
            scrollbar-width: none !important;


            &::-webkit-scrollbar {
                width: 0;
                border-radius: 0;
                height: 0;
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 0;
            }

            & li {

                padding: 4px;
                position: relative;
                font-size: 15px;
                line-height: 125%;
                color: $accent-2-1;

                &.is-active {
                    & a {
                        background-color: $accent-2-1;
                        color: #F9F7FF;
                    }
                }

                & span,
                & a {
                    color: inherit;
                    display: flex;
                    height: 32px;
                    border-radius: 50px;
                    background-color: #f5f3ff;
                    color: #222;
                    padding: 7px 0.9em 7px 0.9em;
                    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 14px;
                    border: 1px solid #f5f3ff;

                    @media screen and (min-width: $w576) {
                        padding: 7px 1.2em 7px 1.2em;
                    }

                    &:hover {}

                }

                & i {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIGZpbGw9IiM3YjYxZmYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0uOTQuOTRhMS41IDEuNSAwIDAxMi4xMiAwTDEzIDEwLjg3OGw5Ljk0LTkuOTRhMS41IDEuNSAwIDAxMi4xMiAyLjEyMkwxNS4xMjIgMTNsOS45NCA5Ljk0YTEuNSAxLjUgMCAwMS0yLjEyMiAyLjEyTDEzIDE1LjEyMmwtOS45NCA5Ljk0QTEuNSAxLjUgMCAwMS45NCAyMi45NEwxMC44NzggMTMgLjkzOSAzLjA2YTEuNSAxLjUgMCAwMTAtMi4xMnoiLz48L3N2Zz4=);
                    margin-left: 12px;
                    margin-top: 2px;
                    margin-right: -1px;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                    filter: grayscale(0.8);
                    opacity: 0.6;
                    transition: 0.3s ease;

                    @media screen and (min-width: $w576) {
                        margin-right: -4px;
                    }

                    &:hover {
                        opacity: 0.5;

                        filter: grayscale(0);
                        opacity: 1;
                    }
                }
            }
        }
    }



    &__item {
        width: 50%;
        padding: 8px;

        @media screen and (min-width: $w760) {
            width: 33.33%;
        }

        @media screen and (min-width: $w1200) {
            width: 25%;
        }

        @media screen and (min-width: $w1440) {
            width: 20%;
        }
    }

    &__all {
        &.sub-menu-toggle {
            &:not(.is-visible) {
                display: none;
            }
        }
    }

    &__article {

        // margin-left: auto;

        // @media screen and (min-width: $w1440) {
        //     min-width: calc(100% - 320px);
        //     width: calc(100% - 320px);
        // }

        // @media screen and (min-width: $w992) {
        //     min-width: calc(100% - 270px);
        //     width: calc(100% - 270px);
        //     padding-left: 33px;
        // }
    }

    &__bottom-info {
        color: $gray-56;
        font-size: 14px;
        line-height: 140%;
        padding-top: 30px;

        @media screen and (min-width: $w576) {
            font-size: 15px;
        }
    }

    &__similar {
        padding-top: 24px;
    }

    &__accessories {
        padding-top: 1px;
    }

    &__collections {
        padding-top: 16px;
    }
}

.card-category {
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    padding: 12px;
    height: 100%;
    transition: border 0.3s ease;

    @media screen and (min-width: $w1200) {
        padding: 15px 12px;
    }

    &:hover {
        // box-shadow: 0 0 0 1px rgba(123, 97, 255, 0.2);
        border: 1px solid rgba(123, 97, 255, 0.9);

        & .card-category {
            &__name {
                & a {
                    color: $accent-2-1;
                }
            }

            &__picture {
                & img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__name {
        font-weight: 700;
        text-align: center;
        padding-bottom: 20px;
        min-height: 42px;

        font-size: 15px;
    }

    &__picture {
        padding: 10px;

        & picture {
            @include picture(103%, contain);

            & img {
                transition: 0.3s ease;
            }
        }
    }
}


.sub-menu-toggle {
    font-size: 15px;
    color: $accent-2-1;
    font-weight: normal;
    filter: grayscale(1) opacity(0.9);
    transition: 0.3s ease;
    cursor: pointer;
    padding-top: 6px;
    display: inline-block;
    margin-right: auto;

    &:hover {
        filter: none;
    }

    &.is-open {
        &::after {
            transform: rotate(180deg);
        }
    }

    &::after {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQgNCA0LTQiIHN0cm9rZT0iIzdCNjFGRiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
        width: 12px;
        height: 10px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 7px;
        transition: 0.3s ease;
    }

}