section.section-catalog-category
    .container
        .catalog-category
            .catalog-category__breadcrumbs
                +breadcrumbs([
                    'Главная',
                    'Компьютеры',
                ])
            .catalog-category__h1: h1 Компьютеры

            .catalog-category__asise
                nav
                    ul
                        li: a(href='#')

            .catalog-category__main
                .catalog-category__banner
                .catalog-category__list