.product-descr-min {

    padding: 28px 0 4px;

    &__title {
        @include font-h3;
        padding-bottom: 12px;
    }

    &__text {

        font-size: 15px;
        line-height: 160%;
        padding-bottom: 16px;

        & span {
            @include line-clamp(8);
        }
    }

    &__link {
        & a {
            font-size: 15px;
            color: $accent-2-1;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}