
.single-shop__h1 {
  padding: 0;

  h1 {
    margin: 0;
  }
}

.single-shop-head {
  overflow: visible;
  &__problem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #8F8F8F;
      margin-right: 8px;
      margin-top: 4px;
    }

    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #7B61FF;
      margin-top: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px 0;
    @media screen and (min-width: $w992) {
      margin: 24px 0;
    }
  }

  &__rating {
    display: flex;
    align-items: flex-start;

  }

  &__rating-img {
    margin-right: 12px;
    background: #8F8F8F;
    border-radius: 8px;
    width: 180px;
    height: 120px;
    max-width: 180px;
    max-height: 120px;
    @media screen and (min-width: $w576) {
      margin-right: 36px;

    }

    img {
      border-radius: 6px;
    }
  }

  &__rating-content {
    display: flex;
    flex-direction: column;
    .card-review__rating{
      margin-bottom: 0;
    }

    div {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #222;
      margin-bottom: 4px;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #7B61FF;

      &:hover {
        text-decoration: underline;
      }

      span {
        margin-left: 4px;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__payment {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @media screen and (min-width: $w992) {
      flex-wrap: nowrap;
      margin-top: 24px;
    }
    @media screen and (min-width: $w1440) {
      margin-top: 0;
    }


    ul:not(:last-child) {
      flex: 1 1 40%;
      margin: 24px 0;
      @media screen and (min-width: $w992) {
        margin: 0 86px 0 0;
        flex: initial;
      }
    }
    ul:first-child{
      margin-right: 12px;
      @media screen and (min-width: $w576) {

      }
    }

    ul {
      div {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #8F8F8F;
        margin-bottom: 12px;
      }

      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        list-style-type: disc;
        color: #222;
        margin-left: 18px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      a {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #7B61FF;
        margin-left: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__payment-days {
    display: flex;
    align-items: center;
    margin: 0 0 12px 0 !important;

    li {
      list-style-type: none !important;
      margin: 0 4px 0 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 10px;
      gap: 6px;
      border-radius: 4px;
      background: #F5F5F5;
      @media screen and (min-width: $w992) {
        padding: 6px 14px;
      }

      span {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
      }
    }

    .days--blue {
      background: #7B61FF;

      span {
        color: #FFFFFF;
      }
    }
  }

  &__payment-state {
    display: flex;
    align-items: center;
    margin-bottom: 2px !important;

    span {
      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #8F8F8F;
      }
    }

    small {
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin-left: 8px;
    }
  }

  .state--green {
    span:after {
      content: '';
      background: #37A735;
    }

    small {
      color: #37A735;
    }
  }

  .state--red {
    span:after {
      content: '';
      background: #DF1F26;
    }

    small {
      color: #DF1F26;
    }
  }

  &__work-time {
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #8F8F8F;
      margin-left: 16px;
    }
  }

  &__work-info {
    position: relative;
    &:hover{
      .single-shop-head__work-description{
        opacity: 1;
        overflow: visible;
        height: auto;
        transition: .7s ease;
        transform: translateY(0);

      }
    }

    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #7B61FF;
      margin-left: 0 !important;
      padding-bottom: 8px;

      &:hover {
        text-decoration: underline;

      }
    }
  }

  &__work-description {
    opacity: 0;
    overflow: hidden;
    height: 0;
    transform: translateY(10%);
    position: absolute;
    left: 0;
    z-index: 1;
    top: 28px;
    width: 100%;
    max-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 2px 15px 0 #00000026;

  }
  &__work-description-wrapper{
    padding: 6px 12px;
  }
  &__work-description-title{
    div{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 4px !important;
    }
    span{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #222;
    }
  }
}