mixin banner-slider
    section.section-banner-slider
        .container
            .banner-slider
                .splide(data-slider="main-banner")
                    .splide__track
                        .splide__list
                            .splide__slide
                                a(href='/catalog.html')
                                    picture 
                                    
                                        source(srcset="/img/other/reviews_main_2800-640-webp.webp" type="image/webp" media="(min-width: 992.98px)")
                                        source(srcset="/img/other/reviews_main_1392-448-webp.jpg" type="image/jpeg" media="(min-width: 992.98px)")

                                        source(srcset="/img/other/reviews_main_1392-448-webp.webp" type="image/webp" media="(min-width: 576px)")
                                        source(srcset="/img/other/reviews_main_1392-448-webp.jpg" type="image/jpeg" media="(min-width: 576px)")

                                        source(srcset="/img/other/reviews_main_656-344-webp.webp" type="image/webp" )
                                        img(src="/img/other/reviews_main_656-344-webp.jpg" alt="vako banner")
                                        
                            .splide__slide
                                a(href='/catalog.html')
                                    picture 
                                    
                                        source(srcset="/img/other/banner-v2-1200.webp" type="image/webp" media="(min-width: 992.98px)")
                                        source(srcset="/img/other/banner-v2-1200.jpg" type="image/jpeg" media="(min-width: 992.98px)")

                                        source(srcset="/img/other/banner-v2-tablet.webp" type="image/webp" media="(min-width: 576px)")
                                        source(srcset="/img/other/banner-v2-tablet.jpg" type="image/jpeg" media="(min-width: 576px)")

                                        source(srcset="/img/other/banner-v2-mobile.webp" type="image/webp" )
                                        img(src="/img/other/banner-v2-mobile.jpg" alt="vako banner")
                            