.blocks-staistic {
    margin: -8px;

    @media screen and (min-width: $w992) {
        margin: -12px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex-grow: 1;
        padding: 8px;
        flex-basis: 300px;

        @media screen and (min-width: $w992) {
            padding: 12px;
        }
    }
}

.widget-block {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px 16px 24px 16px;
    height: 100%;


    &__title {
        @include font-h3;
        padding-bottom: 0.8em;
    }

    &__h2 {
        @include font-h2;
        padding-bottom: 0.8em;
    }

    &__tabs {

        padding-bottom: 29px;

        & ul {
            display: flex;
            margin: -4px;

            & li {
                padding: 4px;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $gray-96;
                    border-radius: 4px;
                    height: 36px;
                    padding: 0 10px 3px 10px;
                    font-size: 14px;
                    cursor: pointer;
                }

                &:hover {
                    & span {
                        background-color: #eee;
                        color: $accent-2-1;
                    }
                }

                &.is-active {
                    & span {
                        background-color: $accent-2-1;
                        color: #fff;
                    }
                }

            }
        }
    }

    &__tabs-item {
        display: none;


        &.is-active {
            display: block;
        }

    }

    &__props {
        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -8px -12px;

            & li {
                display: flex;
                flex-direction: column;

                padding: 8px 12px;

                & small {
                    color: $gray-56;
                    font-size: 15px;
                    white-space: nowrap;
                    padding-bottom: 0.7em;
                }

                & strong {
                    font-size: 20px;

                    & a {
                        font-size: 14px;
                        color: $accent-2-1;
                        font-weight: 400;
                        margin-left: 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &--col2 {
            & ul {
                & li {
                    @media screen and (min-width: $w760) {
                        width: 50%;
                    }
                }
            }
        }
    }

    &__rate {

        padding-bottom: 15px;

        & span {
            background-color: #ccc;
            border-radius: 6px;
            width: 72px;
            height: 48px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            color: #fff;
            font-weight: 800;

        }

        & .rate--green {
            background: $green;
            color: #fff
        }

        & .rate--red {
            background: $red;
            color: #fff
        }

        & .rate--orange {
            background: $orange;
            color: #fff
        }

        & .rate--blue {
            background: $blue;
            color: #fff
        }
    }

    &__subtitle {
        margin-top: -5px;
        padding-bottom: 15px;

        & a {
            color: $accent-2-1;
        }
    }

    &__fields {
        padding-top: 20px;
    }

    &__input {
        position: relative;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 12px;

        @media screen and (min-width: $w576) {
            margin-right: 12px;
            margin-bottom: 0;
        }

        & input[type] {
            width: 100%;
            display: block;
        }
    }

    &__upload {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: $w576) {
            flex-direction: row;
        }
    }

    &__send {
        width: 100%;

        @media screen and (min-width: $w576) {
            width: auto;
        }

        & .btn {
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }
        }
    }

    & label[data-upload="input"] {

        position: absolute;
        z-index: 2;
        right: 16px;
        top: 50%;
        margin-top: -12px;

        & input {
            display: none;
        }

        & svg {
            fill: $accent-2-1;
        }

        & span {
            cursor: pointer;
        }
    }

    &__status {

        padding-top: 10px;

        & span {
            padding: 8px 16px;
            border: 1px solid #EBEBEB;
            border-radius: 6px;
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            font-size: 13px;

            &:before {
                content: '';
                width: 18px;
                height: 18px;
                background-color: #eee;
                display: inline-block;
                margin-right: 10px;
                border-radius: 2px;
                background-position: center;
            }

            &:last-child {
                margin-right: 0;
            }

            &.price-list-status {
                &--green {
                    color: $green;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iIzM3QTczNSIvPjxwYXRoIGQ9Ik02IDlsMiAyIDQtNCIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }
                }

                &--orange {
                    color: $orange;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iI0Y4MCIvPjxwYXRoIGQ9Ik03IDZ2Nm00LTZ2NiIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }

                }

                &--red {
                    color: $red;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iI0RGMUYyNiIvPjxwYXRoIGQ9Ik02IDZsMyAzbTAgMGwzIDNNOSA5bDMtM005IDlsLTMgMyIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }
                }
            }
        }
    }

    &__action {
        padding-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -5px;

        & a {
            padding: 5px;
            display: inline-block;
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }

        }

        & .btn {
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }

            &.btn-white {
                color: $accent-2-1;
            }
        }
    }

    &--price {

        & .widget-block {
            &__props {
                padding-top: 30px;
                max-width: 500px;
            }


        }


    }

}


.widget-block.widget-block--xml {
    @media screen and (min-width: $w1200) {
        max-width: 600px;
    }
}