.blocks-staistic {
    margin: -8px;

    @media screen and (min-width: $w992) {
        margin: -12px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex-grow: 1;
        padding: 8px;
        flex-basis: 300px;
        width: 100%;

        @media screen and (min-width: $w992) {
            padding: 12px;
        }
    }
}

.widget-block {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px 16px 24px 16px;
    height: 100%;

    @media screen and (min-width: $w576) {
        padding: 24px 30px;
    }

    &__title {
        @include font-h3;
        font-size: 20px;
        padding-bottom: 0.8em;
    }

    &__h2 {
        @include font-h2;
        padding-bottom: 0.8em;
    }

    &__bill {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 14px;
        padding-top: 10px;
        padding-bottom: 28px;

        & strong {
            font-size: 28px;
            font-weight: 800;
            font-family: lato, Verdana;
        }

        & small {
            font-size: 15px;
            opacity: 0.7;
        }
    }

    &__onday {
        &-label {
            font-size: 15px;
            opacity: 0.7;
            padding-bottom: 12px;
        }

        &-current {
            font-size: 18px;
            font-weight: 700;
            font-family: lato, Verdana;
        }

        & .onday-edit {
            margin-left: 8px;
            cursor: pointer;
            fill: #fff;
        }

        &.is-edit {
            & .widget-block__onday-current {
                display: none;
            }

            & .onday-edit-form {
                display: flex;
            }
        }

        &.is-load {

            & .onday-edit-form__save {
                & svg {
                    display: none;
                }

                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    border-top-color: transparent;
                    animation: load 0.5s linear infinite;
                    pointer-events: none;
                }
            }

        }
    }

    &__tabs {

        padding-bottom: 29px;


        & ul {
            display: flex;
            margin: -4px;
            overflow-x: auto;
            width: 100%;
            padding-bottom: 5px;
            margin-bottom: -5px;

            & li {
                padding: 4px;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $gray-96;
                    border-radius: 4px;
                    height: 36px;
                    padding: 0 1em 3px 1em;
                    font-size: 14px;
                    cursor: pointer;
                    white-space: nowrap;
                }

                &:hover {
                    & span {
                        background-color: #eee;
                        color: $accent-2-1;
                    }
                }

                &.is-active {
                    & span {
                        background-color: $accent-2-1;
                        color: #fff;

                    }
                }

            }
        }
    }

    &__tabs-item {
        display: none;


        &.is-active {
            display: block;
        }

    }

    &__props {
        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -8px -12px;

            & li {
                display: flex;
                flex-direction: column;
                padding: 8px 12px;

                @media screen and (min-width: $w992) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                & small {
                    color: $gray-56;
                    font-size: 15px;
                    line-height: 140%;
                    padding-bottom: 0.7em;
                }

                & strong {
                    font-size: 20px;

                    & a {
                        font-size: 14px;
                        color: $accent-2-1;
                        font-weight: 400;
                        margin-left: 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &--col2 {
            & ul {
                & li {
                    @media screen and (min-width: $w760) {
                        width: 50%;
                    }
                }
            }
        }
    }

    &__rate {

        padding-bottom: 15px;

        & span {
            background-color: #ccc;
            border-radius: 6px;
            width: 72px;
            height: 48px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            color: #fff;
            font-weight: 800;

        }

        & .rate--green {
            background: $green;
            color: #fff
        }

        & .rate--red {
            background: $red;
            color: #fff
        }

        & .rate--orange {
            background: $orange;
            color: #fff
        }

        & .rate--blue {
            background: $blue;
            color: #fff
        }
    }

    &__subtitle {
        margin-top: -5px;
        padding-bottom: 15px;
        line-height: 145%;

        & a {
            color: $accent-2-1;
        }
    }

    &__fields {
        padding-top: 20px;
    }

    &__input {
        position: relative;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 12px;

        @media screen and (min-width: $w576) {
            margin-right: 12px;
            margin-bottom: 0;
        }

        & input[type] {
            width: 100%;
            display: block;
        }
    }

    &__upload {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: $w576) {
            flex-direction: row;
        }
    }

    &__send {
        width: 100%;

        @media screen and (min-width: $w576) {
            width: auto;
        }

        & .btn {
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }
        }
    }

    & label[data-upload="input"] {

        position: absolute;
        z-index: 2;
        right: 16px;
        top: 50%;
        margin-top: -12px;

        & input {
            display: none;
        }

        & svg {
            fill: $accent-2-1;
        }

        & span {
            cursor: pointer;
        }
    }

    &__status {

        padding-top: 10px;

        & span {
            padding: 8px 16px;
            border: 1px solid #EBEBEB;
            border-radius: 6px;
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            font-size: 13px;
            font-weight: 600;
            width: 100%;

            @media screen and (min-width: $w480) {
                width: auto;
            }

            &:before {
                content: '';
                width: 18px;
                height: 18px;
                background-color: #eee;
                display: inline-block;
                margin-right: 10px;
                border-radius: 2px;
                background-position: center;
            }

            &:last-child {
                margin-right: 0;
            }

            &.price-list-status {
                &--green {
                    color: $green;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iIzM3QTczNSIvPjxwYXRoIGQ9Ik02IDlsMiAyIDQtNCIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }
                }

                &--orange {
                    color: $orange;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iI0Y4MCIvPjxwYXRoIGQ9Ik03IDZ2Nm00LTZ2NiIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }

                }

                &--red {
                    color: $red;

                    &:before {
                        background-color: transparent;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iOSIgZmlsbD0iI0RGMUYyNiIvPjxwYXRoIGQ9Ik02IDZsMyAzbTAgMGwzIDNNOSA5bDMtM005IDlsLTMgMyIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                    }
                }
            }
        }
    }

    &__action {
        padding-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -5px;

        & a {
            padding: 5px;
            display: inline-block;
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }

        }

        & .btn {
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }

            &.btn-white {
                color: $accent-2-1;
            }
        }
    }

    &--price {

        & .widget-block {
            &__props {
                padding-top: 30px;
                max-width: 500px;
            }


        }


    }

}


.widget-block.widget-block--xml {
    @media screen and (min-width: $w1200) {
        max-width: 600px;
    }
}


.user-menu-popup .dropdown-button span,
.user-menu-popup .dropdown-button a {
    font-size: 15px;
    display: block;
    margin: 8px 0
}

.user-menu-popup .dropdown-button span button,
.user-menu-popup .dropdown-button a button {
    width: 100%;
    height: 40px
}

.user-menu-popup .dropdown-button {
    margin: -8px 0;
}

.widget-block.widget-block--ballance {
    background: $accent-2-1;
    color: #fff;
}

.onday-edit-form {
    display: flex;
    align-items: center;
    gap: 8px;
    display: none;

    &__input {
        & input {
            height: 28px;
            border-radius: 4px;
            padding: 4px 6px;
            max-width: 80px;

            &::placeholder {
                color: #999;
                opacity: 1;
            }

        }
    }

    &__close,
    &__save {
        width: 28px;
        height: 28px;
        background-color: #8870ff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: #907eec;
        }

        & svg {
            width: 14px;
            height: 12px;
        }
    }
}

.widget-block.widget-block--click {
    height: auto;
}