.popup-success
    .popup-success__icon
        span.bgimage(style="background-image: url(/img/common/icon_thank_60.svg)")
    .popup-success__title Спасибо!
    .popup-success__desc Пароль доступа к личному кабинету отправлен на указанную почту. Если письмо не поступило, проверьте папку «Спам» либо свяжитесь с нашей технической поддержкой.
    .popup-success__btn
        button.btn Понятно