extends ../../layouts/personal

include ../../../blocks/modules/personal/personal-aside/personal-aside.pug
include ../../../blocks/modules/personal/personal-review/personal-review.pug
 
block variables
  include ../../../data/data.pug
  - const title = "Vako - Личный кабинет"

block aside
  +personal-aside(1)
block content
  .personal-review
    .personal-review__tabs
      ul(data-tab-nav="product")
            li.active: a(href='#products') Отзывы о товарах
            li: a(href='#stores') Отзывы о магазинах

    .personal-review__content(data-tab-container="product")
      .personal-review__item.active(data-tab="products"): +personal-review-product()
      .personal-review__item(data-tab="stores"): +personal-review-store()