.single-page {
  &__breadcrumbs {
    padding: 20px 0 0 0;
  }

  &__h1 {

    padding-bottom: 6px;

    & h1 {
      @include font-h2;
      margin-top: 4px;
      line-height: 131%;

      @media screen and (min-width: $w1440) {
        font-size: 36px;
      }
    }
  }

  &__tabs {
    & ul {
      display: flex;
      opacity: auto;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 10px;


      scrollbar-color: transparent transparent;
      scrollbar-width: thin !important;


      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
      }

      @media screen and (min-width: $w992) {
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 0;
        margin-bottom: 33px;
      }


      & li {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
          background-color: $gray-96;
          border-radius: 6px;
          font-weight: 700;
          font-size: 15px;

          @media screen and (min-width: $w992) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 9px 15px 11px 15px;
          }
        }

        &.active {
          & a {
            background-color: $accent-2-1;
            color: #fff;
          }
        }
      }

    }

    &.fixed-tabs {
      position: fixed;
      background-color: #fff;
      z-index: 100;
      left: 0;
      top: 0;
      right: 0;
      filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.12));
      padding: 12px 0px 12px 0px;

      @media screen and (min-width: $w480) {
        padding: 12px 15px;
      }

      & ul {
        margin: 0 auto;

        border: none;

        @include container-breakpoint;



        & li {
          & a {
            border-radius: 6px;
          }
        }
      }
    }
  }


  &__content {
    & [data-tab] {
      display: none;
      transition: 0.3s ease;

      &.active,
      &.is-active {
        display: block;
        animation: fade-in 0.3s ease forwards;
      }
    }
  }
}

.favourites {
  padding-bottom: 48px;

  @media screen and (min-width: 992px) {
    padding-bottom: 178px;
  }
}

.favourites .minicard__title a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.favourites-title {
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 992px) {
    margin-bottom: 32px;
  }

  h1 {

    margin: 0;

  }

  a {
    display: flex;
    align-items: center;

    &:hover {

      transition: .3s ease;

      & span {
        color: #222;
      }

      & svg {
        stroke: #222;
      }
    }

    svg {
      stroke: #8F8F8F;
      stroke-width: 1px;
    }

    span {
      color: #8F8F8F;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 12px;
    }
  }
}