.single-page {
  &__breadcrumbs {
    padding: 20px 0 0 0;
  }

  &__h1 {

    padding-bottom: 6px;

    & h1 {
      @include font-h2;
      margin-top: 4px;
      line-height: 131%;
    }
  }


  &__content {
    & [data-tab] {
      display: none;
      transition: 0.3s ease;

      &.active,
      &.is-active {
        display: block;
        animation: fade-in 0.3s ease forwards;
      }
    }
  }
}

.favourites{
  padding-bottom: 48px;
  @media screen and (min-width: 992px) {
    padding-bottom: 178px;
  }
}
.favourites-title {
  padding: 0;
  margin-bottom: 16px;
  @media screen and (min-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 32px;
  }

  h1 {
    @media screen and (min-width: 576px) {
      margin: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    &:hover{
      opacity: .7;
      transition: .3s ease;
    }

    span {
      color: #8F8F8F;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 12px;
    }
  }
}