.personal-panel {

    padding: 30px 0;

    @media screen and (min-width: $w992) {
        display: flex;
    }

    &__aside {


        transition: 0.3s ease;

        @media screen and (min-width: $w992) {
            width: 264px;
            display: block;
        }

        &.slide-left-out {
            background-color: transparent !important;

            & ul {
                animation: left-slide-out 0.3s ease forwards;
            }
        }

        & ul {

            animation: left-slide 0.3s ease forwards;
            transition: 0.3s ease;
            display: none;



            @media screen and (min-width: $w992) {
                animation: none;
                display: block;
            }

            & li {
                min-height: 48px;
                padding: 12px;
                display: flex;
                align-items: center;
                margin-bottom: 4px;

                &:last-child {
                    margin-bottom: 0;
                }

                & .bgimage {
                    width: 24px;
                    height: 24px;
                    @include bgimage-contain;
                    margin-right: 12px;
                    filter: grayscale(1);
                }

                & a {
                    font-weight: 800;
                    font-size: 15px;

                    @media screen and (min-width: $w992) {
                        font-size: 16px;
                    }
                }

                &:hover {

                    & a {
                        color: $accent-2-1;
                    }

                    & .bgimage {
                        filter: grayscale(0);
                    }

                }

                &.is-active {
                    background-color: $accent-2-1;
                    color: #fff;
                    border-radius: 4px;

                    & a {
                        color: #fff;

                    }

                    & .bgimage {
                        width: 24px;
                        height: 24px;
                        @include bgimage-contain;
                        margin-right: 10px;
                        filter: grayscale(1) brightness(300);
                    }
                }
            }
        }

        &.is-open {
            @media screen and (max-width: $w992) {
                display: block;
                position: fixed;
                background-color: #00000082;
                left: 0;
                top: 134px;
                bottom: 0;
                right: 0;
                z-index: 50;

                & ul {
                    background-color: #fff;
                    max-width: 300px;
                    height: 100%;
                    padding: 15px;
                }

            }
        }
    }

    &__content {
        @media screen and (min-width: $w992) {
            width: calc(100% - 264px);
            padding-left: 48px;
        }
    }

}

.personal-page {
    &__title {
        font-size: 20px;
        font-weight: 800;
        padding-top: 35px;
        padding-bottom: 6px;

        @media screen and (min-width: $w992) {
            font-size: 36px;
        }
    }
}

.personal-review {

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__tabs {
        & ul {
            display: flex;
            opacity: auto;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 24px;

            @media screen and (min-width: $w480) {
                padding-bottom: 10px;
            }


            scrollbar-color: transparent transparent;
            scrollbar-width: thin !important;


            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 4px;
            }

            @media screen and (min-width: $w992) {
                border-bottom: 1px solid #E0E0E0;
                padding-bottom: 0;
                margin-bottom: 33px;
            }


            & li {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 15px;
                    background-color: $gray-96;
                    border-radius: 6px;
                    font-weight: 700;
                    font-size: 15px;

                    @media screen and (min-width: $w992) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 9px 15px 11px 15px;
                    }
                }

                &.active {
                    & a {
                        background-color: $accent-2-1;
                        color: #fff;
                    }
                }
            }

        }

        &.fixed-tabs {
            position: fixed;
            background-color: #fff;
            z-index: 100;
            left: 0;
            top: 0;
            right: 0;
            filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.12));
            padding: 12px 0px 12px 0px;

            @media screen and (min-width: $w480) {
                padding: 12px 15px;
            }

            & ul {
                margin: 0 auto;

                border: none;

                @include container-breakpoint;



                & li {
                    & a {
                        border-radius: 6px;
                    }
                }
            }
        }
    }

}