include ../../../components/pagination/pagination.pug

mixin store-statistics
    .statistics
        .store-statistics
            .store-statistics__wrp
                .store-statistics__title Сводная статистика
                .store-statistics__subtitle Выбор периода
                .store-statistics__tabs
                    ul(data-statistics="tabs-sv")
                        li(id="yesterday").is-active: span Вчера
                        li(id="week"): span За неделю
                        li(id="month"): span За месяц

                    .store-statistics__date(data-statistics="date")
                        +icons('#ic_calendar', 20)
                        span(data-statistics="date-start"): input(type="text"  )
                        span(data-statistics="date-end"): input(type="text"  )
                
                .store-statistics__sv
                    .table
                        .table__tr
                            .table__th Тип клика
                            .table__th Кликов
                            .table__th Расходы(руб.)

                        .table__tbody(data-statistics="table-summary")
                            .empty Загрузка...

                .store-statistics__subtitle.sub-title--group Тип статистики


                .store-statistics__group
                    ul(data-statistics="type")
                        li: +radio('По товарам', 'type', 'type1')
                        li: +radio('По категориям', 'type', 'type2')
                        li: +radio('По модельному ряду', 'type', 'type3')


        .store-statistics.store-statistics--click
            .store-statistics__wrp
                .store-statistics__title Клики и расходы
                .store-statistics__tabs
                    ul(data-statistics="tabs-click")
                        li.is-active: span Показы
                        li: span Кнопка «В магазин»
                        li: span Кнопка «Телефоны»
                        li: span Расходы (руб.)
                .store-statistics__topbar
                    .store-statistics__find
                        input(type="text" data-statistics="input-find" placeholder="Начните вводить название...")
                        span(data-statistics="clear-find").icon-cross
                    .store-statistics__count
                        span Показывать по:
                        select(data-statistics="select")
                            option(value="25") 25
                            option(value="50") 50
                            option(value="100") 100
                            option(value="150") 150
                
                .store-statistics__table
                    .table
                        .table__tr
                            .table__th Товары
                            .table__th
                                .table-sort( data-sort="view" data-title="Показы") Показы
                            .table__th
                                .table-sort( data-sort="inshop" data-title="Кнопка «В магазин»") Кнопка <br> «В магазин»
                            .table__th
                                .table-sort( data-sort="phone" data-title="Кнопка «Телефоны»") Кнопка <br> «Телефоны»
                            .table__th
                                .table-sort( data-sort="cost" data-title="Расходы (руб.)") Расходы <br> (руб.)

                        .table__tbody(data-statistics="table-clicks")
                            each item in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

                                .table__tr
                                    .table__td Ноутбук Apple MacBook Pro 16 Late 2019
                                    .table__td(data-title="Показы") 160
                                    .table__td(data-title="Кнопка «В магазин»") 48
                                    .table__td(data-title="Кнопка «Телефоны»") 73
                                    .table__td(data-title="Расходы (руб.)") 1 340,4
                            .table__tr
                                .table__td Ноутбук Apple MacBook Pro 16 Late 2019 (/16”/ 3072x1920/) супер длинное название на несколько строк
                                .table__td(data-title="Показы") 160
                                .table__td(data-title="Кнопка «В магазин»") 48
                                .table__td(data-title="Кнопка «Телефоны»") 73
                                .table__td(data-title="Расходы (руб.)") 1 340,4
                .store-statistics__pagination
                    +pagination()