.store-statistics {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 17px;

    @media screen and (min-width: $w480) {
        padding: 24px 32px;
        margin-bottom: 26px;
    }

    &--click {
        & .store-statistics {
            &__tabs {

                @media screen and (min-width: $w760) {
                    display: none;
                }

                & li {
                    & span {
                        white-space: nowrap;
                    }
                }
            }


        }
    }

    &__title {
        color: var(--gray-13, #222);
        font-size: 20px;
        font-weight: 800;
        line-height: 142.857%;
        padding-bottom: 20px;

        @media screen and (min-width: $w480) {
            font-size: 28px;
            padding-bottom: 24px;
        }


    }

    &__subtitle {
        padding-bottom: 8px;
        color: var(--gray-13, #222);
        font-size: 15px;
        font-weight: 700;
        line-height: 160%;

        @media screen and (min-width: $w760) {
            padding-bottom: 18px;
        }


    }

    &__topbar {

        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;

        @media screen and (min-width: $w576) {
            flex-direction: row;
            padding-bottom: 20px;
        }

        & input {

            height: 40px;
            padding-left: 40px;
            padding-right: 40px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5IDE5bC0zLjM4My0zLjM4M20xLjgyNy00LjM5NWE2LjIyMiA2LjIyMiAwIDExLTEyLjQ0NCAwIDYuMjIyIDYuMjIyIDAgMDExMi40NDQgMHoiIHN0cm9rZT0iI0NDQyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
            background-repeat: no-repeat;
            background-position: 8px 7px;

            &::placeholder {
                color: #ccc;
                opacity: 1;
            }
        }
    }

    &__find {
        flex-grow: 1;
        padding-bottom: 20px;
        position: relative;

        @media screen and (min-width: $w576) {
            padding-bottom: 0px;
        }

        & .icon-cross {
            width: 24px;
            height: 24px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 8px;
            top: 8px;
            cursor: pointer;
            opacity: 0.25;
            display: none;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__tabs {

        padding-bottom: 2px;


        @media screen and (min-width: $w576) {
            display: flex;
            flex-wrap: wrap;
        }

        & ul {
            display: flex;
            margin: -4px;
            margin-right: 8px;
            margin-bottom: 4px;
            overflow-x: auto;
            overflow-y: hidden;

            & li {
                padding: 4px;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $gray-96;
                    border-radius: 4px;
                    height: 36px;
                    padding: 0 1em 3px 1em;
                    font-size: 14px;
                    cursor: pointer;
                }

                &:hover {
                    & span {
                        background-color: #eee;
                        color: $accent-2-1;
                    }
                }

                &.is-active {
                    & span {
                        background-color: $accent-2-1;
                        color: #fff;
                    }
                }

            }
        }
    }

    &__count {
        display: flex;

        & .af-select {
            min-width: auto;
            width: 60px;
            border-radius: 3px;
            margin-left: 5px;
        }

        &>span {
            display: flex;
            align-items: center;
            color: var(--gray-56, #8F8F8F);
            font-size: 15px;
            font-weight: 600;
            margin-top: -3px;

            @media screen and (min-width: $w480) {
                padding-left: 20px;
            }
        }
    }

    &__sv {

        padding-bottom: 20px;

        & .table {
            &__td {

                padding-top: 12px;
                padding-bottom: 12px;

                &:first-child {
                    padding-left: 0;
                }

                @media screen and (max-width: $w576) {
                    width: 100%;
                    padding: 5px 0;
                    font-size: 14px;
                }
            }

            &__th {
                padding-top: 16px;
                padding-bottom: 16px;

                &:first-child {
                    padding-left: 0;
                }
            }

            &__tr {
                @media screen and (max-width: $w576) {
                    padding: 10px 0;
                }
            }

            &__tbody {
                & .table__tr {
                    &:last-child {
                        & .table {
                            &__td {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    &__date {
        border-radius: 4px;
        height: 36px;
        padding: 0 1em 3px 1em;
        background: var(--gray-96, #F5F5F5);
        display: flex;
        align-items: center;

        justify-content: center;

        @media screen and (min-width: $w576) {
            display: inline-flex;
        }

        & svg {
            margin-right: 5px;
            fill: #222;
        }

        & input {
            height: 100%;
            background-color: transparent;
            border-color: transparent;
            max-width: 110px;
            padding: 0;
            max-width: 85px;
            padding: 0;
            min-width: 0;
            display: inline-block;
            text-align: center;
        }

        &:hover {
            color: $accent-2-1;
            cursor: pointer;
            background-color: #eee;

            & svg {
                fill: $accent-2-1;
            }
        }

        &.is-active {
            background-color: $accent-2-1;

            & span {
                &::before {
                    color: #fff;
                }
            }

            & svg {
                fill: #fff;
            }

            & input {
                color: #fff;
            }
        }
    }

    &__group {
        & ul {

            @media screen and (min-width: $w992) {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin: -10px;
                padding-top: 0px;

                & li {
                    padding: 10px;
                }
            }

            & li {
                padding: 5px 0;
            }
        }
    }

    & .select-styled {
        padding-left: 8px;
        padding-right: 8px;


        & span {
            color: $accent-2-1 !important;
            font-weight: 800;

        }

        &::after {
            content: "";
            margin-left: 8px;
        }
    }

    &__table {

        padding-bottom: 30px;

        & [data-title] {
            &::before {
                display: none;
            }
        }

        @media screen and (max-width: $w760) {
            & .table {

                &__tr {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                }

                &__th {

                    color: var(--gray-56, #8F8F8F);
                    border-bottom: none;
                    flex-grow: 1;

                    @media screen and (max-width: $w760) {
                        display: none;
                    }

                    &:not(.hide) {
                        display: block;


                        & br {
                            display: none;
                        }
                    }

                    &:not(:first-child) {
                        text-align: right;
                    }



                }

                &__td {

                    flex-grow: 1;
                    border-bottom: none;

                    &.hide {
                        display: none;
                    }

                    &:not(:first-child) {
                        text-align: right;
                    }
                }


            }
        }

        & .table {
            &__th {
                &:hover {
                    color: $accent-2-1;
                    cursor: pointer;
                }
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;

        & .pagination__page {
            margin-left: auto;

        }
    }

    & .radio {
        &__text {
            font-size: 14px;
        }

        &__elem {
            margin-top: 3px;
        }
    }

}

.empty {
    padding: 20px;
    background-color: #f5f5f5;
    width: 100%;
}

span[data-statistics="date-end"] {

    & input {
        text-align: left;
    }

    &::before {
        content: '—';
        margin-left: 1px;
    }
}

.table-sort {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        min-width: 10px;
        width: 10px;
        height: 10px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7px auto;
        margin-left: 5px;
        margin-top: 2px;
        transform: rotate(180deg);
    }

    &--up {

        color: $accent-2-1;

        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMy41IDFIMFYwaDMuNXYxem0xLjc1IDNIMFYzaDUuMjV2MXpNNyA3SDBWNmg3djF6IiBmaWxsPSIjN0I2MUZGIi8+PC9zdmc+);

        }
    }

    &--down {

        color: $accent-2-1;

        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMy41IDFIMFYwaDMuNXYxem0xLjc1IDNIMFYzaDUuMjV2MXpNNyA3SDBWNmg3djF6IiBmaWxsPSIjN0I2MUZGIi8+PC9zdmc+);
            transform: rotate(0);
        }
    }
}