include ../../views/helpers/mixins.pug
include ../../blocks/modules/single-product/single-product__review.pug
include ../../data/data.pug

each item in storeOoffers
        .comment: +card-review
        .comment: +card-review-reply
        .comment: +card-review
        .comment: +card-review