extends ../layouts/catalog--login

include ../../blocks/modules/catalog-category/catalog-category.pug
 
 
block variables
  include ../../data/data.pug
  - const title = "Vako"
 

block content
  +catalog-category()




block scripts
  script(src="/js/vendor.min.js") 
  script(src="/js/common.js") 
  

 
