extends ../layouts/home--login

include ../../blocks/modules/search-index/search-index.pug
 
block variables
  include ../../data/data.pug
  - const title = "Vako"
 

block content 


 +search-index()
 +catalog-popup()


block scripts
  script(src="/js/vendor.min.js") 
  script(src="/js/common.js") 
  

 
