extends ../layouts/home.pug

include ../../blocks/modules/news/article/article.pug
 
block variables
  include ../../data/data.pug
  - const title = "Vako - Новости"
 

block content
    +page-news--article()


block scripts
  script(src="/js/vendor.min.js")
  script(src="/js/common.js")