extends ../layouts/catalog

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/minicard/minicard.pug
 
 
block variables
  include ../../data/data.pug
  - const title = "Vako"
 

block content
  section.single-page.favourites
      .container
          .single-page
              .single-page__breadcrumbs
                  +breadcrumb([
                      'Главная',
                      'Избранное',
                  ]) 
              .single-page__h1.favourites-title
                h1 Избранное
                a(href='#')
                  +icons('#ic_trash', 18)
                  span Очистить избранное
                

              .single-page__content
                .catalog-products.catalog-products--wishlist.grid--view
                  each item in goods
                    if item.type == 'goods'
                        .catalog-products__item: +minicard-favourites(item)
                   
                
                



block scripts
  script(src="/js/vendor.min.js") 
  script(src="/js/common.js") 
  

 
