.breadcrumb {

    background-color: transparent;
    padding: 0 0 4px 0;

    @media screen and (min-width: $w760) {
        padding: 0 0 22px 0;
    }

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        scrollbar-color: transparent transparent;
        scrollbar-width: thin !important;


        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 4px;
        }
    }

    & li {

        display: none;

        @media screen and (min-width: $w760) {
            display: block;
        }

        & a {
            color: #000;
            font-size: 13px;

            &:hover {
                color: $accent-2-1;
            }
        }

        & span {
            font-size: 13px;
        }

        &::after {
            content: '';
            margin: 0 rem(10);
            color: #7A808D;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNDM0IDVMLjcxNyAxLjI4M2wuNTY2LS41NjZMNS41NjYgNSAxLjI4MyA5LjI4M2wtLjU2Ni0uNTY2TDQuNDM0IDV6IiBmaWxsPSIjOEY4RjhGIi8+PC9zdmc+);
            font-size: 14px;
            width: 10px;
            height: 10px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:last-child {

            &::after {
                display: none;
            }

            & span,
            & a {
                color: $gray-56;
            }
        }



        &:nth-last-child(2) {
            @media screen and (max-width: $w760) {
                display: block;

                &::after {
                    display: none;
                }

                & span,
                & a {
                    color: $accent-2-1;
                }
            }
        }


    }




}