.section-top-article {
    padding: 52px 0 30px;

    @media screen and (min-width: $w992) {
        padding: 30px 0 24px;
    }
}

.top-article {
    &__title {
        @include font-h2;
        padding-bottom: 0.2em;

        @media screen and (min-width: $w576) {
            padding-bottom: 0em;
        }
    }

    &__list {
        margin: -6px;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: $w992) {
            margin: -12px;
        }
    }

    &__slider {
        & .splide {

            &>.splide__arrows .splide__arrow {
                opacity: 1;



                &:hover {
                    opacity: 0.9;
                }

                & svg {
                    fill: $accent-2-1;
                    height: 18px;
                    width: 18px;
                }


            }

            &>.splide__arrows .splide__arrow {
                &--prev {
                    left: -50px;

                    & svg {
                        margin-right: 10px;
                    }
                }

                &--next {
                    right: -50px;

                    & svg {
                        margin-left: 8px;
                    }
                }

                &--prev,
                &--next {
                    background-color: transparent;
                    border-radius: 6px;
                    width: 40px;
                    height: 40px;



                    &:hover {
                        background-color: #F9F7FF;
                    }

                    &:disabled {
                        opacity: 0 !important;
                        pointer-events: none;
                    }
                }
            }

            &.is-pagination {
                & .splide {
                    &__arrow {

                        &--prev,
                        &--next {
                            &:disabled {
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }

        }

        & .splide {

            @media screen and (max-width: $w576) {

                &.is-initialized:not(.is-active) {
                    & .splide {
                        &__list {
                            display: flex;
                        }

                        &__slide {
                            margin-right: 16px;
                            width: 85%;
                            min-width: 290px;
                            max-width: 320px;
                        }

                        &__track {
                            overflow-x: auto;
                            scrollbar-width: none;
                        }
                    }
                }


            }


        }
    }

    &__item {
        padding: 6px;
        width: 100%;

        @media screen and (min-width: $w576) {
            width: 50%;
        }

        @media screen and (min-width: $w992) {
            width: 33.33%;
            padding: 12px;
        }
    }

    &__head {
        padding-bottom: 16px;

        @media screen and (min-width: $w576) {
            padding-bottom: 1.8em;
        }

        @media screen and (min-width: $w576) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__all {
        display: none;

        @media screen and (min-width: $w576) {
            display: block;
        }

        & .btn {
            font-weight: 700;
            padding-left: 2em;
            padding-right: 2em;

            &:hover {
                background-color: #5442AD;
                opacity: 1;
            }

        }
    }

    &__all-mobile {
        padding-top: 30px;

        @media screen and (min-width: $w576) {
            display: none;
        }

        & .btn {
            font-weight: 700;
            width: 100%;
        }

    }

    &__tags {

        @media screen and (min-width: $w576) {
            width: calc(100% - 168px);
            padding-right: 4px;
        }

        @media screen and (max-width: $w480) {
            margin-right: -16px;

            & li:last-child {
                padding-right: 16px;
            }
        }

        & ul {
            display: flex;
            flex-wrap: nowrap;
            margin: -4px;
            overflow-x: auto;
            overflow-y: hidden;

            scrollbar-color: transparent transparent;
            scrollbar-width: none !important;


            &::-webkit-scrollbar {
                width: 0;
                border-radius: 0;
                height: 0;
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 0;
            }

            & li {

                padding: 4px;
                position: relative;
                font-size: 15px;
                line-height: 125%;
                color: $accent-2-1;

                & a {
                    color: inherit;
                    display: flex;
                    align-items: center;
                    height: 36px;
                    border-radius: 4px;
                    background-color: $gray-96;
                    color: $gray-13;
                    padding: 0 0.9em;
                    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    white-space: nowrap;

                    @media screen and (min-width: $w576) {
                        padding: 0 1.2em;
                    }

                    &:hover {
                        background-color: $accent-2-1;
                        color: #fff;
                    }
                }
            }
        }
    }


}