mixin faq(data)
  .faq
    .faq__item
      each item, index in data
        .faq-item(class=(index == 0 ? 'open' : ''))
          .faq-item__question

            .faq-item__title= item.title
            .faq-item__arrow
              +icons('#ic_faq', 22)
          .faq-item__answer
            each text in item.answer 
              p!= text