include ../../../components/breadcrumb/breadcrumb.pug
include ../page-news/parts.pug
include ../card-article/card-article.pug
include ../news-carousel/news-carousel.pug
include ../../product-carousel/product-carousel.pug

mixin news-article
    .news-article
        .news-article__image
            +pictureLazy('/img/other/blog-main')
        .news-article__title
            h1 Обзор Samsung Galaxy S25 Ultra. Каким стал <br> южнокорейский флагман?

        .news-article__details
            .news-article__category: a(href='#') Девайсы
            .news-article__date: span 122.03.2025
            .news-article__views
                +icons('#ic_eye2', 15)
                span 75
            .news-article__autor
                +icons('#ic_pen', 20)
                span Евгений Попов
        .news-article__tags
            ul
                li: a(href='#') #samsung
                li: a(href='#') #новинки

        .news-article__context
            article.formated-text

                h3 Galaxy S уже не первый год остаются наиболее ожидаемыми смартфонами, в первую очередь, это касается топовых Ultra, где внедряются самые продвинутые технологии. В последнее время развитие существенно замедлилось, но интересные инновации в новинке все же присутствуют.

                h2 Дизайн

                p Острые углы много лет были отличительной особенностью линейки S, они выделяли устройство на фоне сотен других. В этот раз дизайнеры решили прислушаться к критике пользователей - углы стали более округленными. Дизайн задней крышки почти не изменили, здесь все тот же минимализм, зато через несколько лет никто не скажет, что аппарат выглядит устаревшим.

                img(src="/img/other/blog1.jpg")
                figcaption Samsung последовали за Apple и добавили скругления на боковые грани. Фото: staff.co.za

                blockquote 
                    p Цвета только спокойные – чёрный (Black), серый (Grey), серебристый (Whitesilver) и светло-синий (Silverblue).

                p Основные кнопки на боковой грани расположены выше обычного, к этому придется привыкать. Лоток для SIM почти в самом низу. Материалы премиальные – титановый сплав, сам аппарат крепкий, но степень защиты от влаги и пыли не изменилась (IP68).

                table 
                    tr
                        th Модель
                        th Экран
                        th Процессор
                        th Память (встроенная)
                        th Камеры (МП)

                    tr
                        td Pura 70
                        td 6.6"
                        td HiSilicon Kirin 9000S
                        td 12 ГБ / 256 ГБ
                        td ретинопатии;
                    tr
                        td Pura 70 Pro
                        td 6.8"
                        td HiSilicon Kirin 9010
                        td 12 ГБ / 512 ГБ
                        td ретинопатии;
                    tr
                        td Pura 70 Ultra
                        td 6.8"
                        td HiSilicon Kirin 9010
                        td 16 ГБ / 512 ГБ
                        td ретинопатии;



                h2 Новый S Pen

                p А вот стилус решили упростить: теперь в нем нет модуля Bluetooth. Больше не получится сделать фотографию дистанционно или запустить другую команду, не касаясь экрана, как это было в S24. Как рассказали разработчики, они провели исследование и выяснили, что очень небольшой процент покупателей пользовались этим функционалом.
                p Теперь с помощью «карандаша» можно просто что-то нарисовать на экране или поставить подпись. Говоря иными словами, S Pen превратился в простой стилус, и плюс здесь только один – он не сломается.

                img(src="/img/other/blog2.jpg")
                figcaption Стилус расположен в привычном месте в нижней грани смартфона. Фото: ign.com

                .article-gallery.article-gallery--col2
                    a(href='/img/other/blog3.jpg' data-fslightbox="gallery" data-caption="Фото: journal.tinkoff.ru"): +picture('/img/other/blog3')
                    a(href='/img/other/blog4.jpg' data-fslightbox="gallery" data-caption="Фото: mysport.ru"): +picture('/img/other/blog4')


                +product-carousel

                h2 Техническая «начинка»
                p <strong>Модель получила новейший процессор Snapdragon 8</strong> причем, это Elite for Galaxy, созданный специально для нее. По состоянию на март 2025 года он стал самым производительным мобильным процессором, поэтому обсуждать возможности не имеет смысла.
                p В плане физической памяти покупатель может выбрать один из трех вариантов:
                 
                ul
                    li 256 ГБ,
                    li 512 ГБ,
                    li 1024 гигабайта.

                p Несмотря на то, что революционных изменений нет, как видно из характеристик, в плане фото и видео аппарат остаётся лучшим. Высокая детализация, запись видео в разрешении 8К, макросъемка и точная фокусировка – все это об 25-м «Ультра».

                blockquote 
                    p Выделение акцентной информации (лицо цитата): Час просмотра онлайн-видео в высоком разрешении съедает всего 6% заряда, прохождение ресурсоемкой игры – не более 12 процентов.
       
                img(src="/img/other/blog5.jpg")
                figcaption С быстродействием у One UI 7 никаких проблем. Фото: engadget.com

                +product-carousel

                 p Несмотря на то, что революционных изменений нет, как видно из характеристик, в плане фото и видео аппарат остаётся лучшим. Высокая детализация, запись видео в разрешении 8К, макросъемка и точная фокусировка – все это об 25-м «Ультра».
       
        .news-article__similar
          +news-carousel({
            title: 'Интересно почитать ещё'
          })



mixin  page-news--article
    section.section-page-news
        .container
            .page-news(data-news="el")
                .page-news__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Блог',
                        'Cпорт',
                        'Сплит-тренировка: особен­ности формата и правила построения',
                    ])

                .page-news__row
                    .page-news__aside
                        .news-aside
                            .news-aside__header Спорт в блоге
                            .news-aside__find
                                .news-aside__input
                                    .input--find
                                        input(type="text" placeholder="Искать статьи"  name="find")

                                        span.icon-cross.clear-field
                                .news-aside__menu
                                    .btn-burger(data-news="open-menu")
                                        i
                                        i
                                        i
                            .news-aside__wrp
                                .news-aside__taxonomy: +type-taxonomy
                                .news-aside__taxonomy: +collections-taxonomy
                                .news-aside__taxonomy: +tags-taxonomy
                    .page-news__content
                        +news-article()