include ../../../components/breadcrumb/breadcrumb.pug
include ../page-news/parts.pug
include ../card-article/card-article.pug
include ../news-carousel/news-carousel.pug
include ../../product-carousel/product-carousel.pug

mixin news-article
    .news-article
        .news-article__image
            +picture('/img/other/img-big-main')
        .news-article__title
            h1 Сплит-тренировка: особен­ности формата и правила построения

        .news-article__details
            .news-article__category: a(href='#') Спорт
            .news-article__date: span 14.02.24
            .news-article__views
                +icons('#ic_eye2', 15)
                span 10к
            .news-article__autor
                +icons('#ic_pen', 20)
                span Константин Длиннофамильный
        .news-article__tags
            ul
                li: a(href='#') #applewatch
                li: a(href='#') #galaxysfit
                li: a(href='#') #airpods

        .news-article__context
            article.formated-text

                h3 Сплит-тренировка — популярный метод высокоинтенсивного занятия с отягощениями для набора мышечной массы и развития силы.
                p Тренировки по сплит-системе используют как опытные любители, так и профессиональные спортсмены. Рассказываем, что такое сплит-тренировка, кому она подходит и как составить программу самостоятельно.

                h2 Что такое сплит-тренировка

                p Сплит-тренировка — это метод силового тренинга, при котором отдельные мышечные области задействуют в разные дни. Такие занятия имеют множество схем построения, но все они сводятся к проработке одной или нескольких мышечных групп за тренировку.
                p Программа сплит-тренировок может состоять из двух, трех или четырех тренировочных дней в неделю — это зависит от целей, уровня физической подготовки, индивидуальных особенностей спортсмена, режима работы и отдыха. Распространенный двухдневный вариант — день верха и день низа.

                img(src="/img/other/img-sport.jpg")

                h2 Что лучше: сплит или фулбоди

                p Если на сплит-тренировках мышечные группы разделяются по дням, то тренировки фулбоди задействуют все тело на одном занятии.
                p Многие фитнес-тренеры уверены, что фулбоди подходят только новичкам, а сплит-тренировки — опытным спортсменам. На самом деле это не так. Ученые провели исследование, где анализировали влияние сплит- и фулбоди-тренировок на рост мышечной массы и силы в течение восьми недель. При равном еженедельном объеме нагрузки результат оказался практически одинаковым, но фулбоди показал чуть больший прирост.

                .article-gallery.article-gallery--col2
                    a(href='/img/other/img-article-0.jpg' data-fslightbox="gallery"): +picture('/img/other/img-article-0')
                    a(href='/img/other/img-article-1.jpg' data-fslightbox="gallery"): +picture('/img/other/img-article-1')

                p 
                    a(href='#') Еще в одном исследовании 
                    | сравнили влияние фулбоди и сплита на улучшение результата в 1ПМ. Ученые пришли к выводу, что при одинаковом тренировочном объеме 1ПМ показал наибольшее увеличение при тренировке всех мышечных групп за занятие.
               
                p 
                    a(href='#') В 2015 году провели исследование
                    | о влиянии частоты силовых тренировок на мышечную массу и силу. В течение восьми недель атлеты с опытом тренировок от трех до пяти лет занимались три раза в неделю, выполняя одинаковый тренировочный объем. Ученые пришли к выводу, что между группами была незначительная разница в результате, но группа фулбоди имела более высокие показатели.

                +product-carousel

                h2 Правила составления сплит-тренировок
                p <strong>Упражнения.</strong> Включайте в программу движения со свободными весами, на тренажерах и с собственным весом тела. Воздействие на мышцы под разными углами не дает им привыкнуть к нагрузке и увеличивает эффективность занятий.
                p Используйте многосуставные и односуставные упражнения в зависимости от цели тренировки и планируемой нагрузки. Многосуставные, или базовые, движения задействуют сразу несколько мышечных групп. К ним относятся приседания, жим штанги лежа, тяга верхнего блока, становая тяга. Односуставные, или изолирующие, упражнения — сгибание руки с гантелей, разгибание ног в тренажере, отведение гантели в сторону.
                img(src="/img/other/img-sport.jpg")
                p Перед началом интенсивных физических нагрузок <strong>необходимо проконсультироваться с врачом</strong>, особенно при беременности и следующих состояниях: (пример списка):

                ul
                    li сердечно-сосудистых заболеваниях;
                    li болезнях легких;
                    li травмах и заболеваниях опорно-двигательного аппарата;
                    li ретинопатии;
                    li ожирении;
                    li сахарном диабете.

                blockquote 
                    h3 Выделение акцентной информации:
                    p Упражнения. Включайте в программу движения со свободными весами, на тренажерах и с собственным весом тела. Воздействие на мышцы под разными углами не дает им привыкнуть к нагрузке и увеличивает эффективность занятий.
                    p Используйте многосуставные и односуставные упражнения в зависимости от цели тренировки и планируемой нагрузки. Многосуставные, или базовые, движения задействуют сразу несколько мышечных групп. К ним относятся приседания, жим штанги лежа, тяга верхнего блока, становая тяга. Односуставные, или изолирующие, упражнения — сгибание руки с гантелей, разгибание ног в тренажере, отведение гантели в сторону.
        .news-article__similar
          +news-carousel({
            title: 'Интересно почитать ещё'
          })



mixin  page-news--article
    section.section-page-news
        .container
            .page-news(data-news="el")
                .page-news__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Блог',
                        'Cпорт',
                        'Сплит-тренировка: особен­ности формата и правила построения',
                    ])

                .page-news__row
                    .page-news__aside
                        .news-aside
                            .news-aside__header Спорт в блоге
                            .news-aside__find
                                .news-aside__input
                                    .input--find
                                        input(type="text" placeholder="Искать статьи"  name="find")

                                        span.icon-cross.clear-field
                                .news-aside__menu
                                    .btn-burger(data-news="open-menu")
                                        i
                                        i
                                        i
                            .news-aside__wrp
                                .news-aside__taxonomy: +type-taxonomy
                                .news-aside__taxonomy: +collections-taxonomy
                                .news-aside__taxonomy: +tags-taxonomy
                    .page-news__content
                        +news-article()