.widget-rating.widget-rating--large
    .widget-rating__title Рейтинг магазина
    .widget-rating__total
        .widget-rating__bar.widget-rating__bar--green
            span.w100
            span.w100
            span.w100
            span.w100
            span.w50
        .widget-rating__num 4.5
        .widget-rating__bar.widget-rating__bar--green
            span.w100
            span.w100
            span.w100
            span.w100
            span.w50
    .widget-rating__button
        a(href='#') Показать 80 отзывов
    .widget-rating__logo: img(src="/img/common/logo-vako.svg")

.widget-rating
    .widget-rating__title Рейтинг магазина
    .widget-rating__total
        .widget-rating__bar.widget-rating__bar--blue
            span.w100
            span.w100
            span.w100
            span.w20
            span
        .widget-rating__num 4.2
        .widget-rating__bar.widget-rating__bar--blue
            span.w100
            span.w100
            span.w100
            span.w20
            span
    .widget-rating__button
        a(href='#') Показать 80 отзывов
    .widget-rating__logo: img(src="/img/common/logo-vako.svg")

.widget-rating
    .widget-rating__title Рейтинг магазина
    .widget-rating__total
        .widget-rating__bar.widget-rating__bar--red
            span.w100
            span.w100
            span
            span
            span
        .widget-rating__num 2.0
        .widget-rating__bar.widget-rating__bar--red
            span.w100
            span.w100
            span
            span
            span
    .widget-rating__button
        a(href='#') Показать 80 отзывов
    .widget-rating__logo: img(src="/img/common/logo-vako.svg")

.widget-rating
    .widget-rating__title Рейтинг магазина
    .widget-rating__total
        .widget-rating__bar.widget-rating__bar--orange
            span.w100
            span.w100
            span.w100
            span.w60
            span
        .widget-rating__num 3.6
        .widget-rating__bar.widget-rating__bar--orange
            span.w100
            span.w100
            span.w100
            span.w60
            span
    .widget-rating__button
        a(href='#') Показать 80 отзывов
    .widget-rating__logo: img(src="/img/common/logo-vako.svg") 