include ../../../modules/personal/personal-review/personal-review.pug

mixin widget__sm(data)
    .widget-small
        .widget-small__title= data.title
        .widget-small__content= data.content
        .widget-small__link
            a(href=data.link)= data.text

mixin widget__lg(data)
    .widget-large
        .widget-large__top
            .widget-large__data
                .widget-large__title Мои отзывы
                .widget-large__link: a(href='/personal/review.html') Перейти к отзывам
            .widget-large__metrics
                ul
                    li
                        strong 39
                        small отзывов всего
                    li
                        strong 27
                        small о товарах
                    li
                        strong 12
                        small о магазинах
        .widget-large__content
            .widget-large__lastcomment
                .last-comment
                    .last-comment__title Последний опубликованный отзыв
                    .last-comment__comment
                        +review-product({
                            rating: 5,
                            ratingClass: 'rating--green',
                            child: true
                        })

mixin widget__lg--empty(data)
    .widget-large
        .widget-large__top
            .widget-large__data
                .widget-large__title Мои отзывы
                .widget-large__link: a(href='/personal/review.html') Перейти к отзывам
           
        .widget-large__content
            .widget-large__lastcomment
                .last-comment
                    .last-comment__title У вас ещё нет оставленных отзывов.
                    .last-comment__desc Если хотите поделиться своим опытом об использовании какого-либо товара или о магазине, то можно зайти в его карточку на сайте, выбрать вкладку «Отзывы» и нажать кнопку «Оставить отзыв».
                        

mixin personal-home
    .personal-home
        .personal-home__list
            .personal-home__item.personal-home__item--col2 
                +widget__sm({
                    title: 'Избранное',
                    content: 'В избранном 12 товаров.',
                    link: 'wishlist.html',
                    text: 'Смотреть все'
                })
            .personal-home__item.personal-home__item--col2 
                +widget__sm({
                    title: 'Сравнение',
                    content: 'В сравнении 7 товаров.',
                    link: 'compare.html',
                    text: 'Смотреть все'
                })
            .personal-home__item 
                +widget__lg()


mixin personal-home--empty
    .personal-home
        .personal-home__list
            .personal-home__item.personal-home__item--col2 
                +widget__sm({
                    title: 'Избранное',
                    content: 'В избранном нет товаров.',
                    link: 'wishlist.html',
                    text: 'Перейти в каталог'
                })
            .personal-home__item.personal-home__item--col2 
                +widget__sm({
                    title: 'Сравнение',
                    content: 'В сравнении нет товаров.',
                    link: 'compare.html',
                    text: 'Перейти в каталог'
                })
            .personal-home__item 
                +widget__lg--empty()