extends layouts/home

include ../blocks/modules/search-index/search-index.pug
include ../blocks/modules/banner-slider/banner-slider.pug
include ../blocks/modules/top-categories/top-categories.pug
include ../blocks/modules/top-article/top-article.pug
include ../blocks/modules/collections-block/collections-block.pug
include ../blocks/modules/home-products/home-products.pug

include ../blocks/modules/about-video/about-video
include ../blocks/modules/last-review/last-review

include ../blocks/modules/about-platform/about-platform
include ../blocks/modules/grid-products/grid-products
include ../blocks/modules/banner-connect/banner-connect
include ../blocks/modules/yt-blockvideo/yt-blockvideo


 
block variables
  include ../data/data.pug
  - const title = "Vako"
 

block content 

  +banner-slider
  +collections-block
  +about-platform
  +top-categories
  +grid-products
  +top-article
  +banner-connect
  +catalog-popup()
  +yt-blockvideo
  +last-review

block scripts
  script(src="/js/vendor.min.js") 
  script(src="/js/common.js") 
  

 
