extends layouts/home

include ../blocks/modules/search-index/search-index.pug
include ../blocks/modules/banner-slider/banner-slider.pug
include ../blocks/modules/top-categories/top-categories.pug
include ../blocks/modules/top-article/top-article.pug
include ../blocks/modules/collections-block/collections-block.pug
include ../blocks/modules/home-products/home-products.pug


 
block variables
  include ../data/data.pug
  - const title = "Vako"
 

block content 

 +banner-slider
 +collections-block
 +top-categories
 +home-products
 +top-article
 +catalog-popup()



block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  

 
