.compare-table {

    width: 100%;
    position: relative;


    &__wrp {
        overflow-x: auto;
        width: 100%;
    }

    & td {
        min-width: 230px;
        width: 230px;
        font-weight: normal;
        font-size: 14px;
        padding: 14px 12px;
        border-color: #ebebeb;
    }

    & table {
        //width: 100%;
        //table-layout: fixed;
        //overflow-wrap: break-word;

        width: 100%;
        background-color: #fff;
        border-collapse: collapse;
        empty-cells: show;
        font-size: 15px;
        table-layout: fixed;
    }
}

.product-table {

    &__scroll {
        & td {
            border: none;
        }
    }

    &__group {

        position: relative;
        padding: 10px 0;

        & td {

            height: 50px;

            & .table-group {
                &__head {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #eee;
                    padding: 15px 12px;
                    display: flex;
                    align-items: center;
                    font-size: 18px;

                    & span {
                        position: sticky;
                        left: 12px;

                    }
                }
            }
        }

    }

    &__prop {
        & tr {

            & td {
                padding-top: 35px;
                font-size: 15px;
            }

            &:first-child {
                & td {
                    border: none;
                    padding-top: 10px;
                    padding-bottom: 0;
                    font-weight: 400;
                    color: #999;
                    position: absolute;
                    left: 0;
                    white-space: nowrap;
                    font-size: 13px;
                }
            }


        }
    }
}

.compare-product {
    &__top {
        display: flex;
    }

    &__image {
        width: calc(100% - 40px);
    }

    &__action {
        width: 40px;
        min-width: 40px;
    }

    &__rating {

        padding-bottom: 13px;
        display: flex;
        align-items: center;

        @media screen and (min-width: $w1440) {
            padding-bottom: 8px;

        }

        & span {
            display: inline-flex;
            width: 32px;
            height: 26px;
            background-color: #eee;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 800;
            border-radius: 4px;
        }

        & a {
            font-size: 13px;
            margin-left: 9px;

            display: inline-block;
            margin-top: -1px;

            &:hover {
                text-decoration: underline;
            }

            @media screen and (min-width: $w1440) {
                font-size: 13px;
            }
        }

        &.rating {
            &--green {
                & span {
                    background: $green;
                    color: #fff
                }

                & a {
                    color: $green;
                }
            }

            &--red {
                & span {
                    background: $red;
                    color: #fff
                }

                & a {
                    color: $red;
                }
            }

            &--orange {
                & span {
                    background: $orange;
                    color: #fff
                }

                & a {
                    color: $orange;
                }
            }

            &--blue {
                & span {
                    background: $blue;
                    color: #fff
                }

                & a {
                    color: $blue;
                }
            }
        }
    }

    &__price {
        @include minicard--price;

        @media screen and (min-width: $w1440) {
            font-size: 18px;
            padding-bottom: 5px;
        }
    }

    &__action {


        @media screen and (min-width: $w1200) {
            opacity: 0;
            transition: 0.2s ease;

            &:hover {
                opacity: 1;
            }
        }

        & a[data-tooltip]::before {
            min-width: auto;
            white-space: nowrap;
        }

        & a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;

            & svg {
                fill: #8F8F8F;
            }

            &:hover {

                background-color: #f5f5f5;
                border-radius: 4px;

                & svg {
                    fill: $accent-1-1;
                }

            }
        }

    }

    &__offers {


        & a,
        & span {
            color: $gray-56;
            font-size: 13px;

            &:hover {
                color: $accent-2-1;
            }
        }
    }

    &__title {
        padding-bottom: 20px;

        & a {
            font-size: 15px;
            font-weight: 600;
            line-height: 140%;
        }
    }
}


.compare-filter {
    display: flex;
}

.compare-filter__link ul {
    display: flex;
}