.compare-table {
    & td {
        width: 100%;
        font-weight: normal;
        font-size: 14px;
    }

    & table {
        width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }
}

.product-table {

    &__group {
        td {
            background-color: #eee;
            min-width: 320px;
        }
    }

    &__prop {
        & tr {
            &:first-child {
                & td {
                    border: none;
                    padding-top: 10px;
                    padding-bottom: 0;
                    font-weight: 400;
                    color: #999;
                }
            }
        }
    }
}