mixin table-prop(arr, name)
    tr
        each item,index in arr
            if(index == 0) 
                td
                    div.table-prop-head
                        span= name
                        i(data-prop-tooltip="12456" data-id="123456"): +icons('#ic_tooltip', 20) 
    tr
        each item in arr
            td= item

mixin table-group(count, name)
    
    tr
        each item,index in Array(count)

            if(index == 0) 
                td
                    div.table-group__head
                        span= (!index ? name : '')



mixin compare-product(item)
    .compare-product
        .compare-product__top
            .compare-product__image
                a(href='single-product.html' target="_blank")
                     +picture(item.img)
            .compare-product__action
                a(href='#' data-tooltip="Добавить в избранное" data-wishlist="8778"): +icons('#ic_heart-default', 20) 
                a(href='#' data-tooltip="Удалить" data-comare="remove"): +icons('#ic_trash-strong', 24)
        .compare-product__title
            a(href='single-product.html' target="_blank")= item.title
        .compare-product__rating.rating--green
            span 4.7
            a(href='single-product.html#review' target="_blank") 82 отзыва
        .compare-product__price от 34 990 ₽
        .compare-product__offers: span 7 предложений

mixin compare-table-top(item)
    .compare-table-top
        .compare-table-top__sort
            .compare-filter
                .compare-filter__title Показывать:
                .compare-filter__link
                    ul
                        li(data-similar="show").is-active 
                            span.text--mobile Все хар-ки
                            span.text--desktop Все характеристики
                        li(data-similar="hide")  
                            span.text--mobile Различающиеся хар-ки
                            span.text--desktop Различающиеся характеристики

        .compare-table-top__nav
            .compare-table-top__nav-prev(data-se-slider="prev"): +icons('#ic_arrow-left', 24)
            .compare-table-top__nav-next(data-se-slider="next"): +icons('#ic_arrow-right', 24)
