mixin about-platform
    section.section-about-platform
        .container
            .about-platform
                .about-platform__adv
                    .about-platform__list
                        .about-platform__item
                            .about-platform__icon: +bgimage('/img/icon/01-list.svg')
                            .about-platform__text Более 45 000 <br> товарных предложений
                        .about-platform__item
                            .about-platform__icon: +bgimage('/img/icon/02-shield.svg')
                            .about-platform__text Только <br> надёжные продавцы
                        .about-platform__item
                            .about-platform__icon: +bgimage('/img/icon/03-wallet.svg')
                            .about-platform__text Действительно выгодные <br> цены
                       
                .about-platform__desc
                    .formated-text
                        h3 Vako.Market – это товарно-ценовой агрегатор
                        p На платформе можно найти информацию об устройствах, их внешний вид, характеристики, обзоры, а также наличие, стоимость и условия покупки в разных магазинах с привязкой к региону продажи.