mixin parts
    .container

        br
        br
        br

        h2 Категория 
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_search_fail_60.svg')
            .block-plug__title В данной категории пока нет предложений
            .block-plug__desc Если вы владелец интернет-магазина и хотите размещать свои предложения здесь, нажмите на <a href="#">Вход для магазинов</a> и станьте нашим партнёром.

        br
        br
        h2 Все предложения магазинов 
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_search_fail_60.svg')
            .block-plug__title В данном регионе пока нет предложений
            .block-plug__desc Если вы владелец интернет-магазина и хотите размещать свои предложения здесь, нажмите на <a href="#">Вход для магазинов</a> и станьте нашим партнёром.

        br
        br
        h2 Отзывы о товаре (Гость)
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_attention_60.svg')
            .block-plug__title О данном товаре ещё нет отзывов. Чтобы поделиться своим мнением, необходимо <a href="#login" >Войти</a> или <a href="#reg" >Зарегистрироваться</a>.
            .block-plug__desc Все сообщения проходят модерацию, поэтому просим не сквернословить и уважать собеседников, в случае их появления.


        br
        br
        h2 Отзывы о товаре 
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_attention_60.svg')
            .block-plug__title О данном товаре ещё нет отзывов. Чтобы поделиться своим мнением, нажмите кнопку <a href="#" >Оставить отзыв</a>
            .block-plug__desc Все сообщения проходят модерацию, поэтому просим не сквернословить и уважать собеседников, в случае их появления.


        br
        br
        h2 Избранное(Гость)
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_favourites_empty_60.svg')
            .block-plug__title В данный момент список пуст. Чтобы добавить необходимый товар, нажмите на иконку <span class="ic_24" style="background-image: url('/img/common/01-favorites.svg')" ></span> «Добавить в избранное» в его карточке.
            .block-plug__desc Сохранение товаров в <strong>Избранном</strong> доступно без авторизации, но в таком случае записи могут самостоятельно обновляться с течением времени.

        br
        br
        h2 Избранное
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_favourites_empty_60.svg')
            .block-plug__title В данный момент список пуст. Чтобы добавить необходимый товар, нажмите на иконку <span class="ic_24" style="background-image: url('/img/common/01-favorites.svg')" ></span> «Добавить в избранное» в его карточке.
            .block-plug__desc Храните столько товаров, сколько захотите.

        br
        br
        h2 Сравнение товаров(гость)
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_comparison_empty_60.svg')
            .block-plug__title В данный момент список пуст. Чтобы добавить необходимый товар, нажмите на иконку <span class="ic_24" style="background-image: url('/img/common/02-comparison.svg')" ></span> «Добавить в избранное» в его карточке.
            .block-plug__desc Сохранение товаров <strong>В сравнении</strong> доступно без авторизации, но в таком случае записи могут самостоятельно обновляться с течением времени.
      
      
        br
        br
        h2 Сравнение товаров 
        br

        .block-plug
            .block-plug__icon
                +bgimage('/img/common/icon_comparison_empty_60.svg')
            .block-plug__title В данный момент список пуст. Чтобы добавить необходимый товар, нажмите на иконку <span class="ic_24" style="background-image: url('/img/common/02-comparison.svg')" ></span> «Добавить в избранное» в его карточке.
            .block-plug__desc Храните столько товаров, сколько захотите.
        

        
        br
        br
        br