.single-product {
    &__breadcrumbs {
        padding: 14px 0 0 0;

        @media screen and (min-width: $w760) {
            padding: 20px 0 0 0;
        }
    }

    &__h1 {

        padding-bottom: 6px;

        & h1 {
            font-weight: 800;
            font-size: 18px;
            margin-top: 4px;
            line-height: 155%;


            @media screen and (min-width: $w992) {
                font-size: 28px;
            }

            @media screen and (min-width: $w760) {
                font-size: 20px;
            }

            @media screen and (min-width: $w576) {
                line-height: 146%;
            }


        }
    }




    &__tabs {
        & ul {
            display: flex;
            opacity: auto;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 10px;


            scrollbar-color: transparent transparent;
            scrollbar-width: thin !important;


            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 4px;
            }

            @media screen and (min-width: $w992) {
                border-bottom: 1px solid #E0E0E0;
                padding-bottom: 0;
                margin-bottom: 33px;
            }


            & li {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 7px 12px 9px 12px;
                    background-color: $gray-96;
                    border-radius: 6px;
                    font-weight: 700;
                    font-size: 15px;


                    @media screen and (min-width: $w992) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 9px 15px 11px 15px;
                        padding: 10px 15px;
                    }

                    @media screen and (min-width: $w576) {
                        padding: 10px 12px;
                    }
                }

                &.active {
                    & a {
                        background-color: $accent-2-1;
                        color: #fff;
                    }
                }
            }

        }

        &.fixed-tabs {
            position: fixed;
            background-color: #fff;
            z-index: 100;
            left: 0;
            top: 0;
            right: 0;
            filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.12));
            padding: 12px 0px 12px 0px;

            @media screen and (min-width: $w480) {
                padding: 12px 15px;
            }

            & ul {
                margin: 0 auto;

                border: none;

                @include container-breakpoint;



                & li {
                    & a {
                        border-radius: 6px;
                    }
                }
            }
        }
    }

    &__content {
        & [data-tab] {
            display: none;
            transition: 0.3s ease;

            &.active,
            &.is-active {
                display: block;
                animation: fade-in 0.3s ease forwards;
            }
        }
    }
}

.product-main {

    padding-bottom: 50px;

    @media screen and (min-width: $w992) {
        display: flex;

        &__images {
            width: 29%;
        }

        &__details {
            width: 71%;
            padding-left: 42px
        }

    }
}

.product-images {

    & picture {
        position: relative;
        display: block;
        padding-top: 82%;

        @media screen and (min-width: $w992) {
            padding-top: 100%;
        }

        @media screen and (min-width: $w576) {
            padding-top: 51%;
        }

        & img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__thumb {
        display: none;

        & .splide {

            &__track {
                &--nav {
                    & .splide {
                        &__slide {

                            border: 1px solid transparent;
                            border-radius: 6px;
                            overflow: hidden;
                            padding: 5px;

                            &.is-active {
                                border: 1px solid $accent-2-1;
                            }
                        }
                    }

                }
            }


        }

        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__slider {
        width: calc(100% - 70px);
    }

    &__all {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        min-width: 70px;
        font-size: 14px;
        color: $accent-2-1;

        & span {
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__large {
        padding-bottom: 30px;
    }

    & .splide {
        &__pagination {
            position: relative;
            padding-top: 10px;

            @media screen and (min-width: $w760) {
                padding-top: 25px;
            }
        }


    }

}

.product-details {

    &__colors {

        max-height: 600px;
        transition: 0.3s ease;
        overflow: hidden;
        padding-bottom: 15px;

        @media screen and (min-width: $w992) {
            padding-bottom: 25px;
        }

        & span {
            font-weight: 700;
            display: block;
            padding-bottom: 18px;

            @media screen and (min-width: $w1440) {
                font-size: 15px;
            }
        }

        &:hover {
            overflow: visible;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -2px;

            & li {
                padding: 2px;


                & label {
                    & input {
                        display: none;

                        &[disabled] {

                            &~span {
                                pointer-events: none;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAxMi4zNjRMLjM1NyAyNC4zNWwtLjcxNy0uNjk3IDExLjY2MS0xMi4wMDVMLjMyNy4zNDlsLjcxOC0uNjk3IDEwLjk1NCAxMS4yNzdMMjIuOTU0LS4zNDhsLjcxNy42OTctMTAuOTc1IDExLjI5OCAxMS42NjIgMTIuMDA1LS43MTcuNjk3LTExLjY0Mi0xMS45ODV6IiBmaWxsPSIjQ0NDIi8+PC9zdmc+);
                            }

                        }

                        &:checked {
                            &~span {
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);

                                &.color--border {
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+);
                                }

                            }
                        }
                    }

                    & span {

                        &::before {
                            min-width: auto;
                            white-space: nowrap;
                            top: auto;
                            bottom: calc(100% + 8px);
                            padding: 6px 10px;
                            font-size: 13px;
                            transform: translateX(calc(-50% + 12px));
                        }
                    }


                }

                &:nth-child(1) {


                    & span[data-tooltip] {
                        &::before {
                            transform: translateX(0);
                        }
                    }
                }
            }

            & span {
                width: 24px;
                height: 24px;
                background-color: #eee;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    &__review {


        display: flex;
        align-items: center;



        & span {
            display: inline-flex;
            width: 32px;
            height: 26px;
            background-color: #eee;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 800;
            border-radius: 4px;
        }

        & a {
            font-size: 13px;
            margin-left: 9px;

            display: inline-block;
            margin-top: -1px;

            &:hover {
                text-decoration: underline;
            }

            @media screen and (min-width: $w1440) {
                font-size: 14px;
            }
        }

        &.rating {
            &--green {
                & span {
                    background: $green;
                    color: #fff
                }

                & a {
                    color: $green;
                }
            }

            &--red {
                & span {
                    background: $red;
                    color: #fff
                }

                & a {
                    color: $red;
                }
            }

            &--orange {
                & span {
                    background: $orange;
                    color: #fff
                }

                & a {
                    color: $orange;
                }
            }

            &--blue {
                & span {
                    background: $blue;
                    color: #fff
                }

                & a {
                    color: $blue;
                }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    &__compare,
    &__fav {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: $gray-56;
        font-weight: 600;



        & svg {

            width: 20px;
            min-width: 20px;
            height: 20px;
            stroke: $gray-56;
            stroke-width: 2px;
            fill: transparent;
        }

        & span {
            display: none;
            padding-left: 10px;
            font-size: 13px;
            color: $gray-56;

            @media screen and (min-width: $w1440) {
                font-size: 14px;
            }

            @media screen and (min-width: $w992) {
                display: inline-block;
            }
        }

        & a {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            justify-content: center;
            position: relative;

            &::before {
                display: none !important;
            }

            @media screen and (min-width: $w992) {
                width: auto;
                padding: 0 12px;
                height: 36px;
            }



            &.active {
                & svg {
                    fill: $accent-1-1;
                    stroke: $accent-1-1;
                }


            }

            &:hover {
                background-color: $gray-96;
                color: $accent-1-1;

                & svg {
                    stroke: $accent-1-1;
                }

                & span {
                    color: $accent-1-1;
                }


            }
        }
    }

    &__properties-min {
        display: none;

        @media screen and (min-width: $w992) {
            display: block;
        }
    }

    &__properties-fast {

        border-bottom: 1px solid #eee;
        margin-bottom: 20px;

        @media screen and (min-width: $w576) {
            columns: 2;
        }
    }



}

@keyframes effect_dylan {
    50% {
        transform: scale(1.9, 1.9);
        opacity: 0;
    }

    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }

    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}

.fast-properties {
    &__title {
        font-weight: 700;
        padding-bottom: 11px;

        @media screen and (min-width: $w1440) {
            font-size: 15px;
        }

        @media screen and (min-width: $w480) {
            padding-bottom: 15px;
        }
    }

    &__items {
        padding-bottom: 16px;

        @media screen and (min-width: $w760) {
            padding-bottom: 30px;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;
        }

        & li {
            padding: 5px;

            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 16px 7px 16px;
                background-color: $gray-96;
                border-radius: 4px;
                line-height: 123%;
                font-size: 13px;
                height: 28px;

                @media screen and (min-width: $w992) {
                    padding: 7px 16px 9px 16px;
                }

                @media screen and (min-width: $w480) {
                    font-size: 14px;
                }

                &:hover {
                    background-color: $gray-92;
                }
            }

            &.is-active {
                & a {
                    background-color: $accent-2-1;
                    color: #fff;
                }
            }

        }
    }
}

.product-offers {
    &__title {
        padding-bottom: 25px;

        @media screen and (min-width: $w760) {
            padding-bottom: 45px;
        }

        & h2 {
            @include font-h2;
        }
    }

}

.min-properties {
    &__title {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 15px;
    }

    &__list {

        & ul {
            & li {

                padding-bottom: 8px;

                & small {
                    font-size: 14px;
                    color: $gray-56;
                }

                & span {
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
        }

    }

    &__more {
        padding-top: 10px;

        & a {
            font-weight: 600;
            color: $accent-2-1;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.popup-store-offers {

    max-width: 1072px;

    @media screen and (min-width: $w760) {
        padding: 30px;
    }

    &__title {
        @include font-h3;
        font-weight: 900;
        padding-bottom: 25px;
        padding-right: 60px;

        @media screen and (min-width: $w1200) {
            margin-top: -15px;

        }

    }

    &__items {
        max-height: calc(75vh - 100px);
        overflow-y: auto;
        @include scrollbar;

        @media screen and (min-width: $w992) {
            margin-right: -10px;
        }

        & .minicard {
            margin-bottom: 12px;

            &__title {
                @media screen and (min-width: $w1440) {
                    font-size: 18px;
                }
            }

            &__images {
                @media screen and (min-width: $w1200) {
                    max-width: 148px;
                    min-width: 148px;
                }
            }



            &__main {
                display: flex;
                align-items: center;
            }

            &__price {
                display: block;
                padding-bottom: 10px;
            }

        }
    }

    &__wrp {
        @media screen and (min-width: $w992) {
            padding-right: 10px;
        }
    }
}

.product-mini {

    display: flex;
    padding-bottom: 16px;

    &__image {

        width: 68px;
        min-width: 68px;

        @media screen and (min-width: $w1200) {
            width: 100px;
            min-width: 100px;
        }

        & picture {
            @include picture(100%, cover);
        }
    }

    &__main {
        display: flex;
        align-items: center;
        padding-left: 32px;

        @media screen and (min-width: $w760) {
            display: block;
            padding-top: 8px;
        }
    }

    &__review {

        display: flex;
        align-items: center;

        @media screen and (min-width: $w1200) {
            padding-bottom: 15px;
        }

        & span {
            display: inline-flex;
            width: 32px;
            height: 26px;
            background-color: #eee;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 800;
            border-radius: 4px;
        }

        & a {
            font-size: 13px;
            margin-left: 9px;

            display: inline-block;
            margin-top: -1px;

            &:hover {
                text-decoration: underline;
            }

            @media screen and (min-width: $w1440) {
                font-size: 13px;
            }
        }

        &.rating {
            &--green {
                & span {
                    background: $green;
                    color: #fff
                }

                & a {
                    color: $green;
                }
            }

            &--red {
                & span {
                    background: $red;
                    color: #fff
                }

                & a {
                    color: $red;
                }
            }

            &--orange {
                & span {
                    background: $orange;
                    color: #fff
                }

                & a {
                    color: $orange;
                }
            }

            &--blue {
                & span {
                    background: $blue;
                    color: #fff
                }

                & a {
                    color: $blue;
                }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 12px;

        @media screen and (min-width: $w760) {

            padding-left: 0;
        }
    }

    &__compare,
    &__fav {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: $gray-56;
        font-weight: 600;

        & svg {

            width: 20px;
            min-width: 20px;
            height: 20px;
            stroke: $gray-56;
            stroke-width: 2px;
            fill: transparent;
        }

        & span {
            display: none;
            padding-left: 10px;
            font-size: 13px;
            color: $gray-56;

            @media screen and (min-width: $w1440) {
                font-size: 14px;
            }

            @media screen and (min-width: $w992) {
                display: inline-block;
            }
        }

        & a {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            justify-content: center;
            position: relative;

            @media screen and (min-width: $w992) {
                width: auto;
                padding: 0 12px;
                height: 36px;
            }

            &::before {
                display: none !important;
            }

            &.active {
                & svg {
                    fill: $accent-1-1;
                    stroke: $accent-1-1;
                }


            }

            &:hover {
                background-color: $gray-96;
                color: $accent-1-1;

                & svg {
                    stroke: $accent-1-1;
                }

                & span {
                    color: $accent-1-1;
                }


            }
        }
    }

    &__fav {
        margin-left: 0;
    }

    &__text {
        line-height: 143%;
    }
}

.store-points {

    background-color: #eee;
    margin: -10px;
    border-radius: 6px;
    overflow: hidden;

    @media screen and (min-width: $w992) {
        width: 60vw;
        max-width: 1070px;

    }

    &__wrp {
        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__head {
        font-size: 16px;
        line-height: 160%;
        padding: 13px 15px;
        font-weight: 800;
        padding-right: 40px;

        @media screen and (min-width: $w992) {
            @include font-h3;
            padding: 25px 25px;
        }
    }

    &__map {
        width: 100%;
        flex-grow: 1;

        & #map-stores {
            height: 40vh;
            background-color: #ddd;

            @media screen and (min-width: $w992) {
                height: 70vh;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 40vh;

        @media screen and (min-width: $w992) {
            width: 40%;
            height: 70vh;


        }
    }

    &__items {
        overflow-y: auto;
        overflow-x: hidden;

        @include scrollbar;
    }

    &__stores {
        color: $gray-56;
        font-weight: 600;
        padding: 12px 10px;
        border-bottom: 1px solid $gray-92;
    }

    &__item {
        padding: 10px 16px 10px 10px;
        border-left: 2px solid transparent;
        cursor: pointer;

        &.is-active,
        &:hover {
            border-color: $accent-2-1;
            background-color: #f7f7f7;
        }
    }

    &__title {
        color: $gray-13;
        padding-bottom: 5px;
        font-size: 13px;

        @media screen and (min-width: $w992) {
            font-size: 14px;
        }
    }

    &__worktime {
        color: $gray-56;
        padding-bottom: 5px;
        font-size: 13px;

        @media screen and (min-width: $w992) {
            font-size: 14px;
        }
    }


}


div[data-single-catalog] {

    animation: fade-in 0.3s ease forwards;

    &:not(.is-active) {
        display: none;
    }
}

.point-store {

    padding: 5px 5px;
    // border-left: 2px solid transparent;

    // &:hover {
    //     border-color: $accent-2-1;
    // }

    &__name {
        padding-bottom: 10px;

        & a {
            font-weight: 800;
            font-size: 16px;


            @media screen and (min-width: $w992) {
                font-size: 18px;
            }

            &:hover {
                color: $accent-2-1;
            }
        }
    }

    &__address {
        padding-bottom: 10px;
        font-size: 14px;
    }

    &__worktime {
        padding-bottom: 10px;
        font-size: 14px;
        color: $gray-56;
    }

    &__now {
        color: $green;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        &::before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            display: inline-block;
            background-color: $green;
            margin-top: 2px;
            margin-right: 5px;

        }
    }

    &__product {
        display: flex;
    }

    &__image {
        width: 56px;
        min-width: 56px;

        & picture {
            @include picture(100%, contain);
        }
    }

    &__main {
        padding-left: 12px;
    }

    &__title {
        padding-bottom: 15px;

        & a {
            font-size: 13px;

            &:hover {
                color: $accent-2-1;
                text-decoration: underline;
            }
        }
    }

    &__price {
        font-weight: 800;
    }

}

.tooltip-box-item {
    position: fixed;
    background-color: #fff;
    width: 400px;
    padding: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    z-index: 15;
    // left: -180px;
    // bottom: 33px;
    animation: fade-in 0.3s ease forwards;

    -webkit-column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
}

.tooltip-box-item.tooltip-box-item--left {
    // left: 0;
}

.tooltip-box-item.tooltip-box-item--top {
    // bottom: auto;
    // top: 28px;
}

.tooltip-box .af-spiner {
    margin: auto;

    width: 60px;
    height: 60px;
    min-width: 60px;
}

.tooltip-box .af-spiner::after {
    content: '';
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: 3px solid #7B61FF;

}

.popup-tooltip-box {
    background-color: #fff;
    padding: 15px;

    @media screen and (min-width: $w480) {
        max-width: 480px;
    }
}



.tooltip-box {

    -webkit-column-break-inside: avoid;
    -webkit-backface-visibility: hidden;


    &__title {
        font-size: 18px;
        font-weight: 800;
        padding-bottom: 10px;
        padding-right: 16px;
        -webkit-column-break-inside: avoid;
        -webkit-backface-visibility: hidden;
    }

    &__text {
        font-size: 13px;
        line-height: 140%;
        -webkit-column-break-inside: avoid;
        -webkit-backface-visibility: hidden;
        padding-right: 16px;
    }
}

@keyframes to_fade-spiner {
    to {
        opacity: 1
    }
}

.tooltip-box .af-spiner {
    opacity: 0;
    animation: to_fade-spiner 0.1s ease forwards;
    animation-delay: 0.150s
}

.single-product__tabs.fixed-tabs~div {

    margin-top: 48px;

    @media screen and (min-width: $w992) {
        margin-top: 73px;
    }
}

.page-hidden .single-product__tabs {
    display: none;
}