include ../../components/breadcrumb/breadcrumb.pug
include ../../modules/single-shop-head/single-shop-head.pug
include single-product__common.pug
include single-product__prop.pug
include single-product__prices.pug
include single-product__review.pug
include single-product__video.pug


mixin single-product
    section.single-product
        .container
            .single-product
                .single-product__breadcrumbs
                    +breadcrumb-sub([ 
                        {
                            title: 'Главная',
                            link: '/',
                            sub: false
                        },
                        {
                            title: 'Ноутбуки и аксессуары',
                            link: '/cat.html',
                            sub: [
                                'Ноутбуки',
                                'Аксессуары для ноутбуков',
                                'Запчасти и комплектующие для ноутбуков',
                            ]
                        },
                        {
                            title: 'Ноутбуки',
                            link: '/subcat.html',
                            sub: [
                                'Ноутбуки игоровые',
                                'Для работы',
                            ]
                        },
                        {
                            title: 'Ноутбуки ASUS',
                            link: '/',
                            sub: [
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Apple MacBook',
                                'Ноутбуки Toshiba',
                                'Ноутбуки Sony',
                                'Ноутбуки ElectroLux',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                                'Ноутбуки Dell',
                                'Ноутбуки HP',
                                'Ноутбуки Sony',
                            ]
                        },
                        {
                            title: 'Ноутбук ASUS Zenbook 14 UX425EA-KI421T 1920x1080, Intel Core i3 1115G4 3 ГГц, RAM 8 ГБ, SSD 256 ГБ, Intel UHD Graphics',
                            link: false,
                            sub: false
                        },
                        
                    ]) 
                .single-product__h1: h1 14" Ноутбук ASUS ZenBook 14 UX425EA-KI421T 1920x1080, Intel Core i3 1115G4 3 ГГц, RAM 8 ГБ, SSD 256 ГБ, Intel UHD Graphics, Windows 10 Home, 90NB0SM1-M08850, Pine Grey
                .single-product__tabs
                    ul(data-tab-nav="product")
                        li: a(href='#common') Общая информация
                        li: a(href='#properties') Характеристики
                        li: a(href='#prices') Цены
                        li: a(href='#review') Отзывы
                        li: a(href='#video') Обзоры

                .single-product__content(data-tab-container="product")
                    +product-common
                    +product-prop
                    +product-prices
                    +product-review
                    +product-video



mixin single-shop
    section.single-product
        .container
            .single-product
                .single-product__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Магазин Shop Local'
                    ])
                .single-product__h1.single-shop__h1: h1 Магазин Shop Local
                +single-shop-head
                .single-product__wrp-tabs
                    .single-product__tabs
                        ul(data-tab-nav="store")
                            li: a(href='#review') Отзывы магазина
                            li: a(href='#common') Товары магазина

                .single-product__content(data-tab-container="store")
                    +shop-review
                    +product-common-shop-items('disabled-sort')

