include ../catalog-category-3/catalog-category-3.pug

mixin product-review
    .product-review(data-tab="review")
        .product-review__wrp
            .product-review__content
                .review-content
                    .review-content__top
                        .review-content__h2 Отзывы о товаре (27)
                        .review-content__action
                            .review-content__sort
                                .sort-dropdown
                                    .sort-dropdown__title По полезности
                                    .sort-dropdown__list
                                        ul
                                            li: a(href='#' ) По дате
                                            li: a(href='#' class="is-active is-active--up") По оценке
                                            li: a(href='#') По полезности

                            .review-content__mobile
                                button(data-filter="open") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры

                    .review-content__list
                        each item in [1,1,1,1,1,1,1,1,1]
                            .review-content__item: +card-review

            .product-review__aside
                .review-filter
                    .review-filter__head
                        .review-filter__head-title Фильтры и сортировка
                        .review-filter__head-close: span.icon-cross(data-filter="open")

                    .review-filter__wrp
                        .review-filter__add
                            button.btn Оставить отзыв
                        .review-filter__form
                            form(action='#' method='POST')
                                .review-filter__props
                                    .review-filter__item: +prop-checkbox({
                                        title: 'Производитель',
                                        checkbox: [
                                            'Отлично (72)',
                                            'Хорошо (5)',
                                            'Средне (3)',
                                            'Плохо (1)',
                                            'Ужасно (1)',
                                        ]
                                    })

                                .review-filter__submit
                                    .review-filter__send(data-filter="submit")
                                        button.btn
                                            span Посмотреть
                                            small 328 предложений 
                                    //- .review-filter__clear(data-filter="clear")
                                    //-     span.icon-cross 
                                    //-     small Очистить <span>все фильтры</span>

mixin card-review
    .card-review
        .card-review__photo
            +picture('/img/user')
        .card-review__main
            .card-review__head 
                .card-review__name Андрей Маяковский
                .card-review__date 2 месяца назад, Москва
            .card-review__rating.rating--green
                span 5
                small Отлично
            .card-review__text Относительная компактность -вид -удобное расположение АКБ -мощная АКБ -насос (спрятан в штыре сиденья) -передний свет от АКБ полная зарядка около 6 часов -удобная посадка (мой рост 184, можно было еще поднять) -АКБ на замке Классический мужской дизайн. Прочно и надёжно, что и свойственно для G-shok. Точность хода. Ни каких лишних функций.
            .card-review__thesis
                .card-review__adv 
                    +icons('#ic_like', 20)
                    span дизайн, качество низких частот
                .card-review__flaws 
                    +icons('#ic_dislike', 20)
                    span не нашел
            .card-review__action
                .card-review__add
                    +icons('#ic_comment', 20)
                    span Комментировать
                .card-review__commets Все комментарии (14)