include ../catalog-category-3/catalog-category-3.pug

mixin fast-properties(data)
    .fast-properties
        .fast-properties__title= data.title
        .fast-properties__items
            ul
                each item, index in data.option
                
                    if(item.disabled)
                        li(class=(data.active == index ? 'is-active':'')): a(href='#' disabled="")= item.name
                    else
                        li(class=(data.active == index ? 'is-active':'')): a(href='#' )= item.name


mixin product-common
     
    .product-common(data-tab="common")
        .product-main
            .product-main__images
                .product-images
                    .product-images__large
                        .splide(data-slider="product")
                            .splide__track
                                .splide__list
                                    .splide__slide: +picture('/img/product/sp-1')
                                    .splide__slide: +picture('/img/product/sp-2')
                                    .splide__slide: +picture('/img/product/sp-3')
                                    .splide__slide: +picture('/img/product/sp-4')
                                    .splide__slide: +picture('/img/product/sp-5')
                    .product-images__thumb
                        .product-images__slider
                            .splide(data-slider="thumb")
                                .splide__track
                                    .splide__list
                                        .splide__slide: +picture('/img/product/sp-1')
                                        .splide__slide: +picture('/img/product/sp-2')
                                        .splide__slide: +picture('/img/product/sp-3')
                                        .splide__slide: +picture('/img/product/sp-4')
                                        .splide__slide: +picture('/img/product/sp-5')
                        .product-images__all
                            span Все фото
                            
            .product-main__details
                .product-details
                    .product-details__action
                        .product-details__review.rating--green
                            span 4.7
                            a(href='#') 82 отзыва
                        .product-details__fav
                            a(href='#' data-wishlist="8778")
                                +icons('#ic_heart-default', 20)
                                span(data-wishlist-text="fav") В избранное
                        .product-details__compare
                            a(href='#' data-compare="7852")
                                +icons('#ic_compare-default', 20)
                                span(data-wishlist-text="compare") Сравнить
                    .product-details__colors

                        span Цвет: Pine Grey

                        ul
                            li  
                                label
                                    input(type="radio" name="color-product")
                                    span(data-tooltip="Графитовый" style="background-color: #808080")
                            li  
                                label
                                    input(type="radio" name="color-product")
                                    span(data-tooltip="Графитовый" style="background-color: #c0c0c0")
                            li  
                                label
                                    input(type="radio" name="color-product")
                                    span.color--border(data-tooltip="Графитовый" style="background-color: #fff")
                            li  
                                label
                                    input(type="radio" name="color-product")
                                    span.multi-color(data-tooltip="Красный/Зеленый/Синий")
                                        svg(width='24' height='24' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M63.002 63h63C121.502 2.004 62-10.495 32 8l31.002 55z' fill='#E81E1E')
                                            path(d='M62.995 62.998L32.002 117c55.074 26.6 95.008-18.776 93.99-54.005l-62.997.003z' fill='#A71EE8')
                                            path(d='M63 63.001L32 8c-50.776 34.094-30.915 92.083.002 109L63 63.001z' fill='#0CE97F')

                            li  
                                label
                                    input(type="radio" name="color-product")
                                    span.multi-color(data-tooltip="Розовый/Голубой")
                                        svg(width='125' height='125' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M106.694 18.306a62.5 62.5 0 10-88.388 88.388l88.388-88.388z' fill='#E31CAC')
                                            path(d='M18.306 106.694a62.5 62.5 0 1088.388-88.388l-88.388 88.388z' fill='#1C9CE3')




                    .product-details__properties
                        .product-details__properties-fast
                            each item in fastProperty
                                +fast-properties(item)
                        .product-details__properties-min
                            .min-properties
                                .min-properties__title Коротко о товаре
                                .min-properties__list
                                    ul
                                        li
                                            small Экран:
                                            span 14" (1920x1080) IPS, 60 Гц
                                        li
                                            small Процессор:
                                            span Intel Core i5 1135G7 (4x2.40 ГГц)
                                        li
                                            small Память:
                                            span оперативная 8 ГБ (4266 МГц), SSD 512 ГБ, HDD отсутствует
                                        li
                                            small Видеокарта:
                                            span Intel Iris Xe Graphics
                                .min-properties__more
                                    a(href='#properties') Все характеристики

    .product-mini(data-tab="properties,prices,review,video") 
        .product-mini
            .product-mini__image
                +picture('/img/product/sp-1')
            .product-mini__main
                .product-mini__review.rating--green
                    span 4.7
                    a(href='#') 82 отзыва
                .product-mini__action
                    .product-mini__fav
                        a(href='#' data-wishlist="8778")
                            +icons('#ic_heart-default', 20)
                            span(data-wishlist-text="fav") В избранное
                    .product-mini__compare
                        a(href='#' data-compare="7852")
                            +icons('#ic_compare-default', 20)
                            span(data-wishlist-text="compare") Сравнить

    .product-offers(data-tab="common,prices")
        .product-offers__title: h2 Все предложения магазинов (27)

        .product-offers__catalog
            .catalog-category
                .catalog-category__content
                    .catalog-category__aside(style="display:block")

                        .category-filter(data-filter-container="prices")
                            .category-filter__head
                                .category-filter__head-title Фильтры и сортировка
                                .category-filter__head-close: span.icon-cross(data-filter="open" data-elem="prices")

                            .category-filter__wrp
                                form(action='#' method='POST')
                                    .category-filter__props
                                        .category-filter__item: +prop-range()

                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Без учёта доставки',
                                                'С учётом доставки курьером',
                                                'С учётом самовывоза',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox-single('Гарантия производителя')
                                            
                                        .category-filter__item: +prop-color({
                                            title: 'Цвет',
                                            colors: [
                                                {hex: '#000000', name: 'Черный'}, 
                                                {hex: '#808080', name: 'Серый'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#008000', name: 'Зеленый'}, 
                                                {hex: '#0000FF', name: 'Синий'}, 
                                                {hex: '#C0C0C0', name: 'Серый'}, 
                                                {hex: '#ffffff', name: 'Белый'}, 
                                                {hex: '#FFA500', name: 'Оранжевый'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                            ]
                                        })

                                        

                                            
                                        
                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Любой',
                                                'Высокий: 4.5+',
                                                'Хороший: 4+',
                                                'Средний: 3.5+',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ оплаты',
                                            checkbox: [
                                                'Любой',
                                                'Картой на сайте',
                                                'Картой курьеру',
                                                'Наличными курьеру',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Скидки и акции ',
                                            checkbox: [
                                                'Скидки',
                                                'Промокоды',
                                                'Подарки за покупки',
                                                'Больше за ту же цену',
                                            ]
                                        })

                                            

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ доставки',
                                            checkbox: [
                                                'Курьером',
                                                'Самовывоз',
                                                'Транспортная компания',
                                            ]
                                        })


                                            
                                    .category-filter__submit
                                        .category-filter__send(data-filter="submit")
                                            button.btn
                                                span Посмотреть
                                                small 328 предложений 
                                        .category-filter__clear(data-filter="clear")
                                            span.icon-cross 
                                            small Очистить <span>все фильтры</span>
                                    
                                

                    .catalog-category__main 
                        .catalog-category__top
                            .catalog-category__sort
                                .sort-dropdown
                                    .sort-dropdown__title По цене
                                    .sort-dropdown__list
                                        ul
                                            li: a(href='#' ) Сначала популярные
                                            li: a(href='#' class="is-active is-active--down") По цене
                                            li: a(href='#' class="is-active is-active--up") По рейтингу
                                            li: a(href='#') По отзывам

                            .catalog-category__mobile
                                button(data-filter="open" data-elem="prices") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры

                            .catalog-category__view
                                ul
                                    li: a(href='#list' data-single-view="list"): +icons('#ic_sort-list', 24)
                                    li: a(href='#map'  data-single-view="map"): +icons('#ic_pin-default', 24)
                            

                        .catalog-category__products.is-active(data-single-catalog="list")

                            .catalog-products(data-catalog="container")
                                each item in storeOoffers

                                   
                                    if item.type == 'store'
                                        .catalog-products__item: +minicard--store--offers(item)

                            .catalog-pagination
                                .catalog-pagination__more
                                    button
                                        +icons('#ic_more', 14)
                                        span Показать ещё

                        .catalog-category__inmap(data-single-catalog="map")
                            .store-points
                                
                                .store-points__wrp
                                    .store-points__map
                                        #map-stores
                                    .store-points__list
                                        .store-points__stores 27 магазинов
                                        .store-points__items
                                            each item in [1,1,1,1,1,1]
                                                .store-points__item
                                                    .point-store
                                                        .point-store__name: a(href='#') PCPlanet.ru
                                                        .point-store__address Москва, улица Воздвиженка, д. 10
                                                        .point-store__worktime Пн-Пт 10:00 - 22:00, Сб-Вс 10:00 - 20:00
                                                        .point-store__now Открыто до 22:00
                                                        .point-store__product
                                                            .point-store__image
                                                                +picture('/img/product/minicard-1')
                                                            .point-store__main
                                                                .point-store__title: a(href='#') 15.6" Ноутбук Acer Nitro 5 AN515-57-57DF 1920x1080, Intel Core i5 11400H 2.7 ГГц, RAM 16 ГБ, SSD 512 ГБ, NVIDIA GeForce GTX 1650, без ОС, NH.QBWER.005, черный
                                                                .point-store__price 28 000 ₽









mixin product-common-shop-items(disabledSort)

    .product-common(data-tab="common")

    .product-offers(data-tab="common,prices")
        .product-offers__title: h2 Список товаров (27)

        .product-offers__catalog
            .catalog-category
                .catalog-category__content
                    .catalog-category__aside(style="display:none")

                        .category-filter(data-filter-container="prices")
                            .category-filter__head
                                .category-filter__head-title Фильтры и сортировка
                                .category-filter__head-close: span.icon-cross(data-filter="open" data-elem="prices")

                            .category-filter__wrp
                                form(action='#' method='POST')
                                    .category-filter__props
                                        .category-filter__item: +prop-range()

                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Без учёта доставки',
                                                'С учётом доставки курьером',
                                                'С учётом самовывоза',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox-single('Гарантия производителя')

                                        .category-filter__item: +prop-color({
                                            title: 'Цвет',
                                            colors: [
                                                {hex: '#000000', name: 'Черный'},
                                                {hex: '#808080', name: 'Серый'},
                                                {hex: '#FF0000', name: 'Красный'},
                                                {hex: '#FF0000', name: 'Красный'},
                                                {hex: '#008000', name: 'Зеленый'},
                                                {hex: '#0000FF', name: 'Синий'},
                                                {hex: '#C0C0C0', name: 'Серый'},
                                                {hex: '#ffffff', name: 'Белый'},
                                                {hex: '#FFA500', name: 'Оранжевый'},
                                                {hex: '#42AAFF', name: 'Голубой'},
                                                {hex: '#42AAFF', name: 'Голубой'},
                                                {hex: '#42AAFF', name: 'Голубой'},
                                            ]
                                        })





                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Любой',
                                                'Высокий: 4.5+',
                                                'Хороший: 4+',
                                                'Средний: 3.5+',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ оплаты',
                                            checkbox: [
                                                'Любой',
                                                'Картой на сайте',
                                                'Картой курьеру',
                                                'Наличными курьеру',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Скидки и акции ',
                                            checkbox: [
                                                'Скидки',
                                                'Промокоды',
                                                'Подарки за покупки',
                                                'Больше за ту же цену',
                                            ]
                                        })



                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ доставки',
                                            checkbox: [
                                                'Курьером',
                                                'Самовывоз',
                                                'Транспортная компания',
                                            ]
                                        })



                                    .category-filter__submit
                                        .category-filter__send(data-filter="submit")
                                            button.btn
                                                span Посмотреть
                                                small 328 предложений
                                        .category-filter__clear(data-filter="clear")
                                            span.icon-cross
                                            small Очистить <span>все фильтры</span>



                    .catalog-category__main.shop-category

                        if !disabledSort 
                            .catalog-category__top

                                if !disabledSort 
                                    .catalog-category__sort
                                        .sort-dropdown
                                            .sort-dropdown__title По цене
                                            .sort-dropdown__list
                                                ul
                                                    li: a(href='#' ) Сначала популярные
                                                    li: a(href='#' class="is-active is-active--down") По цене
                                                    li: a(href='#' class="is-active is-active--up") По рейтингу
                                                    li: a(href='#') По отзывам
                                

                                
                                if !disabledSort 
                                    .catalog-category__mobile
                                        button(data-filter="open" data-elem="prices")
                                            +icons('#ic_filter', 17)
                                            span Фильтры

                                if !disabledSort 
                                    .catalog-category__view
                                        ul
                                            li: a(href='#list' data-single-view="list"): +icons('#ic_sort-list', 24)
                                            li: a(href='#map'  data-single-view="map"): +icons('#ic_pin-default', 24)


                        .catalog-category__products.is-active(data-single-catalog="list")

                            .catalog-products(data-catalog="container")
                                each item in storeOoffers


                                    if item.type == 'store'
                                        .catalog-products__item: +minicard--store(item)

                            .catalog-pagination
                                .catalog-pagination__more
                                    button
                                        +icons('#ic_more', 14)
                                        span Показать ещё

                        .catalog-category__inmap(data-single-catalog="map")
                            .store-points

                                .store-points__wrp
                                    .store-points__map
                                        #map-stores
                                    .store-points__list
                                        .store-points__stores 27 магазинов
                                        .store-points__items
                                            each item in [1,1,1,1,1,1]
                                                .store-points__item
                                                    .point-store
                                                        .point-store__name: a(href='#') PCPlanet.ru
                                                        .point-store__address Москва, улица Воздвиженка, д. 10
                                                        .point-store__worktime Пн-Пт 10:00 - 22:00, Сб-Вс 10:00 - 20:00
                                                        .point-store__now Открыто до 22:00
                                                        .point-store__product
                                                            .point-store__image
                                                                +picture('/img/product/minicard-1')
                                                            .point-store__main
                                                                .point-store__title: a(href='#') 15.6" Ноутбук Acer Nitro 5 AN515-57-57DF 1920x1080, Intel Core i5 11400H 2.7 ГГц, RAM 16 ГБ, SSD 512 ГБ, NVIDIA GeForce GTX 1650, без ОС, NH.QBWER.005, черный
                                                                .point-store__price 28 000 ₽






