.main-menu {
    position: fixed;
    z-index: 110;
    background: #fff;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #242424;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: rem(80) rem(25);
    animation: slide-X 0.3s ease forwards;

    width: 90%;
    max-width: 400px;


    @media screen and (max-width: $w992) {
        padding: 12px 25px 0 25px;
    }

    &::before {
        content: '';
        position: fixed;
        right: 0;
        top: inherit;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 10%;
        z-index: -1;

        @media screen and (min-width: 445px) {
            width: calc(100% - 400px);
        }

    }

    &__wrp {

        margin: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #fff;
        width: 100%;

    }

    &.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {



        & a {
            display: flex;
            align-items: center;
            flex-direction: column;

            & img {
                height: rem(40);
                width: auto;
            }

            & span {
                font-size: 14px;
                line-height: 130%;
                text-transform: uppercase;
                color: #888888;
                margin-left: rem(20);
                padding-top: rem(20);
            }
        }
    }

    &__nav {

        flex-grow: 1;


        & nav {

            flex-grow: 1;


            & ul {
                display: flex;
                flex-direction: column;

                & li {

                    padding: 7px 0;
                    flex-grow: 1;
                    position: relative;


                    &:hover {

                        &>a {
                            color: $accent-2-3;

                        }
                    }

                    &.isset-sub {

                        &>a {

                            display: flex;
                            align-items: center;


                            &::after {
                                content: '';
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQgNCA0LTQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);

                                width: 36px;
                                height: 36px;
                                background-size: 10px auto;
                                background-position: center;

                                background-repeat: no-repeat;
                                position: relative;
                                top: 2px;
                                right: -36px;
                                transition: 0.3s ease;
                                pointer-events: none;





                            }
                        }

                        &.open {

                            &>a {

                                color: $accent-2-3;

                                &::after {
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQgNCA0LTQiIHN0cm9rZT0iIzkzQzIyNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
                                }
                            }

                            &>.sub-menu {
                                max-height: none;
                                transform: translateY(0);
                                transition: 0.4s ease 0.1s;
                                opacity: 1;
                                visibility: visible;


                                & .isset-sub {
                                    &.open {
                                        & a {
                                            &::after {
                                                margin-left: auto;
                                                transform: rotate(0);
                                            }
                                        }
                                    }
                                }

                            }
                        }

                    }

                    & .sub-menu {
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        opacity: 0;
                        visibility: hidden;
                        max-height: 0;
                        overflow: hidden;
                        padding: 0 0;


                        & li {

                            width: 100%;
                            padding: 0;


                            &:hover {

                                &>a {
                                    color: $accent-2-3;
                                }
                            }

                            & a {
                                font-size: 16px;
                                font-weight: 600;
                                padding: 7px 24px;
                                height: auto;

                                &::after {
                                    margin-left: auto;
                                    transform: rotate(-90deg);
                                }

                                @media screen and (min-width: $w1440) {
                                    font-size: 18px;
                                }
                            }

                            &:last-child {
                                border-bottom: 0;
                            }
                        }

                        & .sub-menu {

                            transform: translateY(0) translateX(-7px);
                            padding-left: 15px;

                            & a {
                                font-size: 16px;
                                font-weight: 600;

                                @media screen and (min-width: $w1440) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }



                    & a {
                        display: flex;
                        height: 36px;
                        align-items: center;

                        max-width: calc(100% - 36px);
                        position: relative;

                        &::after {
                            position: absolute !important;
                            left: 100%;
                            right: auto;
                        }

                        & svg {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }


                    }
                }

            }

            &>ul {

                &>li.isset-sub {
                    &>a {
                        display: inline-flex;
                    }
                }
            }
        }
    }

    &__contact {

        padding-top: 25px;

        &::before {
            content: '';

            height: 1px;
            background-color: #D9D9D9;
            display: block;
            margin-left: -24px;
            margin-right: -24px;
            margin-bottom: 25px;

        }

        & .item-contact {
            margin-bottom: 20px;
        }

    }

    &__social {
        padding-top: 5px;
        padding-bottom: 25px;

        & ul {
            justify-content: flex-start;
        }
    }







}