mixin popup-region
    .select-region(data-popup="select-region")
        .select-region__wrp
            .select-region__head
                .select-region__icon: +bgimage('/img/common/icon_pin_60.svg')
                .select-region__title Ваш текущий город: <strong>Москва</strong>
            .select-region__form
                form(action='#' method='POST')
                    input(type="text" placeholder="Найти другой город или населённый пункт" data-url="/json/country.json")

            .select-region__suggest
                ul(data-popup="suggest")
                    li: a(href='#') Москва
                    li: a(href='#') Санкт-Петербург
                    li: a(href='#') Новосибирск
                    li: a(href='#') Екатеринбург
                    li: a(href='#') Нижний Новгород
                    li: a(href='#') Самара
                    li: a(href='#') Омск
                    li: a(href='#') Казань
                    li: a(href='#') Челябинск
                    li: a(href='#') Ростов-на-Дону
                    li: a(href='#') Уфа
                    li: a(href='#') Волгоград