include _popup-region.pug

.container
    .footer-min
        .footer-min__copyright © ООО «Vako.Market». Все права защищены
        .footer-min__links
            ul
                li: a(href='#') Политика конфиденциальности
                li: a(href='#') Пользовательское соглашение