mixin dark-banner
    section.section-dark-banner
        .container
            .dark-banner
                .dark-banner__wrp(style="background-image: url('/img/other/dark-banner.png')")
                    .dark-banner__title Являетесь собственником интернет-магазина?
                    .dark-banner__desc Присоединитесь к проекту и начните продавать на Vako.Market.
                    .dark-banner__btn
                        a(href='#'): button.btn Зарегистрировать магазин