.card-article {

    display: flex;
    flex-direction: column;
    width: 100%;

    &__image {

        padding-bottom: 4px;


        @media screen and (min-width: $w576) {
            padding-bottom: 12px;
        }

        & picture {
            @include picture(53.3%, cover);
            background-color: $gray-96;
            border-radius: 6px;

        }

        & img {
            border-radius: 6px;
            transition: 0.4s ease;
            background-color: $gray-96;
            color: transparent;


        }


        & a {
            display: block;

        }

    }

    &__title {
        font-size: 14px;
        line-height: 155%;
        font-weight: 700;
        padding-bottom: 8px;

        @media screen and (min-width: $w480) {
            font-size: 16px;
        }

        @media screen and (min-width: $w1440) {
            font-size: 18px;
        }

        & a {
            @include line-clamp(3);

            &:hover {
                color: $accent-2-1;
            }
        }


    }

    &__tags {

        padding-bottom: 6px;

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;

            & li {

                padding: 10px 9px;
                position: relative;
                font-size: 14px;
                line-height: 125%;
                color: $accent-2-1;

                @media screen and (min-width: $w576) {
                    font-size: 15px;
                    padding: 10px;
                }

                & a {
                    color: inherit;
                }

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    border-radius: 4px;
                    background-color: #ccc;
                    position: absolute;
                    right: -3px;
                    top: calc(50%);
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &__date {
        color: $gray-56 !important;

        & a {
            color: inherit;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        color: $gray-56;

        & div {
            padding-right: 12px;
            font-size: 15px;
        }
    }

    &__category {
        & a {
            color: $accent-2-1;
            font-size: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__views {
        display: flex;
        align-items: center;

        & svg {
            fill: $gray-56;
            margin-bottom: -2px;
        }

        & span {
            padding-left: 6px;
        }
    }
}