mixin page-404
  section.section-page-404
    .container
      .page-404 
        .page-404__image: +picture('/img/common/logo-img')
        .page-404__title Страница не найдена
        .page-404__desc Ищете что-то интересное на нашем сайте? К сожалению, страница, которую Вы запрашиваете, не существует
        .page-404__btn
          a(href='#'): button.btn.btn-line На главную
