doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="/styles/widgets.css?v=1.1")
    link(rel="stylesheet" href="https://use.typekit.net/kbc2isn.css")
  body
    include ../../widgets/rating-large.pug