.widget-rating.widget-rating--middle
    .widget-rating__title Рейтинг магазина
    .widget-rating__total
        .widget-rating__bar.widget-rating__bar--green
            span.w100
            span.w100
            span.w100
            span.w100
            span.w50
        .widget-rating__num 4.5
        .widget-rating__bar.widget-rating__bar--green
            span.w100
            span.w100
            span.w100
            span.w100
            span.w50
    .widget-rating__logo: img(src="/img/common/logo-vako.svg")
    .widget-rating__link
        a(href='https://vako.market/shop/8415')