mixin mobile-menu()
  .mobile-menu
    .mobile-menu__main
      ul
        li.active: a(href='http://anex.by/') Главная
        li: a(href='/plastikovye-okna.html') Продукция
        li: a(href='/calculator.html') Калькулятор
        li: a(href='ustanovka-okon') Услуги
        li: a(href='/polezno-znat.html') Полезно знать
        li: a(href='/akcii-i-skidki.html') Акции
        li: a(href='/rasprodazha.html') Распродажа
        li: a(href='/kontakty.html') Контакты
    .mobile-menu__sep
    .mobile-menu__footer
      .mobile-menu__footer-call
        button.btn.btn-line Заказать звонок