include ../../components/breadcrumb/breadcrumb.pug
include ../../components/video/video.pug

mixin sub-category
    ul.sub-category
        li: a(href='#') Карточка товара
        li: a(href='#') Сравнение товаров
        li: a(href='#') Избранное
        li: a(href='#') Отзывы и видео
        li: a(href='#') Вопросы
        li: a(href='#') Видеочаты

mixin page-help
    .section-page-help
        .container
            .page-help
                .page-help__aside(data-help="menu")
                    .page-help__menu-mobile(data-help="open")
                        span Выбор раздела справки
                        i.icon-cross
                    .page-help__menu
                        ul
                            li.isset-sub
                                a(href='/')
                                    span Покупка на сайте магазина 
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Вход на сервис и действия с аккаунтом 
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Поиск и выбор товаров 
                                    span.icon-cross-show
                                +sub-category()
                                
                            li.isset-sub
                                a(href='#')
                                    span Выбор магазина 
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Покупка на Вако 
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Покупка на сайте магазина
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Создание магазина на Вако 
                                    span.icon-cross-show
                                +sub-category()
                            li.isset-sub
                                a(href='#')
                                    span Статьи и обзоры 
                                    span.icon-cross-show
                                +sub-category()
                .page-help__content
                    .page-help__breadcrumb
                        +breadcrumb([
                            'Главная',
                            'Справка',
                        ])
                    .page-help__title  Поиск и выбор товаров (заголовок раздела)
                    .page-help__article
                        .formated-text
                            p Вы можете искать товары с помощью поисковой строки или каталога.
                            p: em Для этого укажите на Маркете категорию, название товара или конкретную модель.
                            p: strong Также на сервисе можно подбирать товары по определенным параметрам, искать предложения магазинов с покупкой прямо на Маркете и выбирать товары в конкретном магазине.
                            p: u Узнайте о товаре больше, просмотрев короткий видеоролик. В нем блогеры рассказывают о товаре, показывают его в действии и делятся промокодами со скидкой.

                            blockquote
                                strong Заголовок специального текста / подсказки
                                | На Вако можно не только покупать товары. Вы можете подключить свой магазин и продавать товары. Подробнее см. в разделе <a href="/shop" >Создание магазина на Вако.</a>

                            h1 h1 Как найти товары, которые можно купить на Маркете (подзаголовок раздела)
                            h2 h2 Как найти товары, которые можно купить на Маркете (подзаголовок раздела)
                            h3 h3 Как найти товары, которые можно купить на Маркете (подзаголовок раздела)
                            h4 h4 Как найти товары, которые можно купить на Маркете (подзаголовок раздела)
                            h5 h5 Как найти товары, которые можно купить на Маркете (подзаголовок раздела)

                            p В поисковой строке укажите категорию или название товара. Или в каталоге выберите нужную категорию. Товары, которые можно купить прямо на сервисе, отображаются с кнопкой В корзину. Отобрать такие товары можно с помощью фильтра Покупка на Маркете на страницах категорий и результатов поиска, а также в разделе Все предложения карточек товаров.
                            p При выборе товара учитывайте:

                            ul 
                                li  условия доставки — со склада Маркета товары приезжают быстрее, реже разделяются на несколько посылок и их проще вернуть при необходимости;                            
                                li  рейтинг продавца — его можно увидеть на карточке товара, на основной странице и в разделе Все предложения.                            

                            

                            h2 Пример фото

                            a(data-fslightbox="gallery" href="/img/other/image-help.jpg")
                                img(src="/img/other/image-help.jpg" )

                            h2 Пример видео

                            +video({
                                preview: '/img/other/video_preview7',
                                link: 'youtu.be'
                            })

