include ../../components/video/video.pug

mixin about-video
    section.section-about-video
        .container
            .about-video
                .about-video__wrp
                    .about-video__media
                        +video( {
                                'preview': '/img/other/big-video',
                                'link': 'https://www.youtube.com/watch?v=2N_lSqBSCWI&t=123s'
                            }
                        ) 
                    .about-video__main
                        .about-video__title Что такое Vako.Market?
                        .about-video__desc 
                            p Это большой агрегатор товаров, в котором можно найти информацию об устройствах, их внешний вид, характеристики, обзоры, а также наличие и цены в разных магазинах с привязкой к региону продажи.
                            p Vako — это удобный и понятный инструмент как для покупателей, так и для продавцов. Будем рады, если он поможет подобрать нужную конфигурацию или найти выгодное предложение на нужный девайс.
                        .about-video__link
                            a(href="https://www.youtube.com/watch?v=2N_lSqBSCWI&amp;t=123s" data-fslightbox="video")
                                +icons('#ic_arrow-back', 28)
                                span Как это работает
