.widget-rating.widget-rating--small.widget-rating--dark
    .widget-rating__logo-small: img(src="/img/common/vako-logo-gradient.svg")
    .widget-rating__num 4.5
    .widget-rating__bar.widget-rating__bar--green
        span.w100
        span.w100
        span.w100
        span.w100
        span.w50
    .widget-rating__link
        a(href='https://vako.market/shop/8415') 