mixin store-index()
    .store-index
        .container
            .store-index__title: h1 Vako – отличный инструмент <br> для увеличения продаж вашего интернет-магазина
            .store-index__subtitle Присоединяйтесь и получайте целевой трафик на сайт бесплатно!
            .store-index__btn
                button.btn(data-popup="store-registration") Регистрация магазина
                button.btn.btn-white(data-popup="store-login") Вход для партнёров
            .store-index__image
                picture
                    img( src="/img/common/main_img_v1.png" srcset="/img/common/main_img_v1x2.png 2x /img/common/main_img_v1x3.png 3x")