@mixin minicard--price {
  font-weight: 800;
  font-size: 16px;
  color: #222222;
  padding-bottom: 4px;
  font-family: 'lato', 'Trebuchet MS';

  @media screen and (min-width: $w1200) {
    font-size: 18px;
  }


  @media screen and (min-width: $w1440) {
    font-size: 20px;
  }
}

.minicard {

  display: flex;
  position: relative;
  padding: 14px 0;
  border-bottom: 1px solid $gray-92;
  transition: 0.3s ease;

  @media screen and (min-width: $w992) {
    padding: 20px;
    border: 1px solid $gray-92;
    border-radius: 6px;
  }

  &:not(.minicard--store) {
    & .minicard {

      &__more {

        // @media screen and (min-width: 768.98px) and (max-width: 992.98px) {

        //   width: 125px;
        //   min-width: 125px;
        // }

      }

      &__action {
        @media screen and (min-width: 768.98px) and (max-width: 992.98px) {

          height: 30px;
          bottom: auto;
          top: -6px;

          & a {
            width: 28px;
            height: 28px;
          }

          & svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      &__shipping {
        @media screen and (min-width: 768.98px) and (max-width: 992.98px) {
          padding-bottom: 6px;
        }
      }

    }
  }

  &:hover {
    @media screen and (min-width: $w992) {
      border-color: $accent-2-1;
    }

    & .minicard {
      &__action {
        opacity: 1;
      }
    }

  }

  &__gallery {
    padding-bottom: 15px;
  }

  &__other {
    padding-bottom: 15px;
    font-size: 14px;

    @media screen and (min-width: $w1200) {
      font-size: 15px;
    }

    @media screen and (min-width: $w480) and (max-width: $w760) {
      padding-bottom: 0px;
    }

    & span {
      color: $accent-2-1;
      cursor: pointer;


      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__stickers {

    display: flex;
    justify-content: flex-end;
    margin-top: -36px;
    min-height: 36px;

    @media screen and (max-width: $w760) {
      padding-bottom: 12px;
    }

    @media screen and (min-width: $w992) {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0;
    }

    & span {
      font-size: 13px;
      background-color: #ddd;
      height: 20px;
      display: inline-flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 100%;
      padding-bottom: 2px;
      border-radius: 5px 0 5px 0;
      margin-right: -6px;
      position: relative;





      @media screen and (min-width: $w760) {
        height: 26px;
        font-weight: 700;
      }
    }

    & ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }

    & li {
      &.sticker--blue {
        & span {
          background-color: #45B9F5;
          color: #fff;
        }
      }

      &.sticker--orange {
        & span {
          background-color: #FFBB00;
          color: #fff;
        }
      }
    }




  }

  &__images {

    width: 74px;
    min-width: 74px;

    @media screen and (min-width: $w992) {
      width: 120px;
      min-width: 120px;
    }

    @media screen and (min-width: $w1440) {
      width: 200px;
      min-width: 200px;
    }


    & picture {

      @include picture(100%, contain);
    }

    & .splide {
      &__pagination {
        display: none;
        bottom: -20px;

        &__page {
          &.is-active {
            background-color: $accent-2-1;
            transform: none;
          }
        }

        @media screen and (min-width: $w992) {
          display: flex;
        }
      }


      &:not(.is-initialized) {
        visibility: visible;

        & .splide {
          &__slide {
            display: none;

            &:first-child {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__content {
    padding-left: 8px;

    @media screen and (min-width: $w576) {
      padding-left: 20px;
    }

    @media screen and (min-width: $w1200) {
      display: flex;
      padding-left: 24px;
    }

    @media screen and (min-width: $w760) and (max-width: $w992) {
      display: flex;
      padding-left: 24px;
    }
  }

  &__title {
    font-size: 15px;
    line-height: 123%;
    color: $gray-13;
    padding-bottom: 0.5em;

    @media screen and (min-width: $w992) {
      font-size: 16px;
    }

    @media screen and (min-width: $w1200) {
      font-weight: 600;
      line-height: 156%;
      font-size: 16px;

    }

    @media screen and (min-width: $w1440) {
      font-size: 17px;
      line-height: 148%;
    }


    & a {

      line-height: 150%;

      @media screen and (min-width: $w992) {
        line-height: inherit;
      }

      &:hover {
        color: $accent-2-1
      }

      @media screen and (min-width: $w992) {
        @include line-clamp(3);
      }




    }
  }

  &__rating {

    padding-bottom: 13px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768.98px) and (max-width: 992.98px) {
      top: 2px;
      position: relative;
    }

    @media screen and (min-width: $w1440) {
      padding-bottom: 14px;

    }

    & span {
      display: inline-flex;
      width: 32px;
      height: 26px;
      background-color: #eee;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 800;
      border-radius: 4px;
    }

    & a {
      font-size: 13px;
      margin-left: 9px;

      display: inline-block;
      margin-top: -1px;

      &:hover {
        text-decoration: underline;
      }

      @media screen and (min-width: $w1440) {
        font-size: 14px;
      }
    }

    &.rating {
      &--green {
        & span {
          background: $green;
          color: #fff
        }

        & a {
          color: $green;
        }
      }

      &--red {
        & span {
          background: $red;
          color: #fff
        }

        & a {
          color: $red;
        }
      }

      &--orange {
        & span {
          background: $orange;
          color: #fff
        }

        & a {
          color: $orange;
        }
      }

      &--blue {
        & span {
          background: $blue;
          color: #fff
        }

        & a {
          color: $blue;
        }
      }
    }
  }

  &__price {
    @include minicard--price;

    @media screen and (min-width: $w760) and (max-width: $w992) {
      display: block;
      padding-bottom: 16px;
    }
  }

  &__props {
    display: none;
    font-size: 13px;
    color: $gray-13;
    padding-bottom: 10px;
    line-height: 120%;

    @media screen and (min-width: $w1200) {
      padding-bottom: 1px;
    }

    & ul {
      & li {
        padding-bottom: 2px;

        & span {
          color: $gray-56;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    @media screen and (min-width: $w1200) {
      display: block;

    }
  }

  &__action {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (min-width: 768.98px) and (max-width: 992.98px) {
      bottom: 4px;
    }

    @media screen and (min-width: $w1200) {
      opacity: 0;
      transition: 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }

    & a[data-tooltip]::before {
      min-width: auto;
      white-space: nowrap;
      display: none;

      @media screen and (min-width: $w760) {
        display: block;
      }
    }

    & a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;

      &::after {
        content: '';
        background-color: $accent-1-1;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0.001, 0.001);
        visibility: hidden;
      }


      & svg {
        fill: transparent;
        stroke: #8F8F8F;
        stroke-width: 2.1px;
        transition: 0.4s ease;
      }

      & .ausvg-stroke {
        opacity: 0
      }

      &.active {
        & svg {
          fill: $accent-1-1;
          stroke: $accent-1-1;
        }

        &::after {
          animation: effect_dylan 0.8s 0.08s ease-out;
          visibility: visible;
        }
      }

      &:hover {

        //background-color: #f5f5f5;
        border-radius: 4px;

        & svg {
          stroke: $accent-1-1;
          stroke-width: 2px;
        }

      }
    }

  }

  &__offers {

    padding-bottom: 16px;


    & span {
      color: $gray-56;
      font-size: 13px;
    }

    & a {
      color: $gray-56;
      font-size: 13px;

      &:hover {
        color: $accent-2-1;
      }
    }
  }

  &__allprice {
    padding-top: 12px;


    @media screen and (max-width: $w576) {
      min-width: 245px;
    }

    & .btn {

      font-weight: 700;
      height: 36px;

      @media screen and (min-width: $w1440) {
        height: 40px;
      }

      @media screen and (min-width: $w760) {
        font-size: 15px;
      }

      @media screen and (min-width: $w375) and (max-width: $w576) {
        min-width: 180px;
      }

      &:not(:hover) {
        background-color: $accent-2-3;
        color: $accent-2-1;
      }
    }
  }

  &__store {
    &-phone {
      & ul {
        display: none;
      }
    }
  }

  &__colors {

    padding-bottom: 9px;

    & ul {

      display: flex;
      align-items: center;
      margin: -2px;

      @media screen and (min-width: $w576) {
        margin: -4px;
      }


      & li {
        padding: 2px;

        @media screen and (min-width: $w576) {
          padding: 4px;
        }

        & span {
          width: 12px;
          min-width: 12px;
          height: 12px;
          display: inline-block;
          border-radius: 50%;
          position: relative;

          @media screen and (min-width: $w576) {
            width: 14px;
            min-width: 14px;
            height: 14px;
          }

          & svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }

          &.multi-color {
            background-color: transparent;
          }
        }
      }
    }
  }

  &__store {

    @media screen and (min-width: $w1200) {
      display: flex;
    }

    @media screen and (min-width: $w1440) {
      padding-bottom: 10px;
    }

    &-price {
      @include minicard--price;
      padding-top: 8px;
      padding-bottom: 16px;

      @media screen and (min-width: $w760) and (max-width: $w992) {
        display: none;
      }
    }

    &-detail {
      margin-right: 10px;
    }

    &-name {
      font-weight: 800;
      margin-right: 10px;
      font-size: 15px;


      @media screen and (min-width: $w1440) {
        font-size: 16px;
      }

      &:hover {
        & a {
          color: $accent-2-1;
        }
      }
    }

    &-label {
      font-size: 13px;
      padding-bottom: 6px;

      @media screen and (min-width: $w1440) {
        font-size: 13px;
        padding-bottom: 9px;
      }
    }

    &-wrp {
      display: flex;
      padding-bottom: 10px;

      @media screen and (min-width: $w1200) {
        flex-direction: column;
      }
    }

    &-phone {

      position: relative;

      @media screen and (min-width: $w1200) {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: -10px;
      }

      &>span,
      &>a {
        color: $accent-2-1;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }


        @media screen and (min-width: $w1200) {
          font-size: 15px;
        }
      }

      & ul {
        transition: 0.3s ease;
      }

      @media screen and (min-width: $w480) {
        &.is-active {

          @keyframes fade-drop-down2 {
            from {
              opacity: 0;
              transform: translateY(-10px);
            }

            to {
              opacity: 1;
              transform: translateY(0);
            }
          }

          & ul {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            padding: 4px;
            top: 100%;
            z-index: 3;
            animation: fade-drop-down2 0.3s ease forwards;

            & a {
              display: block;
              min-width: none;
              white-space: nowrap;
              padding: 8px 12px;
              color: #222;
              font-size: 14px;
              font-weight: 600;

              &:hover {
                color: $accent-2-1;
              }

            }
          }
        }
      }


    }

    &-rating {
      & .minicard {
        &__store {
          &-label {
            display: none;

            @media screen and (min-width: $w1200) {
              display: block;
            }
          }
        }
      }
    }
  }

  &__conditions {
    display: none;
    font-size: 13px;

    @media screen and (min-width: $w1440) {
      font-size: 13px;
    }

    @media screen and (min-width: $w1200) {
      display: block;
    }

    &-label {
      padding-bottom: 5px;

      @media screen and (min-width: $w1440) {
        padding-bottom: 10px;
      }
    }

    &-text {
      color: $gray-56;
    }
  }

  &__shipping {
    padding-bottom: 14px;


  }

  &__note {
    color: $gray-56;
    padding-bottom: 12px;
    font-size: 13px;
  }

  &__in-store {
    margin-top: auto;

    @media screen and (min-width: $w1440) {
      margin-top: auto;
    }

    @media screen and (max-width: $w576) {
      min-width: 245px;
    }

    & .btn {
      height: 36px;
      font-size: 14px;
      font-weight: 700;
      padding: 8px 3em 10px 3em;

      @media screen and (min-width: $w1440) {
        height: 40px;
        padding: 8px 2em 10px 2em;
      }

      @media screen and (min-width: $w760) and (max-width: $w992) {
        padding: 8px 2em 10px 2em;
        min-width: auto;
      }

      @media screen and (min-width: $w375) and (max-width: $w576) {
        min-width: 180px;
      }
    }
  }

  &__more {

    position: relative;


    @media screen and (min-width: $w1200) {
      width: 220px;
      min-width: 220px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: $w1440) {
      width: 241px;
      min-width: 241px;
    }

    @media screen and (min-width: $w760) and (max-width: $w992) {
      width: 180px;
      min-width: 180px;
    }

  }

  &__main {

    @media screen and (min-width: $w1440) {
      padding-right: 30px;
    }

    @media screen and (min-width: $w1200) {
      width: 100%;
      flex-grow: 1;
      padding-right: 20px;

    }

    @media screen and (min-width: $w760) and (max-width: $w992) {
      padding-right: 12px;
      width: 100%;
    }
  }


}



.shipping-item {

  display: flex;
  padding-bottom: 11px;


  &:last-child {
    padding-bottom: 0;
  }

  &__icon {

    margin-right: 10px;

    & span {
      @include bgimage-contain;
      min-width: 20px;
      width: 20px;
      height: 20px;
    }

  }

  &__title {

    font-size: 13px;

    & strong {
      font-size: inherit;
      font-weight: bold;
      font-family: 'lato', 'Trebuchet MS';
    }

    & small {
      font-size: inherit;
      color: $green;
    }

  }

  &__points {
    color: $accent-2-1;
    font-size: 13px;
    padding-top: 6px;
    cursor: pointer;

    @media screen and (min-width: $w1440) {
      padding-top: 9px;
    }

    & span {
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.minicard--store {
  & .minicard {



    &__price {
      @media screen and (min-width: $w992) {
        padding-bottom: 10px;
      }

      @media screen and (min-width: $w1440) {
        padding-bottom: 22px;
      }


    }

    &__title {
      @media screen and (min-width: $w1440) {
        padding-bottom: 1em;
      }

      @media screen and (min-width: $w1200) {
        padding-bottom: 0.8em;
      }

      // @media screen and (max-width: $w1200) and (min-width: $w576) {
      //   font-size: 16px;
      // }


    }

    &__store {
      @media screen and (min-width: $w1200) and (max-width: $w1440) {
        padding-bottom: 0.3em;
      }


    }

    &__store-price {
      @media screen and (max-width: $w1200) and (min-width: $w576) {
        font-size: 17px;
      }


    }

    &__store-name {
      @media screen and (max-width: $w1200) and (min-width: $w576) {
        font-size: 15px;
      }
    }

    &__store-phone span {
      @media screen and (max-width: $w1200) and (min-width: $w576) {
        font-size: 15px;
      }
    }

  }
}

/* new template */
@media screen and (max-width: $w480) {

  .minicard--store.minicard--offers {
    & .minicard {

      &__content {
        padding-left: 0;
      }

      &__other {
        display: none;
      }

      &__images {
        display: none;
      }

      &__title {
        display: none;
      }

      &__store-price {
        display: none;
      }

      &__more {
        display: flex;
        flex-direction: column;
        position: static;

        &.is-open {
          & .minicard {
            &__in-store {


              &::after {
                filter: grayscale(0);
                opacity: 1;
                transform: rotate(180deg);
              }

            }

            &__shipping {
              display: block;
            }

            &__note {
              display: block;
            }
          }
        }

      }

      &__in-store {
        order: 2;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;

        &::after {
          content: '';
          width: 36px;
          height: 36px;
          display: block;
          filter: grayscale(1);
          opacity: 0.4;
          transition: 0.3s ease;
          cursor: pointer;
          border-radius: 4px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzciIGhlaWdodD0iMzYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjUgMTVsNiA2IDYtNiIgc3Ryb2tlPSIjOGEwMWZhIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);

          &:hover {
            background-color: #f5f5f5;
          }

        }



      }

      &__shipping {
        order: 3;
        display: none;
      }

      &__note {
        order: 4;
        display: none;
      }

      &__price {
        display: block;
        padding-bottom: 10px;
        order: 1;
      }

      &__action {
        bottom: auto;
        top: 12px;
      }
    }
  }



}



.minicard--favourites {

  // &:hover {
  //   .minicard__action a[data-tooltip] {
  //     opacity: 1 !important;
  //   }
  // }

  & .minicard {}
}

.minicard--mini {

  @media screen and (max-width: $w480) {
    & .minicard {
      &__images {
        display: none;
      }

      &__content {
        padding-left: 0;
        width: 100%;
      }

      &__title {
        display: none;
      }

      &__other {
        display: none;
      }

      &__store-price {
        display: none;
      }

    }
  }


}

.color--border {
  border: 1px solid #D6D6D6;
}

.popup-call-number {

  & h2 {
    padding-top: 3px;
    text-align: center;
    font-size: 18px;
  }

  & ul {
    padding-top: 15px;
  }

  & li {

    padding: 4px 0;
    text-align: center;

    & a {
      display: block;
      padding: 13px 10px;
      background: $gray-96;
      font-weight: 800;
      border-radius: 6px;

      &:hover {
        color: $accent-2-1
      }
    }
  }
}