.news-carousel {

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    &__title {
        @include font-h3;
    }

    &__nav {
        display: none;
        margin: 0 -4px;

        @media screen and (min-width: $w576) {
            display: flex;
            align-items: center;
        }

        &-next,
        &-prev {
            margin: 0 4px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;

            & svg {
                width: 24px;
                cursor: pointer;
            }

            &:hover {
                & svg {
                    fill: $accent-2-1;
                }
            }
        }

    }

    &__slider {
        margin-right: -16px;

        @media screen and (min-width: $w480) {
            margin-right: 0;
        }

        @media screen and (max-width: $w480) {
            & .splide {
                &__slide {
                    padding-right: 16px;
                    margin-right: 0 !important;
                }
            }
        }

        & .splide {

            &>.splide__arrows .splide__arrow {
                opacity: 1;



                &:hover {
                    opacity: 0.9;
                }

                & svg {
                    fill: $accent-2-1;
                    height: 18px;
                    width: 18px;
                }


            }

            &>.splide__arrows .splide__arrow {
                &--prev {
                    left: -65px;

                    & svg {
                        margin-right: 10px;
                    }
                }

                &--next {
                    right: -65px;

                    & svg {
                        margin-left: 8px;
                    }
                }

                &--prev,
                &--next {
                    background-color: transparent;
                    border-radius: 6px;
                    width: 40px;
                    height: 40px;



                    &:hover {
                        background-color: #F9F7FF;
                    }

                    &:disabled {
                        opacity: 0;
                    }
                }
            }

            &.is-pagination {
                & .splide {
                    &__arrow {

                        &--prev,
                        &--next {
                            &:disabled {
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }

        }
    }

    &__list {
        margin: -4px;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: $w576) {
            margin: -12px;
        }
    }

    &__item {
        padding: 4px;
        width: 100%;

        @media screen and (min-width: $w576) {
            padding: 12px;
            width: 50%;
        }

        @media screen and (min-width: $w1200) {
            width: 33.33%;
        }


        @media screen and (min-width: $w1440) {
            width: 25%;
        }
    }

    & .splide {

        @media screen and (max-width: $w576) {

            &.is-initialized:not(.is-active) {
                & .splide {
                    &__list {
                        display: flex;
                    }

                    &__slide {
                        margin-right: 16px;
                        width: 85%;
                        min-width: 290px;
                        max-width: 320px;
                    }

                    &__track {
                        overflow-x: auto;
                        scrollbar-width: none;
                    }
                }
            }


        }


    }
}