include ../card-article/card-article.pug

mixin news-carousel(data)
    .news-carousel
        .news-carousel__top
            .news-carousel__title= data.title
          

        .news-carousel__slider
            .splide(data-slider="news-carousel")
                .splide__track
                    .splide__list
                        each item,index in similar_article
                            
                            .splide__slide: +card-article-2(item)

mixin news-carousel--list
    .news-carousel
        .news-carousel__list
            each item,index in [...similar_article, ...homepage_article,]
                .news-carousel__item: +card-article-2(item)