mixin banner-connect
    section.section-banner-connect
        .container
            .banner-connect( class="lazyload" data-bg="/img/other/bg-banner-connect.svg")
                .banner-connect__main
                    .banner-connect__title Являетесь собственником интернет-магазина?
                    .banner-connect__subtitle Присоединяйтесь к проекту и начните размещение на Vako.Market
                .banner-connect__btn
                    a(href='#'): button.btn Зарегистрировать магазин
