.login-partners
    .login-partners__wrp
        .login-partners__title Вход для партнёров
        .login-partners__form
            form(action='home.html' method='POST') 
                .form
                    .form__item
                        .form__subitem
                            label E-mail
                            input(type="email" placeholder="Введите e-mail")
                    .form__item
                        .form__subitem
                            label 
                                span Пароль
                                a(href='#' data-popup="store-recovery") Забыли пароль?
                            input(type="password" placeholder="Введите пароль")
                    .form__item
                        .form__subitem
                            button.btn Войти
                    .form__item
                        .form__note
                           | Ещё не наш партнёр? 
                           a(href='#' data-popup="store-registration") Зарегистрироваться