.popup-success
    .popup-success__icon
        span.bgimage(style="background-image: url(/img/common/icon_thank_60.svg)")
    .popup-success__title Спасибо!
    .popup-success__desc Информация передана в обработку нашим специалистам. В ближайшее время мы свяжемся с Вами
    .popup-success__btn
        button.btn Понятно