.popup-success
    .popup-success__icon
        span.bgimage(style="background-image: url(/img/common/icon_lock_60.svg)")
    .popup-success__title Проверьте почту!
    .popup-success__desc Информация о восстановлении пароля была отправлена на вашу почту
    .popup-success__btn
        button.btn Понятно