include ../../helpers/mixins.pug

.login-partners
    .login-partners__wrp
        .login-partners__title Регистрация магазина
        .login-partners__form
            form(action='#' method='POST' data-store-form="registration") 
                .form-step(data-step="0")
                    .form
                        .form__item
                            .form__subitem
                                label E-mail
                                input(type="email" placeholder="Введите e-mail" required)

                        .form__item
                            .form__subitem
                                label Контактный телефон
                                input(type="tel" placeholder="Введите номер телефона" required)

                        .form__item
                            .form__subitem
                                label Ваш город
                                input(type="text" placeholder="Например, Санкт-Петербург" required)

                        .form__item
                            .form__subitem
                                label Доменное имя магазина
                                input(type="text" placeholder="https://site.ru" required)


                        .form__item
                            .form__subitem
                                button.btn(data-step="next") Далее

                        .form__item
                            .form__subitem
                                +checkbox('Ознакомлен(-а) с <a href="/policy.html" >соглашением о конфиденциальности</a> и принимаю <a href="public.html" >договор-оферту</a>')

                .form-step(data-step="1")
                    .form
                        .form__item
                            .form__subitem
                                label Имя контактного лица
                                input(type="text" placeholder="Введите имя" required)

                        .form__item
                            .form__subitem
                                label Название магазина
                                input(type="text" placeholder="Введите название магазина" required)

                        .form__item
                            .form__subitem
                                label Тип юр. лица
                                select
                                    option(value="0") Выберите тип
                                    option(value="1") Индивидуальный предприниматель
                                    option(value="2") ООО

                        .form__item
                            .form__subitem
                                label Название юр. лица
                                input(type="text" placeholder="Введите название" required)

                        .form__item
                            .form__subitem
                                label ИНН/УНП
                                input(type="text" placeholder="Введите номер ИНН или УНП" data-input-mask='number')


                        .form__item
                            .form__subitem
                                button.btn Отправить

                        .form__item
                            .form__note
                                a(href='#' data-step="prev" class="icon-back") Вернуться назад