.login-partners
    .login-partners__wrp
        .login-partners__title Восстановление пароля
        .login-partners__form
            form(action='#' method='POST') 
                .form
                    .form__item
                        .form__subitem
                            label E-mail
                            input(type="email" placeholder="Введите e-mail")
                    .form__item
                        .form__subitem
                            button.btn Отправить
                    .form__item
                        .form__note
                           | Вспомнили пароль? 
                           a(href='#') Вернуться