include ../../helpers/mixins.pug

.notification(data-ntfc="el")
    .notification__wrp
        .notification__content
            .notification__pane
                .notification__list(data-ntfc="list-pane")
                    .notification__head
                        .notification__title Уведомления
                        .notification__close(data-ntfc="close")
                            span.icon-cross.ic_24
                    .notification__main(data-ntfc="list")
                        
                .notification__details(data-ntfc="post-pane")
                    .notification__head
                        .notification__back(data-ntfc="back")
                            +icons('#ic_arr-back')
                        .notification__asnoread
                            +icons('#ic_eye2')
                            span(data-ntfc="as-noreaded") Отметить как непрочитанное
                        .notification__close(data-ntfc="close")
                            span.icon-cross.ic_24
                    .notification__main(data-ntfc="post")
                       