extends ../../layouts/store-login

include ../../../blocks/modules/store/store-aside/store-aside.pug
include ../../../blocks/modules/store/store-review/store-review.pug
 
block variables
  include ../../../data/data.pug
  - const title = "Vako - Панель управления магазином"

block aside
  +store-aside(2)
  

block content

 
    


  .shop-block
    .shop-block__title Отзывы о магазине 
    .shop-block__tabs
      ul(data-tab-nav="review")
        li.active: a(href='#public') Опубликованные
        li: a(href='#moderate') На модерации
    .shop-block__tabs-container
      .shop-block__tabs-item.active(data-tab="public")
        .block-plug
          .block-plug__icon
              +bgimage('/img/common/icon_attention_60.svg')
          .block-plug__title У вас ещё нет опубликованных отзывов.
          .block-plug__desc Как только покупатели поделятся своим мнением о покупке в магазине, то оно обязательно появится тут (после прохождения модерации).
      .shop-block__tabs-item(data-tab="moderate")
        .block-plug
          .block-plug__icon
              +bgimage('/img/common/icon_attention_60.svg')
          .block-plug__title У вас нет отзывов, проходящих модерацию.