extends ../../layouts/store-login

include ../../../blocks/modules/store/store-aside/store-aside.pug
include ../../../blocks/modules/store/store-config/store-config.pug
 
block variables
  include ../../../data/data.pug
  - const title = "Vako - Панель управления магазином"

block aside
  +store-aside(2)
  

block content
   div review