extends ../../layouts/store-login

include ../../../blocks/modules/store/store-aside/store-aside.pug
include ../../../blocks/modules/store/user-data/user-data.pug
 
block variables
  include ../../../data/data.pug
  - const title = "Vako - Панель управления магазином"

block aside
  +store-aside(5)

block content
  +store-user-data()