include  ../../components/breadcrumb/breadcrumb.pug
include  ../minicard/minicard.pug 
include  ../../components/pagination/pagination.pug

mixin catalog-category-3
    section.section-catalog-category
        .container
            .catalog-category
                .catalog-category__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Компьютеры',
                        'Ноутбуки',
                    ]) 
                .catalog-category__h1: h1 Ноутбуки в Кременчуг-Константиновское 

                .catalog-category__content
                    .catalog-category__aside(style="display:block")
                        .current-category
                            .current-category__label Категории
                            .current-category__parent
                                a(href='#')
                                    +icons('#ic_link-back', 6)
                                    span Компьютеры
                            .current-category__link Ноутбуки (124)

                        .category-filter
                            .category-filter__head
                                .category-filter__head-title Фильтры и сортировка
                                .category-filter__head-close: span.icon-cross(data-filter="open")

                            .category-filter__wrp
                                form(action='#' method='POST')
                                    .category-filter__props
                                        .category-filter__item: +prop-range()
                                        .category-filter__item: +prop-checkbox({
                                            title: 'Производитель',
                                            checkbox: [
                                                'HP',
                                                'ASUS',
                                                'Lenovo',
                                                'MSI',
                                                'DELL',
                                                'Acer',
                                                'Apple',
                                                'Fujitsu-Siemens',
                                                'HP',
                                                'ASUS',
                                                'Lenovo',
                                                'MSI',
                                                'DELL',
                                                'Acer',
                                                'Apple',
                                                'Fujitsu-Siemens',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Тип акустики',
                                            checkbox: [
                                                'Dolby Atmos',
                                                'Harman Kardon',
                                                'Dolby Digital',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox-single('Bluetooth')
                                        .category-filter__item: +prop-color({
                                            title: 'Цвет',
                                            colors: [
                                                {hex: '#000000', name: 'Черный'}, 
                                                {hex: '#808080', name: 'Серый'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#008000', name: 'Зеленый'}, 
                                                {hex: '#0000FF', name: 'Синий'}, 
                                                {hex: '#C0C0C0', name: 'Серый'}, 
                                                {hex: '#ffffff', name: 'Белый'}, 
                                                {hex: '#FFA500', name: 'Оранжевый'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                            ]
                                        })
                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Любой',
                                                'Высокий: 4.5+',
                                                'Хороший: 4+',
                                                'Средний: 3.5+',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Скидки и акции ',
                                            checkbox: [
                                                'Скидки',
                                                'Промокоды',
                                                'Подарки за покупки',
                                                'Больше за ту же цену',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Магазины',
                                            checkbox: [
                                                'PCPuls.ru',
                                                'AMD.ru',
                                                'intel.cpm',
                                                'kst.by',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ доставки',
                                            checkbox: [
                                                'Курьером',
                                                'Самовывоз',
                                                'Транспортная компания',
                                                
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ оплаты',
                                            checkbox: [
                                                'Онлайн',
                                                'Курьеру',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Состояние товара',
                                            checkbox: [
                                                'Новый',
                                                'Немного БУ',
                                                'Восстановленный',
                                            ]
                                        })
                                    .category-filter__submit
                                        .category-filter__send(data-filter="submit")
                                            button.btn
                                                span Посмотреть
                                                small 328 предложений 
                                        .category-filter__clear(data-filter="clear")
                                            span.icon-cross 
                                            small Очистить <span>все фильтры</span>
                                    
                                 

                    .catalog-category__main 
                        .catalog-category__top
                            .catalog-category__sort
                                .sort-dropdown
                                    .sort-dropdown__title Сначала популярные
                                    .sort-dropdown__list
                                        ul
                                            li: a(href='#' ) Сначала популярные
                                            li: a(href='#' class="is-active is-active--down") По цене
                                            li: a(href='#' class="is-active is-active--up") По рейтингу
                                            li: a(href='#') По отзывам

                            .catalog-category__mobile
                                button(data-filter="open") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры

                            .catalog-category__view
                                ul
                                    li: a(href='#list' data-view="list"): +icons('#ic_sort-list', 24)
                                    li: a(href='#grid' data-view="grid"): +icons('#ic_sort-grid', 24)
                            

                        .catalog-category__products

                            .catalog-products(data-catalog="container")
                                each item in goods

                                    if item.type == 'goods'
                                        .catalog-products__item: +minicard(item)
                                    if item.type == 'store'
                                        .catalog-products__item: +minicard--store(item)

                            .catalog-pagination
                                .catalog-pagination__more
                                    button
                                        +icons('#ic_more', 14)
                                        span Показать ещё
                                .catalog-pagination__page
                                    +pagination()



mixin prop-range()

    .filter-properties
        .filter-properties__head
            .filter-properties__title Цена, ₽ 
            .filter-properties__cross

        .filter-properties__list
            .filter-properties__range
                .filter-properties__row
                    .filter-properties__input
                        span от
                        input(type="text" placeholder="" data-price-range="min")
                    .filter-properties__input
                        span до
                        input(type="text" placeholder="" data-price-range="max")
                .filter-properties__slider
                    #my-slider.slider(se-min='2500' se-step='1' se-min-value='10000' se-max-value='300000' se-max='950000')
                        .slider-touch-left
                            span
                        .slider-touch-right
                            span
                        .slider-line
                            span

                    
                

mixin prop-checkbox(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.checkbox
                    li: +checkbox(item)


mixin prop-checkbox-single(data)
    .filter-properties
        .filter-properties__single
            +checkbox(data)


mixin prop-color(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__colors
            ul
                each item in data.colors
                    li
                        label
                            if(item.hex == '#42AAFF')
                                input(type="checkbox" name="color" disabled)
                            else
                                input(type="checkbox" name="color" )
                            span(data-tooltip=item.name  style='background-color: '+item.hex+'' class=(item.hex == '#ffffff' ? 'color--border':'' ))
 


mixin prop-radio(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.radio
                    li: +radio(item) 