include  ../../components/breadcrumb/breadcrumb.pug

mixin catalog-category-3
    section.section-catalog-category
        .container
            .catalog-category
                .catalog-category__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Компьютеры',
                        'Ноутбуки',
                    ])
                .catalog-category__h1: h1 Ноутбуки в Кременчуг-Константиновское 

                .catalog-category__content
                    .catalog-category__asise(style="display:block")
                        .current-category
                            .current-category__label Категории
                            .current-category__parent
                                a(href='#')
                                    +icons('#ic_link-back', 6)
                                    span Компьютеры
                            .current-category__link Ноутбуки (124)

                        .category-filter
                            .category-filter__head
                                .category-filter__head-title Фильтры и сортировка
                                .category-filter__head-close: span.icon-cross

                            .category-filter__wrp
                                .category-filter__props
                                    .category-filter__item: +prop-range()
                                    .category-filter__item: +prop-checkbox({
                                        title: 'Производитель',
                                        checkbox: [
                                            'HP',
                                            'ASUS',
                                            'Lenovo',
                                            'MSI',
                                            'DELL',
                                            'Acer',
                                            'Apple',
                                            'Fujitsu-Siemens',
                                            'HP',
                                            'ASUS',
                                            'Lenovo',
                                            'MSI',
                                            'DELL',
                                            'Acer',
                                            'Apple',
                                            'Fujitsu-Siemens',
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Тип акустики',
                                        checkbox: [
                                            'Dolby Atmos',
                                            'Harman Kardon',
                                            'Dolby Digital',
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox-single('В продаже')
                                    .category-filter__item: +prop-checkbox-single('Bluetooth')
                                    .category-filter__item: +prop-color({
                                        title: 'Цвет',
                                        colors: [
                                            '#000', 
                                            '#808080', 
                                            '#FF0000', 
                                            '#FF0000', 
                                            '#008000', 
                                            '#0000FF', 
                                            '#C0C0C0', 
                                            '#fff', 
                                            '#FFA500', 
                                            '#42AAFF', 
                                            '#42AAFF', 
                                            '#42AAFF', 
                                        ]
                                    })
                                    .category-filter__item: +prop-radio({
                                        title: 'Рейтинг магазина',
                                        radio: [
                                            'Любой',
                                            'Высокий: 4.5+',
                                            'Хороший: 4+',
                                            'Средний: 3.5+',
                                        ],
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Производитель',
                                        checkbox: [
                                            'Скидки',
                                            'Промокоды',
                                            'Подарки за покупки',
                                            'Больше за ту же цену',
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Магазины',
                                        checkbox: [
                                            'PCPuls.ru',
                                            'AMD.ru',
                                            'intel.cpm',
                                            'kst.by',
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Способ доставки',
                                        checkbox: [
                                            'Курьером',
                                            'Самовывоз',
                                            'Транспортная компания',
                                             
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Способ оплаты',
                                        checkbox: [
                                            'Онлайн',
                                            'Курьеру',
                                        ]
                                    })

                                    .category-filter__item: +prop-checkbox({
                                        title: 'Состояние товара',
                                        checkbox: [
                                            'Новый',
                                            'Немного БУ',
                                            'Восстановленный',
                                        ]
                                    })

                                    
                                 

                    .catalog-category__main 
                        .catalog-category__top
                            .catalog-category__sort
                                .sort-dropdown
                                    .sort-dropdown__title Сначала популярные
                                    .sort-dropdown__list
                                        ul
                                            li: a(href='#') Сначала популярные
                                            li: a(href='#') По цене <span class="" >ic</span>
                                            li: a(href='#') По рейтингу
                                            li: a(href='#') По отзывам
                            .catalog-category__view
                                ul
                                    li: a(href='#list'): +icons('#ic_sort-list', 24)
                                    li: a(href='#grid'): +icons('#ic_sort-grid', 24)

                        .catalog-category__products

                            .catalog-products
                                each item in goods

                                    if item.type == 'goods'
                                        .catalog-products__item: +minicard()
                                    if item.type == 'store'
                                        .catalog-products__item: +minicard--store()

                                    
mixin minicard()
    .minicard
        .minicard__images
            .minicard__gallery
                .splide(data-slider="gallery")
                    .splide__track
                        .splide__list
                            .splide__slide: +picture('/img/product/image-35-2')
                            .splide__slide: +picture('/img/product/image-35-2')
                            .splide__slide: +picture('/img/product/image-35-2')

        .minicard__content
            .minicard__main
                .minicard__title: a(href='#') 15.6" Ноутбук Acer Nitro 5 AN515-57-57DF 1920x1080, Intel Core i5 11400H 2.7 ГГц, RAM 16 ГБ, SSD 512 ГБ, NVIDIA GeForce GTX 1650, без ОС, NH.QBWER.005, черный
                
                .minicard__colors
                    ul.color-list
                        li: span(title="Черный" style="background-color: #000")
                        li: span(title="Темный" style="background-color: #808080")
                        li: span(title="Серый" style="background-color: #C0C0C0")
                        li: span(title="Серый" style="background-color: #fff")
                .minicard__rating
                    span 4.7
                    a(href='#') 82 отзыва
                .minicard__props
                    ul
                        li <span>звук:</span> моно
                        li <span>суммарная мощность:</span> 40 Вт
                        li <span>диапазон воспроизводимых частот:</span> 50-20000 Гц
                        li <span>вход аудио (AUX):</span> да
            .minicard__more
                .minicard__price от 124 000 ₽
                .minicard__offers
                    a(href='#') 24 предложения
                .minicard__action
                    a(href='#'): +icons('#ic_compare', 20)
                    a(href='#'): +icons('#ic_heart', 20)


mixin minicard--store()
    .minicard.minicard--store
        .minicard__images
            +picture('/img/product/image-35-2')
        .minicard__main
            .minicard__main
                .minicard__title: a(href='#') 15.6" Ноутбук Acer Nitro 5 AN515-57-57DF 1920x1080, Intel Core i5 11400H 2.7 ГГц, RAM 16 ГБ, SSD 512 ГБ, NVIDIA GeForce GTX 1650, без ОС, NH.QBWER.005, черный
                
                .minicard__store
                    .minicard__store-detail
                        .minicard__store-label Магазин:
                        .minicard__store-name PCPlanet.ru
                        .minicard__store-phone
                            a(href='#') Телефоны
                            ul
                                li: a(href='tel:+ 7 (495) 123-44-55') + 7 (495) 123-44-55
                                li: a(href='tel:+ 7 (495) 123-44-55') + 7 (495) 123-44-55
                                li: a(href='tel:+ 7 (495) 123-44-55') + 7 (495) 123-44-55
                    .minicard__store-rating
                        .minicard__store-label Рейтинг магазина:
                        .minicard__rating
                            span 4.7
                            a(href='#') 82 отзыва
                
                
                .minicard__conditions
                    .minicard__conditions-label Условия покупки:
                    .minicard__conditions-text Оплата картой, цены не зависят от формы оплаты, гарантия
                
            .minicard__more
                .minicard__price от 124 000 ₽
                .minicard__shipping
                    .shipping-item
                        .shipping-item__icon: +icons('#ic_pin.svg', 20)
                        .shipping-item__main
                            .shipping-item__title Курьером, 26-27 мая – 300 ₽
                    .shipping-item
                        .shipping-item__icon: +icons('#ic_truck.svg', 20)
                        .shipping-item__main
                            .shipping-item__title Самовывоз, 27 сен – бесплатно
                            .shipping-item__points Пункты выдачи
                .minicard__note Оплата онлайн / наличными при получении
                .minicard__in-store
                    a(href='#'): button.btn В магазин
               




mixin prop-range()

    .filter-properties
        .filter-properties__head
            .filter-properties__title Цена, ₽ 
            .filter-properties__cross

        .filter-properties__list
            .filter-properties__range
                .filter-properties__row
                    .filter-properties__input
                        span от
                        input(type="text" placeholder="")
                    .filter-properties__input
                        span до
                        input(type="text" placeholder="")
                .filter-properties__slider =====#===========#===================
                

mixin prop-checkbox(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.checkbox
                    li: +checkbox(item)


mixin prop-checkbox-single(data)
    .filter-properties
        .filter-properties__single
            +checkbox(data)


mixin prop-color(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__colors
            ul
                each item in data.colors
                    li: +checkbox(item)


mixin prop-radio(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.radio
                    li: +radio(item) 