include  ../../components/breadcrumb/breadcrumb.pug
include  ../minicard/minicard.pug 
include  ../../components/pagination/pagination.pug

mixin catalog-category-3
    section.section-catalog-category
        .container
            .catalog-category
                .catalog-category__breadcrumbs
                    +breadcrumb([
                        'Главная',
                        'Компьютеры',
                        'Ноутбуки',
                    ]) 
                .catalog-category__h1: h1 Ноутбуки в Кременчуг-Константиновское 

                .catalog-category__tags
                    .catalog-category__tags-prev(data-st="prev"): +icons('#ic_arr-back')
                    ul.dragscroll
                        li: a(href='category.html') 13,3 дюйма
                        li: a(href='category.html') 14,0 дюймов
                        li: a(href='category.html') 15,0 дюймов
                        li: a(href='category.html') 15,6 дюймов
                        li: a(href='category.html') 16,0 дюймов
                        li: a(href='category.html') 17,3 дюйма
                        li: a(href='category.html') 18,4 дюйма
                        li: a(href='category.html') Серебристые
                        li: a(href='category.html') Чёрные
                        li: a(href='category.html') Белые
                        li: a(href='category.html') Игровые
                        li: a(href='category.html') Лёгкие
                        li: a(href='category.html') 18,4 дюйма
                        li.is-active: a(href='category.html') Серебристые
                        li: a(href='category.html') Чёрные
                        li: a(href='category.html') Белые
                        li: a(href='category.html') Игровые
                        li: a(href='category.html') Лёгкие
                    .catalog-category__tags-next(data-st="next"): +icons('#ic_arr-next')

                .catalog-category__content
                    .catalog-category__aside(style="display:block")
                        .current-category
                            .current-category__label Категории
                            .current-category__parent
                                a(href='#')
                                    +icons('#ic_link-back', 6)
                                    span Компьютеры
                            .current-category__link Ноутбуки (124)

                        .category-filter(data-filter-container="catalog")
                            .category-filter__head
                                .category-filter__head-title Фильтры и сортировка
                                .category-filter__head-close: span.icon-cross(data-filter="open" data-elem="catalog")

                            .category-filter__wrp
                                form(action='#' method='POST')
                                    .category-filter__props
                                        .category-filter__item: +prop-range()
                                        .category-filter__item: +prop-checkbox({
                                            title: 'Производитель',
                                            checkbox: [
                                                'HP',
                                                'ASUS',
                                                'Lenovo',
                                                'MSI',
                                                'DELL',
                                                'Acer',
                                                'Apple',
                                                'Fujitsu-Siemens',
                                                'HP',
                                                'ASUS',
                                                'Lenovo',
                                                'MSI',
                                                'DELL',
                                                'Acer',
                                                'Apple',
                                                'Fujitsu-Siemens',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Модельный ряд',
                                            checkbox: [
                                                'Dolby Atmos',
                                                'Harman Kardon',
                                                'Dolby Digital',
                                                'Google Pixel 8',
                                                'Google Pixel 8 Pro',
                                                'Google Pixel Fold',
                                                'Nothing Phone (2)',
                                                'OnePlus 11',
                                                'Poco M5',
                                                'Poco M5s',
                                                'Poco X5',
                                                'Poco X5 Pro',
                                                'Poco X6',
                                                'Poco X6 Pro',
                                                'Redmi Note 12',
                                                'Redmi Note 12 Pro+',
                                                'Samsung Galaxy A15',
                                                'Samsung Galaxy A34',
                                                'Samsung Galaxy A54',
                                                'Samsung Galaxy S23',
                                                'Samsung Galaxy S23 FE',
                                                'Samsung Galaxy S23 Ultra',
                                                'Samsung Galaxy S23+',
                                                'Poco X5 Pro',
                                                'Poco X6',
                                                'Poco X6 Pro',
                                                'Redmi Note 12',
                                                'Redmi Note 12 Pro+',
                                                'Samsung Galaxy A15',
                                                'Samsung Galaxy A34',
                                                'Samsung Galaxy A54',
                                            ]
                                        })

 

 
                                        .category-filter__item: +prop-checkbox-single('Bluetooth')
                                        .category-filter__item: +prop-color({
                                            title: 'Цвет',
                                            colors: [
                                                {hex: '#000000', name: 'Черный'}, 
                                                {hex: '#808080', name: 'Серый'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#FF0000', name: 'Красный'}, 
                                                {hex: '#008000', name: 'Зеленый'}, 
                                                {hex: '#0000FF', name: 'Синий'}, 
                                                {hex: '#C0C0C0', name: 'Серый'}, 
                                                {hex: '#ffffff', name: 'Белый'}, 
                                                {hex: '#FFA500', name: 'Оранжевый'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                                {hex: '#42AAFF', name: 'Голубой'}, 
                                            ]
                                        })
                                        .category-filter__item: +prop-radio({
                                            title: 'Рейтинг магазина',
                                            radio: [
                                                'Любой',
                                                'Высокий: 4.5+',
                                                'Хороший: 4+',
                                                'Средний: 3.5+',
                                            ],
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Скидки и акции ',
                                            checkbox: [
                                                'Скидки',
                                                'Промокоды',
                                                'Подарки за покупки',
                                                'Больше за ту же цену',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Магазины',
                                            checkbox: [
                                                'PCPuls.ru',
                                                'AMD.ru',
                                                'intel.cpm',
                                                'kst.by',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ доставки',
                                            checkbox: [
                                                'Курьером',
                                                'Самовывоз',
                                                'Транспортная компания',
                                                
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Способ оплаты',
                                            checkbox: [
                                                'Онлайн',
                                                'Курьеру',
                                            ]
                                        })

                                        .category-filter__item: +prop-checkbox({
                                            title: 'Состояние товара',
                                            checkbox: [
                                                'Новый',
                                                'Немного БУ',
                                                'Восстановленный',
                                            ]
                                        })
                                    .category-filter__submit
                                        .category-filter__send(data-filter="submit")
                                            button.btn
                                                span Посмотреть
                                                small 328 предложений 
                                        .category-filter__clear(data-filter="clear")
                                            span.icon-cross 
                                            small Очистить <span>все фильтры</span>
                                    
                                 

                    .catalog-category__main 
                        .catalog-category__selected-filter
                            ul
                                li: span 
                                    | Asus
                                    i.ic_remove
                                li: span 
                                    | Oled
                                    i.ic_remove
                                li: span 
                                    | 13.3”
                                    i.ic_remove
                                li: span 
                                    | Больше за ту же цену
                                    i.ic_remove

                        .catalog-category__top
                            .catalog-category__sort
                                .sort-dropdown
                                    .sort-dropdown__title По цене
                                    .sort-dropdown__list
                                        ul  
                                            li: a(href='#' class="is-active is-active--down") По цене
                                            li: a(href='#' ) Сначала популярные
                                            li: a(href='#' class="is-active is-active--up") По рейтингу
                                            li: a(href='#') По отзывам

                            .catalog-category__mobile
                                button(data-filter="open" data-elem="catalog") 
                                    +icons('#ic_filter', 17)
                                    span Фильтры

                            .catalog-category__view
                                ul
                                    li: a(href='#list' data-view="list"): +icons('#ic_sort-list', 24)
                                    li: a(href='#grid' data-view="grid"): +icons('#ic_sort-grid', 24)
                            

                        .catalog-category__products

                            .catalog-products(data-catalog="container")
                                each item in goods

                                    if item.type == 'goods'
                                        .catalog-products__item: +minicard(item)
                                    if item.type == 'store'
                                        .catalog-products__item: +minicard--store(item)

                            .catalog-pagination
                                .catalog-pagination__more
                                    button
                                        +icons('#ic_more', 14)
                                        span Показать ещё
                                .catalog-pagination__page
                                    +pagination()

                
                .catalog-category__h3 Бренды
                .catalog-category__tags.catalog-category__tags--brands
                    .catalog-category__tags-prev(data-st="prev"): +icons('#ic_arr-back')
                    ul.dragscroll
                        li: a(href='category.html') Acer
                        li: a(href='category.html') Apple
                        li: a(href='category.html') Asus
                        li: a(href='category.html') BenQ
                        li: a(href='category.html') Blackview
                        li: a(href='category.html') Dell
                        li: a(href='category.html') Digma
                        
                       
                    .catalog-category__tags-next(data-st="next"): +icons('#ic_arr-next')

                .catalog-category__h3 Подборки
                .catalog-category__tags
                    .catalog-category__tags-prev(data-st="prev"): +icons('#ic_arr-back')
                    ul.dragscroll
                        li: a(href='category.html') 13,3 дюйма
                        li: a(href='category.html') 14,0 дюйма
                        li: a(href='category.html') 15,0 дюйма
                        li: a(href='category.html') 15,6 дюйма
                        li: a(href='category.html') 16,0 дюйма
                        li: a(href='category.html') 17,3 дюйма
                        li: a(href='category.html') Серебристые
                        li: a(href='category.html') Чёрные
                        li: a(href='category.html') Белые
                        li: a(href='category.html') Игровые
                        li: a(href='category.html') Для офиса
                        li: a(href='category.html') Для офиса
                        li: a(href='category.html') Для офиса
                    .catalog-category__tags-next(data-st="next"): +icons('#ic_arr-next')


mixin prop-range()

    .filter-properties
        .filter-properties__head
            .filter-properties__title Цена, ₽ 
            .filter-properties__cross

        .filter-properties__list
            .filter-properties__range
                .filter-properties__row
                    .filter-properties__input
                        span от
                        input(type="text" placeholder="" data-price-range="min")
                    .filter-properties__input
                        span до
                        input(type="text" placeholder="" data-price-range="max")
                .filter-properties__slider
                    #my-slider.slider(se-min='2500' se-step='1' se-min-value='10000' se-max-value='300000' se-max='950000')
                        .slider-touch-left
                            span
                        .slider-touch-right
                            span
                        .slider-line
                            span

                    
                

mixin prop-checkbox(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.checkbox
                    li: +checkbox(item)


mixin prop-checkbox-single(data)
    .filter-properties
        .filter-properties__single
            +checkbox(data)


mixin prop-color(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__colors
            ul
                each item in data.colors
                    li
                        label
                            if(item.hex == '#42AAFF')
                                input(type="checkbox" name="color" disabled)
                            else
                                input(type="checkbox" name="color" )
                            span(data-tooltip=item.name  style='background-color: '+item.hex+'' class=(item.hex == '#ffffff' ? 'color--border':'' ))
                li
                    label
                        input(type="checkbox" name="color" )
                        span.multi-color(data-tooltip="Красный/Зеленый/Синий")
                            svg(width='24' height='24' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M63.002 63h63C121.502 2.004 62-10.495 32 8l31.002 55z' fill='#E81E1E')
                                path(d='M62.995 62.998L32.002 117c55.074 26.6 95.008-18.776 93.99-54.005l-62.997.003z' fill='#A71EE8')
                                path(d='M63 63.001L32 8c-50.776 34.094-30.915 92.083.002 109L63 63.001z' fill='#0CE97F')
                    
                            
                li
                    label
                        input(type="checkbox" name="color" )
                        span.multi-color(data-tooltip="Розовый/Голубой")
                            svg(width='125' height='125' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M106.694 18.306a62.5 62.5 0 10-88.388 88.388l88.388-88.388z' fill='#E31CAC')
                                path(d='M18.306 106.694a62.5 62.5 0 1088.388-88.388l-88.388 88.388z' fill='#1C9CE3')
                    

                span.icon-cross.clear-color-filter


mixin prop-radio(data)
    .filter-properties
        .filter-properties__head
            .filter-properties__title= data.title
            .filter-properties__cross

        .filter-properties__list
            ul
                each item in data.radio
                    li: +radio(item) 