.category-filter {

    display: none;

    @media screen and (min-width: $w992) {
        display: block;
    }

    &__head {

        height: 48px;
        background-color: $gray-96;
        padding: 8px 15px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (min-width: $w992) {
            display: none;
        }

        &-title {
            font-size: 15px;
            font-weight: 700;
        }

        &-close {
            position: absolute;
            right: 4px;
            top: 4px;
            z-index: 5;

            & .icon-cross {
                width: 40px;
                height: 40px;
                min-width: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                display: block;
                opacity: 0.3;
                cursor: pointer;
                border-radius: 4px;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.9;
                    background-color: #fff;
                }
            }
        }
    }
}

.filter-properties {
    padding: 15px 0;

    &__title {
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 15px;
    }

    &__input {
        display: flex;
        align-items: center;

        margin: 0 5px;

    }

    &__range {
        & input {
            border: none;
        }

        & .filter-properties {
            &__input {
                border: 1px solid $gray-96;
                padding: 0 15px;
            }

            &__row {
                margin: 0 -5px;
            }
        }
    }

    &__row {

        display: flex;
    }

    &__list {
        & ul {
            & li {
                padding-bottom: 10px;
            }
        }
    }
}

.current-category {
    display: none;

    @media screen and (min-width: $w992) {
        display: none;
    }

}


.catalog-category {

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__view {

        & ul {
            display: flex;
            align-items: center;
        }

        & svg {
            fill: #000;
        }
    }
}

.sort-dropdown {
    &__list {
        display: none;
    }
}

.catalog-products {

    @media screen and (min-width: $w992) {
        margin: -6px;
    }

    &__item {
        @media screen and (min-width: $w992) {
            padding: 6px;
        }
    }
}