.minicard {

    display: flex;

    &__images {

        width: 68px;
        min-width: 68px;


        & picture {

            @include picture(100%, contain);
        }
    }

    &__content {
        padding-left: 8px;
    }

    &__title {
        font-size: 13px;
        line-height: 123%;
        color: $gray-13;
        padding-bottom: 0.99em;

        &:hover {
            color: $accent-2-1
        }

        & a {
            @include line-clamp(3);
        }
    }

    &__rating {
        & span {
            display: inline-flex;
            width: 32px;
            height: 26px;
            background-color: #eee;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 700;
            border-radius: 4px;
        }

        & a {
            font-size: 13px;
            margin-left: 10px;
        }
    }

}