mixin personal-config 

    .personal-config
        .personal-config__wrp
            form(action='#' method='POST' data-form="personal-config")
                .personal-config__row
                    .personal-config__col
                        +personal-info()
               
                
                .personal-config__submit
                    .personal-config__col
                        button.btn(disabled="" type="submit") Сохранить изменения

     
mixin personal-info
    .personal-block
        .personal-block__logo
            .personal-upload-logo
                .personal-upload-logo__image
                    +bgimage('/img/common/no-photo-user.svg')

                .personal-upload-logo__action
                    .personal-upload-logo__button
                        label
                            input(type="file" name="logo" data-upload="logo-store")
                            span.btn.btn-small Добавить аватар
                        button.btn.btn-white.btn-small(type="button") Удалить
                    .personal-upload-logo__note Загрузите jpg или png файл размером не более 5 MB
                    
        .personal-block__title  Личные данные
        .personal-block__group
            .form
              .form__item
                .form__subitem
                    label Ваше имя
                    input(type="text" placeholder="Ваше имя")

              .form__item
                .form__subitem
                    label Ваша фамилия
                    input(type="text"  placeholder="Ваша фамилия" )

              .form__item
                .form__subitem
                    label Город
                    .input--suggest
                        input(type="text" data-suggest="input" placeholder="Укажите город" data-url="/json/country.json")

              .form__item
                .form__subitem
                    label Почта (логин)
                    input(type="text" placeholder="Email" disabled)

              .form__item
                .form__subitem
                    label Текущий пароль
                    input(type="password" placeholder="Введите текущий пароль")
              .form__item
                .form__subitem
                    label Новый пароль
                    input(type="password" placeholder="Введите новый пароль")
              .form__item
                .form__subitem
                    label Повтор нового пароля
                    input(type="password" placeholder="Введите новый пароль ещё раз")

               

        .personal-block__title.personal-block__title--notification  Уведомления
        .personal-block__group
            .form
              .form__item
                .form__subitem
                    label Получать на адрес
                    input(type="email" placeholder="Email адрес")
              .form__item
                .form__subitem
                    ul.checkbox-list
                        li: +checkbox('Ответы магазинов на мои отзывы')
                        li: +checkbox('Рассылки о скидках и акциях')
                        li: +checkbox('Уведомления о товарах в избранном и сравнении')