mixin coockie-confirm
  .bottom-popup
    .bottom-popup__wrp
      .bottom-popup__main
        .bottom-popup__title Правила обработки персональных данных
        .bottom-popup__desc
          |Пожалуйста, примите правила обработки персональных данных. Хотите больше узнать о том, как мы обрабатываем ваши данные? <br> 
          |Ознакомтесь с  нашей 
          a(href='http://') политикой конфиденциальности.
      .bottom-popup__btn
        button.btn.btn-line Я принимаю
