mixin personal-aside(active) 

    -
        const menu = [
            
            {
                icon: '/img/common/ic_home.svg',
                text: 'Главная',
                link: '/personal/',
            },
            {
                icon: '/img/common/ic_message.svg',
                text: 'Отзывы',
                link: '/personal/review.html',
            },
            {
                icon: '/img/common/ic_config.svg',
                text: 'Настройки',
                link: '/personal/config.html',
            },
        ]

    .user-data
        .user-data__wrp
            .user-data__photo: +bgimage('/img/common/user6.webp')
            .user-data__text
                .user-data__name Михаил Длиннофамильный
                .user-data__email: a(href='mailto:makhail_dlinnofamilniy@gmail.com') makhail_dlinnofamilniy@gmail.com
                .user-data__reviews Всего отзывов: 0

    ul
        each  item,index in menu
            li(class = `${index == active ? 'is-active':''}`)
                +bgimage(item.icon)
                a(href=item.link  )= item.text 
        