.video {
    margin: 0 auto;
    position: relative;
    background: #ccc;
    border-radius: 0px;
    overflow: hidden;


    & iframe {
        border: none;
        position: relative;
        z-index: 2;
    }

    &.play {

        position: relative;

        @keyframes load {
            from {
                transform: rotate(0);
            }

            to {
                transform: rotate(360deg);
            }
        }

        &::before {
            content: '';
            width: 36px;
            min-width: 36px;
            height: 36px;
            border: 5px solid #fff;
            display: block;
            border-radius: 50%;
            border-left: 5px solid transparent;
            animation: load 0.8s infinite linear;
            margin: 0 auto;
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            margin-left: -18px;
            margin-top: -18px;



            @media screen and (min-width: $w576) {
                width: 50px;
                min-width: 50px;
                height: 50px;
                margin-left: -25px;
                margin-top: -25px;
            }

        }

        & .video__preview,
        & .video__action {
            display: none;
        }
    }

    &__preview {
        & picture {
            padding-top: 67%;
            display: block;
            position: relative;

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }
    }

    &__action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &__title {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        max-width: rem(400);
        margin: 0 auto;
        line-height: 140%;

        @media screen and (min-width: $w760) {
            font-size: 28px;
        }


    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 21px 34px;
        border-radius: 12px;

        & span {
            display: none;
        }

        &:hover {
            background-color: $accent-2-1;
        }

        & a {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }



        & span {
            color: #FFFFFF;
            font-size: 16px;
            text-decoration: underline;
        }

        & svg {

            width: rem(28);
            height: rem(25);
            transition: 0.3s ease;

            &:hover {
                opacity: 1;
            }

            // @media screen and (min-width: $w1200) {
            //     width: 60px;
            //     min-width: 60px;
            //     height: 60px;

            // }


            // @media screen and (min-width: $w760) {
            //     width: rem(86);
            //     height: rem(86);
            // }


            // @media screen and (max-width: $w480) {
            //     width: rem(60);
            //     height: rem(60);
            // }

        }
    }
}