.header-home {
    & .container {
        @media screen and (min-width: $w1440) {
            max-width: 100%;
            padding: 24px 48px;
        }
    }
}

.header-min {

    padding: 16px 0;

    &__main {
        display: flex;
        align-items: center;
    }

    &__actions {
        margin-left: auto;
        display: flex;
        align-items: center;

        &--login {
            margin-left: 0;
        }

        &>div {
            @media screen and (min-width: $w760) {
                margin-left: 12px;
            }
        }
    }

    &__logo {
        & .bgimage {
            width: 96px;
            height: 36px;
            @include bgimage-contain;

            @media screen and (min-width: $w760) {
                width: 108px;
                height: 40px;
            }
        }
    }

}

.dropdown-icon {

    position: relative;

    &__elem {

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;

            @media screen and (min-width: $w760) {
                width: 48px;
                height: 48px;
            }

            & svg {
                filter: grayscale(1) brightness(0);
                transition: 0.3 ease;
                width: 20px;
                height: 20px;

                @media screen and (min-width: $w760) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &:hover {
            & svg {
                filter: none;
            }
        }

    }



    &__list {

        position: absolute;
        top: 100%;
        right: -12px;

        padding-top: 8px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        z-index: 10;

        & .dropdown-button {
            display: block;
            padding: 12px;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            font-size: 14px;
            text-align: center;

            & .btn {
                width: 172px;
                height: 36px;
                font-size: 14px;
                font-weight: 400;
            }

            & a {
                display: block;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }

    &:hover {
        & .dropdown-icon {
            &__list {
                opacity: 1;
                visibility: visible;

            }
        }
    }
}

.tooltip-icon {

    position: relative;

    &__elem {

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 6px;

            @media screen and (min-width: $w760) {
                width: 48px;
                height: 48px;
            }

            & svg {
                filter: grayscale(1) brightness(0);
                transition: 0.3 ease;
                width: 20px;
                height: 20px;

                @media screen and (min-width: $w760) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &:hover {
            & svg {
                filter: none;
            }

            & .tooltip-icon {

                &__count {
                    border: 2px solid #fff;
                }
            }
        }

    }

    &__text {

        position: absolute;
        top: 100%;
        right: 0;
        transform: translateX(50%) translateX(-24px);
        padding-top: 8px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;

        & span {
            display: block;
            padding: 15px;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            max-width: 155px;
            min-width: 155px;
            font-size: 14px;
            text-align: center;
            line-height: 130%;
        }
    }

    &__count {
        background-color: $red;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        border-radius: 16px;
        display: inline-block;
        height: 19px;
        min-width: 19px;
        padding: 0 3px;
        text-align: center;
        border: 2px solid #352A4F;
        position: absolute;
        right: 5px;
        top: 5px;
        transition: 0.3s ease;
        line-height: 14px;
        padding: 0 4px;



    }

    &:hover {
        & .tooltip-icon {
            &__text {
                opacity: 1;
                visibility: visible;

            }

        }
    }
}


.header-location {
    &__wrp {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            & .header-location {
                &__icon {
                    & svg {
                        fill: $accent-1-1;
                    }
                }

                &__name {
                    color: $accent-1-1;
                }
            }
        }
    }

    &__icon {
        margin-right: 0.6em;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            fill: #000;
            width: 18px;
        }
    }

    &__name {
        margin-top: -2px;
        white-space: nowrap;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;


    }




}

.user-menu-popup {
    padding-top: 45px;
}