include dropdown 
 
.header-store
    .container
        .header-min
            .header-min__main
                .header-min__logo
                    a(href='/store/home.html')
                        span.bgimage(style="background-image: url('/img/common/logo_partners.svg')")
                .header-min__status
                    span.icon-status--new  <!-- icon-status--green  icon-status--orange icon-status--red icon-status--new  -->  Новый магазин  
                
                .header-min__bill
                    .header-min__mobile
                        span.ic-open-aside(data-aside="open")
                    .header-min__pay
                        .header-min__wallet
                            +icons('#ic_wallet', 24)
                            span 24 390.17 ₽
                        .header-min__add
                            a(href='#'): button.btn.btn-small Пополнить
                .header-min__notification
                    .header-notification(data-ntfc="open").is-unread
                        .header-notification__icon
                            +icons('#ic_notifications', 24)
                          

                .header-min__actions.header-min__actions--login
                    .header-min__login(data-popup="user-menu")
                        +dropdown-icon-store-login
