include dropdown 

.header-store
    .container
        .header-min
            .header-min__main
                .header-min__logo
                    a(href='/store/')
                        span.bgimage(style="background-image: url('/img/common/logo_partners.svg')")
                .header-min__actions
                    
                    .header-min__login
                        +dropdown-icon-store
