include dropdown 
 
.header-store
    .container
        .header-min
            .header-min__main
                .header-min__logo
                    a(href='/store/home.html')
                        span.bgimage(style="background-image: url('/img/common/logo_partners.svg')")
                .header-min__status
                    span.icon-status--new  <!-- icon-status--green  icon-status--orange icon-status--red icon-status--new  -->  Новый магазин  
                
                .header-min__bill
                    .header-min__mobile
                        span.ic-open-aside(data-aside="open")
                    .header-min__pay
                        .header-min__wallet
                            +icons('#ic_wallet', 24)
                            span 24 390.17 ₽
                        .header-min__add
                            a(href='#'): button.btn.btn-small Пополнить
                .header-min__notification
                    .header-notification.is-unread
                        .header-notification__icon
                            +icons('#ic_notifications', 24)
                        .header-notification__dropdown
                            ul
                                li
                                    strong: a(href="#") Новые поступления!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") 10% процентов на все!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") Новые поступления!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") 10% процентов на все!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") Новые поступления!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") 10% процентов на все!
                                    p Тент защищает воду от попадания в неё мусора и пыли. Он полезен, если нужно оставить бассейн без присмотра на какой тек длительный период или чтобы защитить его от грозы и сильного ветра. Тент можно использовать чаще, если бассейн расположен на открытом воздухе.
                                li
                                    strong: a(href="#") Он позволяет воде «дышать»
                                    p  Брезент, в отличие от двух других материалов, пропускает воду, намокает и может утратить свои качества, если его не просушить. 

                .header-min__actions.header-min__actions--login
                    .header-min__login(data-popup="user-menu")
                        +dropdown-icon-store-login
