.container
    .header-min
        .header-min__main
            .header-min__logo
                a(href='#')
                    span.bgimage(style="background-image: url('/img/common/logo-dark.svg')")
            .header-min__actions
                .header-min__fav
                    a(href='#'): +icons('#ic_heart', 24)
                .header-min__compare
                    a(href='#'): +icons('#ic_compare', 24)
                .header-min__profile
                    a(href='#'): +icons('#ic_user', 24)