mixin dropdown-icon
    .dropdown-icon
        .dropdown-icon__elem: a(href='#'): +icons('#ic_login', 24)
        .dropdown-icon__list
            .dropdown-button
                a(href='#'): button.btn.btn-gray Войти
                a(href='#'): button.btn.btn-gray Зарегистрироваться
                a(href='#'): button.btn.btn-white Вход для магазинов

mixin tooltip-icon(data)
    .tooltip-icon
        .tooltip-icon__elem: a(href='#'): +icons(data.icon, 24)
        .tooltip-icon__text
            span= data.text

 
             


.header-home
    .container
        .header-min
            .header-min__main
                .header-min__logo
                    a(href='#')
                        span.bgimage(style="background-image: url('/img/common/logo-dark.svg')")
                .header-min__actions
                    .header-min__fav
                        +tooltip-icon({
                            icon: '#ic_heart',
                            text: ' Добавьте товары в избранное ',
                        })
                    .header-min__compare
                        
                        +tooltip-icon({
                            icon: '#ic_compare',
                            text: ' Добавьте товары в сравнение ',
                        })
                    .header-min__login
                        +dropdown-icon
        .header-location
            .header-location__wrp
                .header-location__icon: +icons('#ic_pin')
                .header-location__name Кременчуг-Константиновское 