block variables
include ../helpers/mixins
include ../../blocks/components/headers/headers

doctype html
html(lang="ru")
  head
    include parts/head.pug


  body
    header 
      block header
        include ../../blocks/modules/common/header/header--login.pug
    main
      .container
        .personal-page
          .personal-page__title Мой профиль
          .personal-page__content
            .personal-panel
                .personal-panel__aside
                  block aside
                .personal-panel__content
                  block content
    footer
      block footer
          include ../../blocks/modules/common/footer/footer.pug

    
     
    block scripts
      script(src="/js/vendor.min.js")
      script(src="/js/common.js")    
 
