block variables
include ../helpers/mixins
include ../../blocks/components/headers/headers

doctype html
html(lang="ru")
  head
    include parts/head-store.pug

  body.body-store-home
    header 
      block header
        include ../../blocks/modules/common/header/header-store.pug
    main.page-store
      block content

    
     
    block scripts
      script(src="/js/vendor.js")
      script(src="/js/store.js")   
 
