.product-carousel {

    margin: 30px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    &__title {
        @include font-h3;
    }

    &__nav {
        display: none;

        @media screen and (min-width: $w576) {
            display: flex;
            align-items: center;
        }



        &-next,
        &-prev {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            margin: 4px;

            &[disabled] {
                visibility: hidden;
            }

            & svg {
                width: 24px;
                cursor: pointer;
            }

            &:hover {
                & svg {
                    fill: $accent-2-1;
                }
            }
        }

    }

    &__slider {
        margin-right: -16px;

        @media screen and (min-width: $w480) {
            margin-right: 0;
        }

        @media screen and (max-width: $w480) {
            & .splide {
                &__slide {
                    padding-right: 16px;
                    margin-right: 0 !important;
                }
            }
        }

        & .splide {

            &>.splide__arrows .splide__arrow {
                opacity: 1;



                &:hover {
                    opacity: 0.9;
                }

                & svg {
                    fill: $accent-2-1;
                    height: 18px;
                    width: 18px;
                }


            }

            &>.splide__arrows .splide__arrow {
                &--prev {
                    left: -65px;

                    & svg {
                        margin-right: 10px;
                    }
                }

                &--next {
                    right: -65px;

                    & svg {
                        margin-left: 8px;
                    }
                }

                &--prev,
                &--next {
                    background-color: transparent;
                    border-radius: 6px;
                    width: 40px;
                    height: 40px;



                    &:hover {
                        background-color: #F9F7FF;
                    }

                    &:disabled {
                        opacity: 0;
                    }
                }
            }

            &.is-pagination {
                & .splide {
                    &__arrow {

                        &--prev,
                        &--next {
                            &:disabled {
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }

        }
    }

    & img {
        margin: 0;
    }

    & a {
        color: #333;
    }

    & .splide {

        &__pagination {

            position: static;
            padding: 12px 0;

            & li {
                padding: 0;

                &::before {
                    display: none;
                }
            }
        }


        @media screen and (max-width: $w576) {

            &.is-initialized:not(.is-active) {
                & .splide {
                    &__list {
                        display: flex;
                    }

                    &__slide {
                        margin-right: 16px;
                        width: 70%;
                        min-width: 240px;
                        max-width: 280px;
                    }

                    &__track {
                        overflow-x: auto;
                        scrollbar-width: none;
                    }
                }
            }


        }


    }


}

.product-article {

    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 6px;
    transition: 0.3s ease;
    margin: 0 0;
    height: calc(100% - 2px);

    &:hover {
        border-color: $accent-2-1;
    }

    &__image {

        padding-bottom: 12px;

        & picture {
            @include picture(100%, contain);

            & img {
                color: transparent;
                min-height: auto !important;
                object-fit: contain !important;
            }
        }


    }

    &__title {
        padding-bottom: 8px;

        & a {
            @include line-clamp(2);
            font-size: 15px;
            line-height: 160%;
        }
    }

    &__price {
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 6px;
    }

    &__offers {
        color: $gray-56;

        & span {


            &:hover {
                color: $accent-2-1;
            }
        }

        font-size: 13px;
    }





}