- 
  const app = {

    mainMenu: [
      { 'text': 'Home',  'href': 'index.html', icon: false},
      { 'text': 'About us',  'href': 'about.html', icon: false},
      { 'text': 'Services',  'href': 'services.html', icon: false,
        'sub': [
          'House renovations ',
          'Condo renovations ',
          'Basement renovations ',
          'Commercial renovations ',
        ]
      },
      { 'text': 'Areas',  'href': 'areas.html', icon: false,
        'sub': [
          'Aurora',
          'Barrie',
          'Bradford',
          'Brampton',
          'Markham',
          'Mississauga',
          'Newmarket',
          'Vaughan',
        ],
        'multi': [
          'House renovations ',
          'Condo renovations ',
          'Basement renovations ',
          'Commercial renovations ',
        ] 
      },
      { 'text': 'Blog',  'href': 'blog.html', icon: false},
      { 'text': 'Contact us',  'href': 'contacts.html', icon: false},
      { 'text': 'Virtual tour',  'href': 'tour.html', icon: '#ic_3d--green'},
      
    ],

    
  }

  const product = {
    image: '/img/product/catalog-icon/01.svg',
    title: 'Клавиатуры',
    desc: 'Компьютеры',
  }

  const catalog = [
    {
      title: 'Электроника',
      icon: '/img/product/catalog-icon/01.svg',
      sub: [
        {
          title: 'Ноутбуки и планшеты',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Настольные ПК и моноблоки',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Комплектующие для ПК',
          sub: [
           {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Мониторы и аксессуары',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Гейминг',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Периферийные устройства',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Оргтехника и расходные материалы',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Сетевое оборудование',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
        {
          title: 'Накопители данных',
          sub: [
            {title: 'Ноутбуки'},
            {title: 'Аксессуары для ноутбуков'},
            {title: 'Планшеты'},
            {title: 'Аксессуары для планшетов'},
            {title: 'Графические планшеты'},
            {title: 'Планшеты'},
          ]
        },
      ]
    },
    {
      title: 'Бытовая техника',
      icon: '/img/product/catalog-icon/02.svg',
    },
    {
      title: 'Авто',
      icon: '/img/product/catalog-icon/03.svg',
    },
    {
      title: 'Компьютеры',
      icon: '/img/product/catalog-icon/04.svg',
    },
  ]


 


















