- 
  const app = {

    mainMenu: [
      { 'text': 'Home',  'href': 'index.html', icon: false},
      { 'text': 'About us',  'href': 'about.html', icon: false},
      { 'text': 'Services',  'href': 'services.html', icon: false,
        'sub': [
          'House renovations ',
          'Condo renovations ',
          'Basement renovations ',
          'Commercial renovations ',
        ]
      },
      { 'text': 'Areas',  'href': 'areas.html', icon: false,
        'sub': [
          'Aurora',
          'Barrie',
          'Bradford',
          'Brampton',
          'Markham',
          'Mississauga',
          'Newmarket',
          'Vaughan',
        ],
        'multi': [
          'House renovations ',
          'Condo renovations ',
          'Basement renovations ',
          'Commercial renovations ',
        ] 
      },
      { 'text': 'Blog',  'href': 'blog.html', icon: false},
      { 'text': 'Contact us',  'href': 'contacts.html', icon: false},
      { 'text': 'Virtual tour',  'href': 'tour.html', icon: '#ic_3d--green'},
      
    ],

    
  }





















