mixin card-topcategory(data)
    .card-topcategory
        .card-topcategory__name: span= data.name
        .card-topcategory__image
            +picturePngLazy(data.img)
        .card-topcategory__link
            a(href='/category.html') 

mixin top-categories
    section.section-top-categories
        .container
            .top-categories
                .top-categories__title Популярные категории
                .top-categories__list
                    each item in top_categories
                        .top-categories__item: +card-topcategory(item)

