.section-top-categories {
    padding: 28px 0;

    @media screen and (min-width: $w760) {
        padding: 12px 0
    }
}

.top-categories {
    &__title {
        @include font-h2;
        padding-bottom: 1em;
    }

    &__list {
        margin: -4px;
        display: flex;
        flex-wrap: wrap;

        & .splide {
            width: 100%;

            &__arrow {
                opacity: 1;


                &:hover {
                    opacity: 0.9;
                }

                & svg {
                    fill: $accent-2-1;
                    height: 20px;
                    width: 20px;
                }


            }

            &__track {
                padding-top: 12px;
                padding-bottom: 24px;
            }

            &__pagination {
                bottom: 0;
            }

            &__arrow {
                &--prev {
                    left: -45px;
                }

                &--next {
                    right: -45px;
                }

                &--prev,
                &--next {
                    background-color: transparent;

                    &:disabled {
                        opacity: 0;
                    }
                }
            }

            &.is-pagination {
                & .splide {
                    &__arrow {

                        &--prev,
                        &--next {
                            &:disabled {
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }

            &:not(.is-initialized.is-active) {

                visibility: visible;
                // margin-bottom: 26px;

                & .splide {

                    &__list {
                        @media screen and (max-width: $w992) {
                            flex-wrap: wrap;
                            display: flex;
                        }
                    }

                    &__slide {

                        padding: 0 4px;
                        width: 50%;

                        @media screen and (min-width: $w576) {
                            width: 33.33%;
                        }

                        @media screen and (min-width: $w760) {
                            width: 25%;
                        }

                        @media screen and (min-width: $w992) {
                            width: 20%;
                        }

                        @media screen and (min-width: $w1200) {
                            width: 16.6%;
                        }

                        @media screen and (min-width: $w1440) {
                            width: 12.5%;
                        }

                    }


                    &__track {
                        padding-top: 13px;
                    }

                }
            }
        }
    }

    // &__item {
    //     padding: 4px;
    //     width: 50%;

    //     @media screen and (min-width: $w576) {
    //         width: 33.33%;
    //     }

    //     @media screen and (min-width: $w760) {
    //         width: 25%;
    //     }

    //     @media screen and (min-width: $w992) {
    //         width: 20%;
    //     }

    //     @media screen and (min-width: $w1200) {
    //         width: 16.6%;
    //     }

    //     @media screen and (min-width: $w1440) {
    //         width: 12.5%;
    //     }
    // }
}

.card-topcategory {
    background-color: $gray-96;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: 0.3s ease;

    &__name {
        font-size: 16px;
        line-height: 125%;
        font-weight: 600;
        padding: 16px 16px 0 16px;
        color: $gray-13;
        transition: 0.3s ease;
        min-height: 40px;

        & span {
            @include line-clamp(2);
        }
    }

    &__image {
        overflow: hidden;
        margin-top: auto;
        padding-top: 2px;
        padding-left: 12px;

        & picture {


            position: relative;
            display: block;
            padding-top: 70%;
            object-position: bottom right;
            margin-bottom: -16px;
            margin-right: -24px;
            transition: 0.3s ease;



            @media screen and (min-width: $w992) {
                padding-top: 80%;
                margin-bottom: -7px;
                margin-right: -16px;
            }

            & img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: 0.3s cubic-bezier(.39, -0.32, 0, 1.02);
                transform: translateY(0.001px);
            }
        }


    }

    &__link {
        & a {
            @include layer(2);
        }
    }

    &:hover {

        background-color: #eee;

        & .card-topcategory {
            &__name {
                color: $accent-2-1;
            }

            &__image {
                & picture {
                    & img {
                        @media screen and (min-width: $w992) {
                            transform: translateY(-4px);
                        }
                    }
                }
            }
        }
    }


}