mixin card-topcategory(data)
    .card-topcategory
        .card-topcategory__name= data.name
        .card-topcategory__image
            +picture(data.image)
        .card-topcategory__link
            a(href='#') 

mixin top-categories
    section.section-top-categories
        .container
            .top-categories
                .top-categories__title Популярные категории
                .top-categories__list
                    each item in [1,1,1,1,1]
                        .top-categories__item: +card-topcategory(item)

