/* common styles */

.page-hidden {
    overflow: hidden !important;
}


.hide {
    &--mobile {
        @media screen and (max-width: $w1200) {
            display: none;
        }
    }

    &--desctop {
        @media screen and (min-width: $w1200) {
            display: none;
        }
    }
}

.splide {
    &__pagination {}
}


.text--line-clamp-6 {
    @include line-clamp(6);
}


.slider {
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    .slider-touch-left,
    .slider-touch-right {

        display: block;
        position: absolute;
        height: 36px;
        width: 36px;
        padding: 6px;
        z-index: 2;
        cursor: pointer;

        & span {
            display: block;
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 50%;
            border: 4px solid $accent-1-1;
            margin: 4px;

        }
    }

    .slider-line {

        position: absolute;
        width: calc(100% - 36px);
        left: 18px;
        top: 16px;
        height: 4px;
        border-radius: 4px;
        background: #F0F0F0;
        z-index: 0;
        overflow: hidden;

        span {
            display: block;
            height: 100%;
            width: 0%;
            background: $accent-1-1;
        }
    }
}

.popup-points {
    // width: 100vw;
    background-color: #eee;
    margin: -10px;
    border-radius: 6px;
    overflow: hidden;

    @media screen and (min-width: $w992) {
        width: 60vw;
        max-width: 1070px;
        min-width: 992px;
    }

    &__wrp {
        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__head {
        font-size: 16px;
        line-height: 160%;
        padding: 13px 15px;
        font-weight: 800;
        padding-right: 40px;

        @media screen and (min-width: $w992) {
            @include font-h3;
            padding: 25px 25px;
        }
    }

    &__map {
        width: 100%;
        flex-grow: 1;

        & #map {
            height: 40vh;
            background-color: #ddd;

            @media screen and (min-width: $w992) {
                height: 70vh;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 40vh;

        @media screen and (min-width: $w992) {
            width: 40%;
            height: 70vh;


        }
    }

    &__items {
        overflow-y: auto;
        overflow-x: hidden;

        @include scrollbar;
    }

    &__stores {
        color: $gray-56;
        font-weight: 600;
        padding: 12px 10px;
        border-bottom: 1px solid $gray-92;
    }

    &__item {
        padding: 10px 16px 10px 10px;
        border-left: 2px solid transparent;
        cursor: pointer;

        &.is-active,
        &:hover {
            border-color: $accent-2-1;
            background-color: #f7f7f7;
        }
    }

    &__title {
        color: $gray-13;
        padding-bottom: 5px;
        font-size: 13px;

        @media screen and (min-width: $w992) {
            font-size: 14px;
        }
    }

    &__worktime {
        color: $gray-56;
        padding-bottom: 5px;
        font-size: 13px;

        @media screen and (min-width: $w992) {
            font-size: 14px;
        }
    }

    &__now {
        color: $green;
        font-size: 13px;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            display: inline-block;
            background-color: $green;
            margin-top: 2px;
            margin-right: 5px;

        }
    }
}

span[data-tooltip],
a[data-tooltip] {
    position: relative;
}

span[data-tooltip]::before,
a[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #fff;
    top: 115%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
    z-index: 2;
    font-size: 13px;
    left: 0;
    transform: translateX(calc(-50% - -20px));
    min-width: 150px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;

}

span[data-tooltip]:hover::before,
a[data-tooltip]:hover::before {
    opacity: 1;
}

.splide__pagination {
    &__page {



        @media screen and (max-width: $w480) {
            width: 4px;
            height: 4px;
        }


        &.is-active {
            background: $accent-2-1;
        }
    }
}

.i-tooltip {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGZpbGw9IiM4RjhGOEYiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC41IDRhNi41IDYuNSAwIDEwMCAxMyA2LjUgNi41IDAgMDAwLTEzek0zIDEwLjVhNy41IDcuNSAwIDExMTUgMCA3LjUgNy41IDAgMDEtMTUgMHptNy43MTQtMi45OGExLjYgMS42IDAgMDAtMS43OCAxLjA0Ni41LjUgMCAwMS0uOTQzLS4zMzIgMi42IDIuNiAwIDAxNS4wNTMuODY3YzAgLjk2NS0uNzE4IDEuNjItMS4yNzMgMS45OWE1LjQzOCA1LjQzOCAwIDAxLTEuMTM2LjU3MmwtLjAyMi4wMDgtLjAwNy4wMDJoLS4wMDJsLS4wMDIuMDAxLS4xNTgtLjQ3NC4xNTguNDc0YS41LjUgMCAwMS0uMzE3LS45NDhsLjE1LjQ0OC0uMTUtLjQ0OGguMDAybC4wMTMtLjAwNS4wNTYtLjAyMWMuMDUtLjAyLjEyNC0uMDQ4LjIxMy0uMDg4LjE4LS4wOC40MTUtLjE5OC42NDgtLjM1My40OTQtLjMzLjgyNy0uNzI0LjgyNy0xLjE1OWExLjYwMSAxLjYwMSAwIDAwLTEuMzMtMS41OHpNMTAgMTRhLjUuNSAwIDAxLjUtLjVoLjAwN2EuNS41IDAgMDEwIDFIMTAuNWEuNS41IDAgMDEtLjUtLjV6Ii8+PC9zdmc+);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    vertical-align: middle;

}

#status {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.75);
    border-left: 0px solid #bbb;

    font-size: 13px;
    min-width: 300px;
    transform: translateY(100%) translateY(20px);
    transition: 0.3s ease;
    color: #fff;
    z-index: 100000;
    max-width: 450px;
    visibility: hidden;

}

#status_header {
    font-weight: 800;
    font-size: 14px
}

#status.error {
    border-color: #ca2c2c;
    transform: translateY(0);
    border-left-width: 4px;
    height: auto;
    display: block;
    visibility: visible;
}

#status.error #status_header {
    color: #fff
}

#status.warning #status_header {
    color: #fff
}

#status.complete #status_header {
    color: #fff
}



#status.warning {
    border-color: orange;
    transform: translateY(0);
    border-left-width: 4px;
    display: block;
    visibility: visible;
}

#status.complete {
    border-color: #2dba70;
    transform: translateY(0);
    border-left-width: 4px;
    display: block;
    visibility: visible;
}

#status_msg {
    line-height: 140%;
    margin-top: 5px;
}

#status_btn {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.681818 0L15 14.3182L14.3182 15L1.62748e-08 0.681818L0.681818 0Z' fill='%23FFFFFF'/%3E%3Cpath d='M15 0.681818L0.681818 15L0 14.3182L14.3182 6.09593e-07L15 0.681818Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 13px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 0.6;
}

#status_btn {
    opacity: 1;
}

.create-review {
    max-width: 665px;

    @media screen and (min-width: $w480) {
        padding: 25px;
    }

    &__title {
        @include font-h3;
        padding-bottom: 0.8em;
    }

    &__name {

        padding-left: 12px;

        @media screen and (min-width: $w992) {
            padding-left: 20px;
        }

        & a {
            font-weight: 800;
            font-size: 16px;


            @media screen and (min-width: $w992) {
                font-size: 18px;
            }

            &:hover {
                color: $accent-2-1;
            }
        }
    }

    &__product {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    &__image {
        width: 64px;
        min-width: 64px;

        & picture {
            @include picture(100%, contain);
        }
    }



    &__form {
        & .form {
            &__subitem {
                &>label {
                    display: block;
                    font-weight: 600;
                    width: 100%;
                    padding-bottom: 12px;
                    font-size: 16px;


                }

                & .btn {
                    width: 100%;

                }

                & .policy {

                    line-height: 140%;
                    text-align: center;
                    width: 100%;

                    @media screen and (min-width: $w480) {
                        text-align: left;
                    }

                    & a {
                        color: $accent-2-1;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                }

                & .qi-review {
                    padding-bottom: 10px;
                }

                & textarea {
                    min-height: 100px;
                    margin-bottom: 10px;
                    max-height: 300px;
                }
            }

            & .checkbox {
                font-size: 14px;
                padding: 10px 0;

                &__elem {
                    margin-top: 1px;
                }
            }

            & .i-tooltip {
                &::before {
                    min-width: auto;
                    white-space: nowrap;
                    top: auto;
                    bottom: calc(100% + 8px);
                    padding: 6px 10px;
                    font-size: 13px;
                    transform: translateX(calc(-50% + 12px));
                    padding: 12px;
                }
            }
        }
    }

}

.qi-review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
    margin: -5px;

    @media screen and (min-width: $w576) {
        margin: -10px;
    }

    & li {
        padding: 5px;
        width: 50%;

        @media screen and (min-width: $w576) {
            width: auto;
            padding: 10px;
        }
    }

    & input {
        display: none;

        &:not(:checked) {
            &~span {
                background-color: transparent !important;
            }
        }

        &:checked {
            &~span {
                color: #fff !important;
            }
        }
    }

    & span {
        display: inline-flex;
        width: 32px;
        height: 26px;
        background-color: #eee;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 800;
        border-radius: 4px;
        border: 1px solid transparent;

        @media screen and (min-width: $w760) {
            width: 40px;
            height: 32px;
        }
    }

    & small {
        font-size: 13px;
        margin-left: 9px;

        display: inline-block;
        margin-top: -1px;



        @media screen and (min-width: $w1440) {
            font-size: 14px;
        }
    }



    & label {

        cursor: pointer;

        &.rating {
            &--green {
                & span {
                    background: $green;
                    color: $green;
                    border-color: $green;
                }

                & small {
                    color: $green;
                }
            }

            &--red {
                & span {
                    background: $red;
                    color: $red;
                    border-color: $red;
                }

                & small {
                    color: $red;
                }
            }

            &--orange {
                & span {
                    background: $orange;
                    color: $orange;
                    border-color: $orange;
                }

                & small {
                    color: $orange;
                }
            }

            &--blue {
                & span {
                    background: $blue;
                    color: $blue;
                    border-color: $blue;
                }

                & small {
                    color: $blue;
                }
            }
        }
    }
}


.popup-succes {
    max-width: 400px;

    @media screen and (min-width: $w480) {
        padding: 20px;
    }

    &__title {
        @include font-h3;
        text-align: center;
        padding-bottom: 15px;
    }

    &__desc {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 140%;
    }

    &__icon {
        max-width: 60px;
        margin: 0 auto;
        padding-bottom: 5px;

        & span {
            display: block;
            padding-top: 100%;

            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__btn {

        padding-bottom: 10px;

        & .btn {
            width: 100%;
        }
    }
}