html {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

:root {
    --fancybox-accent-color: $main;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 27px;
    --carousel-button-svg-height: 27px;
    --fancybox-bg: rgba(24, 24, 27, 0.92);
    --fancybox-thumbs-width: 96px;
    --fancybox-thumbs-border-radius: 0px;
}


button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.hidden-profile,
.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1200) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

section {
    overflow: hidden;
    position: relative;
}

main {
    width: 100%;
    min-height: calc(100vh - 223px);

    @media screen and (min-width: $w1440) {
        min-height: calc(100vh - 207px);
    }

    @media screen and (min-width: $w1200) {
        min-height: calc(100vh - 159px);
    }

    @media screen and (min-width: $w760) {
        min-height: calc(100vh - 175px);
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 95%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}


.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    min-width: 316px;

    @media screen and (min-width: $w480) {
        padding: 0 16px;
        max-width: 400px;
    }

    @media screen and (min-width: $w576) {
        padding: 0 16px;
        max-width: 705px;
    }

    @media screen and (min-width: $w760) {
        padding: 0 20px;
        max-width: 705px;
    }

    @media screen and (min-width: $w992) {
        padding: 0 30px;
        max-width: 990px;
    }

    @media screen and (min-width: $w1200) {
        padding: 0 30px;
        max-width: 1200px;
    }

    @media screen and (min-width: $w1440) {
        padding: 0 30px;
        max-width: 1450px;
    }
}


.formated-text {

    & * {
        line-height: 140%;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: 25px;
        line-height: 120%;
        color: $main;
        font-weight: 700;
    }

    @media screen and (min-width: $w1200) {
        & h1 {
            font-size: 26px;
        }

        & h2 {
            font-size: 22px;
        }

        & h3 {
            font-size: 20px;
        }

        & h4 {
            font-size: 18px;
        }

        & h5 {
            font-size: 16px;
        }

        & h6 {
            font-size: 14px;
        }
    }

    & .table {
        overflow-x: auto;
    }

    & table {

        border: 1px solid #cacaca;
        border-collapse: collapse;
        margin: 35px 0;
        width: 100%;
        min-width: 600px;

        & th {
            padding: 13px 25px;
            background-color: #EFEFEF;
            color: #000;
            text-decoration: transparent;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            text-align: center;
            border: 1px solid #CACACA;
            border-bottom-color: transparent;

            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 15px 25px;
                font-size: 16px;
            }


        }

        & td {
            padding: 20px 25px;
            border: 1px solid #CACACA;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            min-width: 150px;

            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 35px 25px;
                font-size: 16px;
            }

            & strong {
                display: block;
                margin-bottom: 10px;
            }

            &:first-child {
                font-weight: normal;
            }
        }

    }

    & a {
        color: $main;
        text-decoration: underline;
    }

    & div:not([class]),
    & p {
        margin: 20px 0;
        color: $main;
        line-height: 150%;

        @media screen and (min-width: $w760) {
            font-size: 16px;
        }
    }

    & ul {

        padding: 20px 0;

        @media screen and (min-width: $w760) {
            padding-top: 20px;
        }

        & li {

            position: relative;
            padding-left: 20px;
            font-size: 14px;
            padding-bottom: 15px;

            @media screen and (min-width: $w760) {
                font-size: 16px;
                padding-left: 25px;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                display: block;
                position: absolute;
                left: 0;
                top: 0.45em;
                border-radius: 50%;
                background-color: $main;
            }
        }
    }

    & img {
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        margin: 35px 0;
    }

    & ol {
        counter-reset: number-list 00;
        padding: 20px 0;

        &>li {

            counter-increment: number-list 1;
            list-style-type: none;
            position: relative;
            margin-bottom: 15px;
            color: #000;
            padding-left: 20px;
            font-size: 14px;

            @media screen and (min-width: $w760) {
                font-size: 16px;
                padding-left: 30px;
            }



            &::before {
                content: counter(number-list);
                color: $main;
                font-weight: bold;
                min-width: 35px;
                display: inline-block;
                position: absolute;
                left: 0;

                @media screen and (min-width: $w760) {}
            }
        }
    }

    & strong {

        color: $main;
        font-weight: 600;


        @media screen and (min-width: $w760) {
            font-size: 16px;
        }
    }
}


/* =========================================== */
/* =========================================== */

@mixin section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w1440) {
        font-size: 36px;
    }
}

@mixin section-title-site {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w992) {
        font-size: 48px;
    }

    @media screen and (min-width: $w1440) {
        font-size: 60px;
    }
}

@mixin section-title-h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w1440) {
        font-size: 28px;
    }
}

@mixin section-title-h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w576) {
        font-size: 24px;
    }
}

@mixin section-subtitle {
    font-weight: bold;
    font-size: 26px;
    line-height: 117.2%;
    color: #1B1A1C;

    @media screen and (min-width: $w992) {
        font-size: 48px;
    }

}

@mixin section-label {
    display: none;

    @media screen and (min-width: $w760) {
        padding-bottom: 15px;
        display: block;

        & span {
            padding: 7px 16px;
            background: #BF3232;
            border-radius: 10px;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
        }
    }

}


@mixin section-padding {
    padding: 55px 0;

    @media screen and (min-width: $w576) {
        padding: 70px 0;
    }
}


@mixin font-h1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }

    @media screen and (min-width: $w1200) {
        font-size: 44px;
    }
}

@mixin font-h1-inners {
    font-weight: 800;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }

    @media screen and (min-width: $w1200) {
        font-size: 36px;
    }
}

@mixin font-h2 {
    font-weight: 900;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }





}

@mixin font-h3 {


    font-weight: bold;
    font-size: 20px;
    line-height: 160%;


}


table {

    border: none;
    border-collapse: collapse;
    margin: 35px 0;
    width: 100%;
    min-width: 600px;

    & th {
        padding: 13px 25px;
        background-color: #F5F5F5;
        border: none;
        color: #838383;
        font-size: 14px;
        font-weight: normal;
        text-align: left;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;
            font-size: 16px;
        }


    }

    & td {
        padding: 15px 25px;
        border-bottom: 1px solid #CFCFCF;
        font-size: 14px;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;
            font-size: 16px;
        }

        & strong {
            display: block;
            margin-bottom: 10px;
        }

        &:first-child {
            font-weight: bold;
        }
    }

}


.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s ease;
}