html {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;
    height: -webkit-fill-available;

}

html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;

}

button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.hidden-profile,
.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1200) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

section {
    overflow: hidden;
    position: relative;
}

main {
    width: 100%;
    min-height: calc(100vh - 100px);


    @media screen and (min-width: $w1440) {

        min-height: calc(100vh - 207px);
    }

    @media screen and (min-width: $w1200) {
        min-height: calc(100vh - 159px);
    }

    @media screen and (min-width: $w760) {
        min-height: calc(100vh - 175px);
    }
}

.page-store {
    min-height: auto;

}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 95%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}

@mixin container-breakpoint {
    // max-width: 400px;
    padding: 0 16px;
    min-width: 316px;

    @media screen and (min-width: $w480) {
        padding: 0 16px;
        // max-width: 400px;
        max-width: 480px;
    }

    @media screen and (min-width: $w576) {
        padding: 0 24px;
        max-width: 766px;
    }

    @media screen and (min-width: $w760) {
        padding: 0 24px;
        max-width: 766px;
    }

    @media screen and (min-width: $w992) {
        padding: 0 30px;
        max-width: 990px;
    }

    @media screen and (min-width: $w1200) {
        padding: 0 30px;
        max-width: 1200px;
    }

    @media screen and (min-width: $w1440) {
        padding: 0 30px;
        max-width: 1450px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include container-breakpoint;
}


.formated-text {

    font-size: 15px;

    & * {
        line-height: 160%;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: 25px;
        line-height: 120%;
        font-weight: 900;
        margin-top: 1.5em;
    }

    @media screen and (min-width: $w1200) {
        & h1 {
            font-size: 26px;
        }

        & h2 {
            font-size: 22px;
        }

        & h3 {
            font-size: 20px;
        }

        & h4 {
            font-size: 18px;
        }

        & h5 {
            font-size: 16px;
        }

        & h6 {
            font-size: 14px;
        }
    }

    & .table {
        overflow-x: auto;
    }

    & blockquote {
        background-color: #F9F7FF;
        margin: 0;
        padding: 20px 20px 20px 56px;
        border-radius: 8px;
        background-repeat: no-repeat;
        background-position: 20px 22px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjkwNCAyLjIwNmExMS41IDExLjUgMCAxMTEuOTEgMTkuNzE2bC02LjQ5MyAyLjJhMSAxIDAgMDEtMS4yNjgtMS4yNjdsMi4yMDEtNi40OTNhMTEuNSAxMS41IDAgMDEzLjY1LTE0LjE1NnptNy41MS0uMTc3YTkuNSA5LjUgMCAwMC05LjE5IDEzLjgwNyAxIDEgMCAwMS4wNTYuNzc3bC0xLjY4MyA0Ljk2NSA0Ljk2NS0xLjY4M2ExIDEgMCAwMS43NzguMDU4IDkuNSA5LjUgMCAxMDUuMDc1LTE3LjkyNHptLS43NDcgMy44MTRhMSAxIDAgMDExIDF2NC42NjZhMSAxIDAgMTEtMiAwVjYuODQyYTEgMSAwIDAxMS0xem0tMSAxMC4zMzNhMSAxIDAgMDExLTFoLjAxYTEgMSAwIDAxMCAyaC0uMDFhMSAxIDAgMDEtMS0xeiIgZmlsbD0iIzdCNjFGRiIvPjwvc3ZnPg==);
        margin: 20px 0;

        & strong {
            width: 100%;
            padding-bottom: 6px;
        }

        & p:last-child {
            margin-bottom: 0;
        }
    }

    & table {



        margin: 35px 0;
        width: 100%;
        min-width: 600px;
        border-radius: 8px;

        & th {
            padding: 8px 15px;
            background-color: #f5f5f5;
            color: #000;
            text-decoration: transparent;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            text-align: left;
            border: 1px solid #E0E0E0;
            border-bottom-color: transparent;
            font-weight: 700;

            @media screen and (min-width: $w992) {
                font-size: 16px;
            }


            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 12px 15px;

            }


        }

        & td {
            padding: 8px 15px;
            border: 1px solid #E0E0E0;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            min-width: 150px;


            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 12px 15px;

            }

            & strong {
                display: block;

            }

            &:first-child {
                font-weight: normal;
            }
        }

        & tr {
            &:hover {
                & td {
                    background-color: #f5f5f5;
                }
            }
        }

    }

    & a {
        color: $accent-2-1;
        //text-decoration: underline;
    }

    & div:not([class]),
    & p {
        margin: 10px 0;
        line-height: 175%;
    }

    & ul {

        padding: 20px 0;

        @media screen and (min-width: $w760) {
            padding-top: 20px;
        }

        & li {

            position: relative;
            padding-left: 1em;
            padding-bottom: 8px;


            & p {
                margin: 0
            }


            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: '';
                width: 4px;
                height: 4px;
                display: block;
                position: absolute;
                left: 0;
                top: 0.75em;
                border-radius: 50%;
                background-color: $accent-2-1;

                @media screen and (min-width: $w992) {
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }

    & img {
        width: auto;
        max-width: 100%;
        border-radius: 0px;
        margin: 35px 0;
    }

    & ol {
        counter-reset: number-list 00;
        padding: 20px 0;

        &>li {

            counter-increment: number-list 1;
            list-style-type: none;
            position: relative;
            margin-bottom: 15px;
            color: #000;
            padding-left: 20px;
            font-size: 14px;

            @media screen and (min-width: $w760) {
                font-size: 15px;
                padding-left: 30px;
            }



            &::before {
                content: counter(number-list);
                color: $main;
                font-weight: bold;
                min-width: 35px;
                display: inline-block;
                position: absolute;
                left: 0;

                @media screen and (min-width: $w760) {}
            }
        }
    }

    & strong {
        font-weight: 800;
    }
}


/* =========================================== */
/* =========================================== */

@mixin section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w1440) {
        font-size: 48px;
    }
}

@mixin section-title-site {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w992) {
        font-size: 48px;
    }

    @media screen and (min-width: $w1440) {
        font-size: 60px;
    }
}

@mixin section-title-h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w1440) {
        font-size: 28px;
    }
}

@mixin section-title-h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w576) {
        font-size: 24px;
    }
}

@mixin section-subtitle {
    font-weight: bold;
    font-size: 26px;
    line-height: 117.2%;
    color: #1B1A1C;

    @media screen and (min-width: $w992) {
        font-size: 48px;
    }

}

@mixin section-label {
    display: none;

    @media screen and (min-width: $w760) {
        padding-bottom: 15px;
        display: block;

        & span {
            padding: 7px 16px;
            background: #BF3232;
            border-radius: 10px;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
        }
    }

}


@mixin section-padding {
    padding: 55px 0;

    @media screen and (min-width: $w576) {
        padding: 70px 0;
    }
}


@mixin font-h1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }

    @media screen and (min-width: $w1200) {
        font-size: 44px;
    }
}

@mixin font-h1-inners {
    font-weight: 800;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }

    @media screen and (min-width: $w1200) {
        font-size: 36px;
    }
}

@mixin font-h2 {
    font-weight: 900;
    font-size: 20px;
    line-height: 121%;

    @media screen and (min-width: $w760) {
        font-size: 28px;
    }
}

@mixin font-h3 {


    font-weight: 800;
    font-size: 18px;
    line-height: 160%;

    @media screen and (min-width: $w576) {
        font-size: 20px;
    }


}


table {

    border: none;
    border-collapse: collapse;
    margin: 35px 0;
    width: 100%;
    min-width: 600px;

    & th {
        padding: 13px 25px;
        background-color: #F5F5F5;
        border: none;
        color: #838383;
        font-size: 14px;
        font-weight: normal;
        text-align: left;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;

        }


    }

    & td {
        padding: 15px 25px;
        border-bottom: 1px solid #CFCFCF;
        font-size: 14px;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;

        }

        & strong {
            display: block;
            margin-bottom: 10px;
        }

        &:first-child {
            font-weight: bold;
        }
    }

}


.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.body-store-home {
    background-color: $violet-1-1;
    touch-action: pan-x;
}

.overflow--hidden {
    overflow: hidden !important;
}

.overflow--hidden-fixed {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overflow--hidden-scrollBar {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.safari-fixed {
    height: calc(100vh - 1px);
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}